Repository kubevirt/kubevirt, pull requests merged in 2024-12, with the labels that each got.

#13333 refactor(CNV-51887): move libdv out of functional tests
  pkg/libdv/BUILD.bazel
  pkg/libdv/OWNERS
  pkg/libdv/dv.go
  tests/BUILD.bazel
  tests/clone_test.go
  tests/instancetype/BUILD.bazel
  tests/instancetype/instancetype.go
  tests/migration/BUILD.bazel
  tests/migration/migration.go
  tests/migration/postcopy.go
  tests/pool_test.go
  tests/storage/BUILD.bazel
  tests/storage/datavolume.go
  tests/storage/export.go
  tests/storage/hotplug.go
  tests/storage/migration.go
  tests/storage/restore.go
  tests/storage/snapshot.go
  tests/storage/storage.go
  tests/virtiofs/BUILD.bazel
  tests/virtiofs/datavolume.go
  tests/vm_test.go
  tests/vmi_configuration_test.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute

#13367 Improve container ready check
  pkg/virt-handler/container-disk/mount.go
  pkg/virt-handler/container-disk/mount_test.go
Labels: kind/bug, size/M, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#13305 VMRestore: remove VMSnapshot logic from vmrestore webhook
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
  pkg/storage/snapshot/snapshot.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter_test.go
  tests/storage/restore.go
Labels: size/L, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, kind/cleanup

#13378 cleanup(virtctl,tests): Move virtctl vnc tests and apply cleanups
  tests/BUILD.bazel
  tests/virtctl/BUILD.bazel
  tests/virtctl/vnc.go
  tests/vnc_test.go
Labels: size/L, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13395 tests, network: Format codebase using `gofumpt`
  tests/network/bindingplugin.go
  tests/network/bindingplugin_macvtap.go
  tests/network/bindingplugin_passt.go
  tests/network/bindingplugin_slirp.go
  tests/network/hotplug_bridge.go
  tests/network/hotplug_sriov.go
  tests/network/networkpolicy.go
  tests/network/port_forward.go
  tests/network/primary_pod_network.go
  tests/network/probes.go
  tests/network/sriov.go
  tests/network/vmi_istio.go
  tests/network/vmi_multus.go
  tests/network/vmi_networking.go
  tests/network/vmi_subdomain.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13247 vmi-create-admitter_test refactor: refactor eviction context tests
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13384 cleanup(tests,virtctl): Move guestsfs functests and apply cleanups
  tests/storage/BUILD.bazel
  tests/storage/guestfs.go
  tests/virtctl/BUILD.bazel
  tests/virtctl/guestfs.go
Labels: size/L, sig/storage, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13405 tests/monitoring: Remove lambda functions
  tests/monitoring/monitoring.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, sig/testing, sig/observability

#13252 Unconditionally disable libvirt's VMPort feature which is relevant for VMWare only
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/defaults.go
  pkg/virt-launcher/virtwrap/api/defaults_test.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/api/schema_test.go
  pkg/virt-launcher/virtwrap/api/testdata/domain_arm64.xml.tmpl
  pkg/virt-launcher/virtwrap/api/testdata/domain_ppc64le.xml.tmpl
  pkg/virt-launcher/virtwrap/api/testdata/domain_x86_64.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_arm64.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_ppc64le.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_s390x.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_x86_64.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_x86_64_root.xml.tmpl
  pkg/virt-launcher/virtwrap/libvirtxml/convert.go
Labels: size/M, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#13392 Refactor unit tests to use libvmi for resource creation in unpause_test.go
  pkg/virtctl/unpause/BUILD.bazel
  pkg/virtctl/unpause/unpause_test.go
Labels: size/S, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13409 fix(tests,vsock): Attach /dev/null to netcat's stdin
  tests/vmi_vsock_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13426 watch/migration: bug-fix prevent status updates for finalized migrations
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
Labels: kind/bug, size/M, area/controller, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#13427 e2e migration: fix ip check between vmi and pod
  tests/migration/migration.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/failing-test

#12705 Auto-configure parallel QEMU-level migration threads (a.k.a. multifd)
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/manager_test.go
  tests/migration/BUILD.bazel
  tests/migration/migration.go
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#11833 Introduce a AllowWorkloadDisruption option
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-config/virt-config.go
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/manager_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/api/migrations/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/migrations/v1alpha1/types.go
  staging/src/kubevirt.io/api/migrations/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/libmigration/migration.go
  tests/migration/BUILD.bazel
  tests/migration/paused.go
  tests/migration/postcopy.go
Labels: size/L, area/controller, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem, needs-approver-review

#13276 virt-launcher/virtwrap - run unit tests in parallel
  pkg/virt-launcher/virtwrap/BUILD.bazel
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, needs-approver-review

#13441 [release-1.4] watch/migration: bug-fix prevent status updates for finalized migrations
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
Labels: kind/bug, size/M, area/controller, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#13404 vmi-create-admitter_test refactor: refactor vmi metadata context tests
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13263 virt-handler: mount all of /var/lib/kubelet
  cmd/virt-handler/virt-handler.go
  pkg/util/util.go
  pkg/virt-operator/resource/generate/components/daemonsets.go
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes, needs-approver-review

#13396 vmi-create-admitter_test refactor: refactor probe context tests
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13308 [release-1.3] Avoid NPE when getting filesystem overhead
  pkg/storage/types/BUILD.bazel
  pkg/storage/types/cdi.go
  pkg/storage/types/cdi_test.go
  pkg/virt-controller/watch/vmi.go
Labels: kind/bug, size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem

#13410 [release-1.4] VMSnapshot: propagate freeze error failure
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/source.go
  staging/src/kubevirt.io/client-go/kubecli/handler.go
  tests/storage/snapshot.go
Labels: size/M, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#13430 tests, net, sriov: remove use GetRunningVMIDomainSpec
  tests/network/sriov.go
Labels: size/S, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13250 Add virt-handler cpu and memory usage metrics
  hack/kwok-perftests.sh
  tools/perfscale-audit/api/api.go
  tools/perfscale-audit/metric-client/metric-client.go
Labels: kind/enhancement, size/M, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, sig/buildsystem, sig/scale, sig/observability

#13417 [Tests]Add process logs for test artifacts and virt-launcher debugging
  tests/reporter/kubernetes.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/observability

#13458 netpod, managedTap: Add ArpIgnore
  pkg/network/setup/netpod/netpod.go
  pkg/network/setup/netpod/netpod_test.go
Labels: kind/enhancement, sig/network, release-note, size/XS, lgtm, approved, dco-signoff: yes

#13462 e2e,migration: Quarantine very flaky migration test with paused VMI
  tests/migration/paused.go
Labels: priority/critical-urgent, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13281 tests, net, vmi_networking: Unify vNIC vendor validation tests
  tests/network/vmi_networking.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13461 [release-1.4] netpod, managedTap: Add ArpIgnore
  pkg/network/setup/netpod/netpod.go
  pkg/network/setup/netpod/netpod_test.go
Labels: sig/network, release-note, size/XS, lgtm, approved, dco-signoff: yes

#13424 Virt handler fixes and cleanup
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/guestagent.go
  pkg/virt-handler/heartbeat/BUILD.bazel
  pkg/virt-handler/heartbeat/heartbeat.go
  pkg/virt-handler/non-root.go
  pkg/virt-handler/realtime.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Labels: kind/bug, release-note, size/XXL, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#13455 fix: Use IoctlGetUInt32 instead of IoctlGetInt for fetching the logicalSize and physicalSize.
  pkg/virt-launcher/virtwrap/converter/converter.go
Labels: kind/bug, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13453 lint: Increase linter coverage of test code to cover decorators, libvmops and usb
  hack/lint-paths.txt
  tests/decorators/decorators.go
  tests/libvmops/lifecycle.go
  tests/libvmops/run.go
  tests/usb/usb.go
  tests/virtctl/scp.go
  tests/virtctl/ssh.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing, sig/buildsystem

#13326 Tests: Address bug in quarantined export tests
  tests/storage/export.go
Labels: kind/bug, size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#13386 Ensure IP not empty in kubevirt_vmi_status_addresses metric
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
Labels: kind/bug, size/M, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#13390 e2e console: Mark conformance tests
  tests/compute/console.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing

#13419 cleanup(virtctl): Drop pkg/virtctl/utils
  pkg/virtctl/imageupload/BUILD.bazel
  pkg/virtctl/imageupload/imageupload_test.go
  pkg/virtctl/utils/BUILD.bazel
  pkg/virtctl/utils/test_utils.go
Labels: size/L, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes

#13415 Make virtctl helpers unexported and move them to testing package
  pkg/virtctl/adm/logverbosity/BUILD.bazel
  pkg/virtctl/adm/logverbosity/logverbosity_test.go
  pkg/virtctl/create/clone/BUILD.bazel
  pkg/virtctl/create/clone/clone_test.go
  pkg/virtctl/create/instancetype/BUILD.bazel
  pkg/virtctl/create/instancetype/instancetype_test.go
  pkg/virtctl/create/preference/BUILD.bazel
  pkg/virtctl/create/preference/preference_test.go
  pkg/virtctl/create/vm/BUILD.bazel
  pkg/virtctl/create/vm/vm_test.go
  pkg/virtctl/credentials/addkey/BUILD.bazel
  pkg/virtctl/credentials/addkey/addkey_test.go
  pkg/virtctl/credentials/password/BUILD.bazel
  pkg/virtctl/credentials/password/password_test.go
  pkg/virtctl/credentials/removekey/BUILD.bazel
  pkg/virtctl/credentials/removekey/removekey_test.go
  pkg/virtctl/expose/BUILD.bazel
  pkg/virtctl/expose/expose_test.go
  pkg/virtctl/guestfs/BUILD.bazel
  pkg/virtctl/guestfs/guestfs_test.go
  pkg/virtctl/imageupload/BUILD.bazel
  pkg/virtctl/imageupload/imageupload_test.go
  pkg/virtctl/memorydump/BUILD.bazel
  pkg/virtctl/memorydump/memorydump_test.go
  pkg/virtctl/pause/BUILD.bazel
  pkg/virtctl/pause/pause_test.go
  pkg/virtctl/softreboot/BUILD.bazel
  pkg/virtctl/softreboot/softreboot_test.go
  pkg/virtctl/testing/BUILD.bazel
  pkg/virtctl/testing/testing.go
  pkg/virtctl/unpause/BUILD.bazel
  pkg/virtctl/unpause/unpause_test.go
  pkg/virtctl/vm/BUILD.bazel
  pkg/virtctl/vm/add_volume_test.go
  pkg/virtctl/vm/expand_test.go
  pkg/virtctl/vm/fs_list_test.go
  pkg/virtctl/vm/guestosinfo_test.go
  pkg/virtctl/vm/migrate_cancel_test.go
  pkg/virtctl/vm/migrate_test.go
  pkg/virtctl/vm/remove_volume_test.go
  pkg/virtctl/vm/restart_test.go
  pkg/virtctl/vm/start_test.go
  pkg/virtctl/vm/stop_test.go
  pkg/virtctl/vm/user_list_test.go
  pkg/virtctl/vmexport/BUILD.bazel
  pkg/virtctl/vmexport/vmexport_test.go
  tests/clientcmd/BUILD.bazel
  tests/virtctl/BUILD.bazel
  tests/virtctl/cmd.go
  tests/virtctl/create_vm.go
  tests/virtctl/guestfs.go
  tests/virtctl/imageupload.go
  tests/virtctl/memorydump.go
  tests/virtctl/scp.go
  tests/virtctl/ssh.go
  tests/virtctl/vnc.go
Labels: sig/storage, area/virtctl, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/testing

#13418 chore(virtctl): Codify ownership of virtctl packages
  pkg/virtctl/expose/OWNERS
  pkg/virtctl/guestfs/OWNERS
  pkg/virtctl/imageupload/OWNERS
  pkg/virtctl/memorydump/OWNERS
  pkg/virtctl/scp/OWNERS
  pkg/virtctl/ssh/OWNERS
  pkg/virtctl/vmexport/OWNERS
  pkg/virtctl/vnc/OWNERS
Labels: size/M, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes

#13485 Add block label to some more tests
  tests/storage/storage.go
  tests/virtctl/guestfs.go
Labels: sig/storage, area/virtctl, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13469 fix(build-go): Set kubevirt::version::ldflags
  hack/build-go.sh
  pkg/virtctl/version/version_test.go
Labels: size/S, area/virtctl, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#13472 vmi-create-admitter_test.go: reduce duplication in unit tests
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13467 [release-1.3] VMSnapshot: propagate freeze error failure
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/source.go
  staging/src/kubevirt.io/client-go/kubecli/handler.go
  tests/storage/snapshot.go
Labels: kind/bug, size/M, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem

#13382 [Docs] Update VMRolloutStrategy documentation to include the VM liveUpdateable fields
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Labels: size/S, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/documentation

#13450 virtwrap, arm64: not add VMPort on Arm64 platform
  pkg/virt-launcher/virtwrap/api/defaults.go
  pkg/virt-launcher/virtwrap/api/schema_test.go
  pkg/virt-launcher/virtwrap/api/testdata/domain_arm64.xml.tmpl
  pkg/virt-launcher/virtwrap/api/testdata/domain_ppc64le.xml.tmpl
  pkg/virt-launcher/virtwrap/api/testdata/domain_x86_64.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/amd64.go
  pkg/virt-launcher/virtwrap/converter/archconverter.go
  pkg/virt-launcher/virtwrap/converter/arm64.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/ppc64le.go
  pkg/virt-launcher/virtwrap/converter/s390x.go
  pkg/virt-launcher/virtwrap/converter/testdata/domain_arm64.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_ppc64le.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_s390x.xml.tmpl
Labels: size/M, priority/critical-urgent, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#13468 [release-1.2] VMSnapshot: propagate freeze error failure
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/source.go
  staging/src/kubevirt.io/client-go/kubecli/handler.go
  tests/storage/snapshot.go
Labels: size/M, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/buildsystem

#13494 [release-1.4] Add block label to some more tests
  tests/storage/guestfs.go
  tests/storage/storage.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13218 tests, network, vmi_networking: Combine redundant tests of VMIs without network
  tests/network/BUILD.bazel
  tests/network/vmi_networking.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, triage/duplicate, kind/cleanup, sig/testing

#13452 unit, arm64: skip cpu hotplug unit test on Arm64
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Labels: priority/critical-urgent, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13448 [release-1.1] watch/migration: bug-fix prevent status updates for finalized migrations
  pkg/virt-controller/watch/migration.go
  pkg/virt-controller/watch/migration_test.go
Labels: kind/bug, size/M, area/controller, release-note, lgtm, approved, dco-signoff: yes

#13391 e2e guestlog: Cleanup
  tests/guestlog/guestlog.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13175 docs, debug: explain how to use dlv debugger
  docs/debugging.md
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/documentation

#13490 add test_id to virtctl tests
  tests/virtctl/create_vm.go
  tests/virtctl/guestfs.go
  tests/virtctl/imageupload.go
  tests/virtctl/memorydump.go
  tests/virtctl/scp.go
  tests/virtctl/ssh.go
  tests/virtctl/vnc.go
Labels: size/M, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13502 deps: Update golang.org/x/crypto to v0.31.0 to resolve high vulnerability
  go.mod
  go.sum
  vendor/golang.org/x/crypto/chacha20/BUILD.bazel
  vendor/golang.org/x/crypto/chacha20/chacha_noasm.go
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64x.go
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64x.s
  vendor/golang.org/x/crypto/internal/poly1305/BUILD.bazel
  vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64x.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64x.s
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/sys/cpu/BUILD.bazel
  vendor/golang.org/x/sys/cpu/asm_darwin_x86_gc.s
  vendor/golang.org/x/sys/cpu/cpu_darwin_x86.go
  vendor/golang.org/x/sys/cpu/cpu_gc_x86.go
  vendor/golang.org/x/sys/cpu/cpu_gc_x86.s
  vendor/golang.org/x/sys/cpu/cpu_gccgo_x86.go
  vendor/golang.org/x/sys/cpu/cpu_linux_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_other_x86.go
  vendor/golang.org/x/sys/cpu/cpu_x86.go
  vendor/golang.org/x/sys/cpu/syscall_darwin_x86_gc.go
  vendor/golang.org/x/sys/unix/ioctl_linux.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/syscall_zos_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/ztypes_darwin_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_darwin_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/unix/ztypes_zos_s390x.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/golang.org/x/term/README.md
  vendor/modules.txt
Labels: size/XXL, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes

#13503 e2e,migrations: Quarantine very flaky paused VMI migration tests
  tests/migration/paused.go
Labels: priority/critical-urgent, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13437 Remove deprecated DataVolume garbage collection tests
  api/openapi-spec/swagger.json
  hack/cluster-deploy.sh
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/libstorage/BUILD.bazel
  tests/libstorage/datavolume.go
  tests/migration/migration.go
  tests/migration/postcopy.go
  tests/pool_test.go
  tests/storage/datavolume.go
  tests/storage/hotplug.go
  tests/storage/restore.go
  tests/storage/snapshot.go
  tests/storage/storage.go
  tests/virtctl/imageupload.go
  tests/virtiofs/datavolume.go
  tests/vm_test.go
  tests/vmi_configuration_test.go
Labels: size/L, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, kind/deprecation, sig/buildsystem

#13482 Status label value in kubevirt_vm_info metric should be in lower case
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Labels: kind/enhancement, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#13237 Fix usable disk size calculation during expansion
  pkg/virt-launcher/virtwrap/manager.go
  tests/storage/datavolume.go
Labels: kind/bug, size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, needs-approver-review

#13513 [release-1.3] Fix usable disk size calculation during expansion
  pkg/virt-launcher/virtwrap/manager.go
  tests/storage/datavolume.go
Labels: kind/bug, size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#13512 [release-1.4] Fix usable disk size calculation during expansion
  pkg/virt-launcher/virtwrap/manager.go
  tests/storage/datavolume.go
Labels: kind/bug, size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#13460 Export: Support exporting backend storage PVC
  pkg/storage/export/export/BUILD.bazel
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/storage/export/export/vm-source.go
  pkg/storage/export/export/vm-source_test.go
  pkg/storage/export/export/vmsnapshot-source.go
  pkg/storage/export/virt-exportserver/exportserver.go
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/snapshot.go
  pkg/storage/utils/BUILD.bazel
  pkg/storage/utils/volumes.go
  pkg/storage/utils/volumes_test.go
  tests/storage/export.go
Labels: kind/enhancement, size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#13309 [release-1.2] Avoid NPE when getting filesystem overhead
  pkg/storage/types/BUILD.bazel
  pkg/storage/types/cdi.go
  pkg/storage/types/cdi_test.go
  pkg/virt-controller/watch/vmi.go
Labels: kind/bug, size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem

#13429 Remove usage of deprecated .spec.running field
  docs/devel/virtual-machine.md
  docs/probes.md
  examples/vm-pool-cirros.yaml
  pkg/virt-controller/watch/testing/testing.go
  pkg/virt-controller/watch/vm/vm_test.go
  tools/vms-generator/utils/utils.go
Labels: size/M, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, sig/documentation, sig/scale

#13521 General cleanup: Remove unused constants & redundant condition checks
  pkg/cloud-init/cloud-init.go
  pkg/network/setup/network_test.go
  pkg/network/setup/podnic_test.go
  pkg/network/vmispec/interface_test.go
  pkg/virt-handler/container-disk/mount.go
  pkg/virt-operator/resource/apply/admissionregistration_test.go
  pkg/virt-operator/resource/apply/apiservices.go
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/resource/apply/delete.go
  pkg/virt-operator/resource/generate/install/strategy.go
  tests/network/probes.go
  tests/storage/events.go
  tests/storage/hotplug.go
  tests/storage/migration.go
Labels: size/M, sig/network, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#13510 [release-1.0] watch/migration: bug-fix prevent status updates for finalized migrations
  pkg/virt-controller/watch/migration.go
  pkg/virt-controller/watch/migration_test.go
Labels: kind/bug, size/M, area/controller, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#13416 chore(tests,virtctl): Add virtctl label and VirtctlDescribe
  tests/decorators/decorators.go
  tests/virtctl/BUILD.bazel
  tests/virtctl/create_vm.go
  tests/virtctl/framework.go
  tests/virtctl/guestfs.go
  tests/virtctl/imageupload.go
  tests/virtctl/memorydump.go
  tests/virtctl/scp.go
  tests/virtctl/ssh.go
  tests/virtctl/vnc.go
Labels: size/M, sig/storage, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/testing

#13470 cleanup(virtctl): Move checkClientServerVersion and apply cleanups to root.go
  cmd/virtctl/virtctl.go
  pkg/virtctl/BUILD.bazel
  pkg/virtctl/root.go
  pkg/virtctl/root_test.go
  pkg/virtctl/version/BUILD.bazel
  pkg/virtctl/version/version.go
  pkg/virtctl/version/version_suite_test.go
  pkg/virtctl/version/version_test.go
Labels: size/L, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/buildsystem

#13493 Explicitly request RWO storage for tests
  tests/migration/migration.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13505 export tests: ensure pod readiness before command exec
  tests/storage/export.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13528 Drop [serial] text from test
  tests/storage/export.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13361 [release 1.3] Fix Hotplug disk to VM adds RestartRequired condition
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
Labels: size/L, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13144 Remove some Skips
  automation/test.sh
  tests/canary_upgrade_test.go
  tests/decorators/decorators.go
  tests/framework/checks/skips.go
  tests/hyperv_test.go
  tests/instancetype/BUILD.bazel
  tests/instancetype/instancetype.go
  tests/launchsecurity/BUILD.bazel
  tests/launchsecurity/sev.go
  tests/migration/migration.go
  tests/network/sriov.go
  tests/numa/BUILD.bazel
  tests/numa/numa.go
  tests/operator/operator.go
  tests/performance/BUILD.bazel
  tests/performance/realtime.go
  tests/realtime/BUILD.bazel
  tests/realtime/realtime.go
  tests/testsuite/fixture.go
  tests/testsuite/kubevirtresource.go
  tests/virt_control_plane_test.go
  tests/virtiofs/BUILD.bazel
  tests/virtiofs/config.go
  tests/vmi_configuration_test.go
  tests/vmi_iothreads_test.go
  tests/vmi_lifecycle_test.go
  tests/vmi_vsock_test.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/testing, sig/buildsystem, sig/scale, needs-approver-review

#13431 Add a metric that reports the VM create date
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Labels: kind/enhancement, size/L, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#13518 [virt-controller]Fix bug by checking if PVC is nil
  pkg/virt-controller/services/template.go
Labels: kind/bug, area/controller, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13527 [release-1.4] Export: Support exporting backend storage PVC
  pkg/storage/export/export/BUILD.bazel
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/storage/export/export/vm-source.go
  pkg/storage/export/export/vm-source_test.go
  pkg/storage/export/export/vmsnapshot-source.go
  pkg/storage/export/virt-exportserver/BUILD.bazel
  pkg/storage/export/virt-exportserver/exportserver.go
  pkg/storage/utils/BUILD.bazel
  pkg/storage/utils/utils_suite_test.go
  pkg/storage/utils/volumes.go
  pkg/storage/utils/volumes_test.go
  tests/storage/export.go
Labels: kind/bug, sig/storage, size/XL, release-note, lgtm, approved, dco-signoff: yes

#13529 Provide better identification of our test suite
  tests/tests_suite_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13538 virt-launcher monitor unit tests: increase timeout to reduce flakiness
  pkg/virt-launcher/monitor_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13544 backend-storage: add missing check for persistent EFI
  pkg/storage/backend-storage/backend-storage.go
Labels: kind/bug, sig/storage, priority/critical-urgent, release-note, size/XS, lgtm, approved, dco-signoff: yes

#13530 Conformance: Integrate with label filter
  tests/conformance/conformance.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13553 virt-launcher, sriov: Add OWNERS file
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/OWNERS
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13554 Add sig-compute OWNERS to sub-directories
  cmd/fake-qemu-process/OWNERS
  cmd/virt-chroot/OWNERS
  cmd/virt-handler/OWNERS
  cmd/virt-launcher-monitor/OWNERS
  cmd/virt-launcher/OWNERS
  pkg/hooks/OWNERS
  pkg/virt-handler/virt-chroot/OWNERS
  pkg/virt-launcher/OWNERS
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13486 console tests: increase timeout
  tests/compute/console.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13547 fix(virtctl,create): Validate names of disks
  pkg/virtctl/create/vm/BUILD.bazel
  pkg/virtctl/create/vm/vm.go
  pkg/virtctl/create/vm/vm_test.go
Labels: kind/bug, size/M, area/virtctl, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#13125 tests/infrastructure: Simplify virt controller recovery test
  tests/infrastructure/virt-controller-leader-election.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13496 fix(virtctl,expose): Use vm.kubevirt.io/name as label selector
  pkg/virtctl/expose/expose.go
  pkg/virtctl/expose/expose_test.go
Labels: kind/bug, size/L, sig/network, area/virtctl, release-note, lgtm, approved, dco-signoff: yes

#13420 [release 1.4] VMRestore: allow creating vmrestore even if runstrategy is not Halted
  pkg/storage/snapshot/restore.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter_test.go
  tests/storage/restore.go
Labels: kind/bug, size/M, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#13555 fix(virtctl): Ensure the log verbosity flag is supported
  pkg/virtctl/BUILD.bazel
  pkg/virtctl/root.go
  pkg/virtctl/root_test.go
Labels: kind/enhancement, size/S, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes

#13558 [release-1.4] fix(virtctl): Ensure the log verbosity flag is supported
  pkg/virtctl/BUILD.bazel
  pkg/virtctl/root.go
  pkg/virtctl/root_test.go
Labels: kind/enhancement, size/S, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes

#13509 instancetype: Move upgrade tests into subpackage
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/upgrade/BUILD.bazel
  pkg/instancetype/upgrade/upgrade_suite_test.go
  pkg/instancetype/upgrade/upgrade_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute, sig/testing

#13542 passt binding plugin, e2e: Drop expectation for IP refresh
  tests/network/bindingplugin_passt.go
Labels: size/S, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13568 deps: Update golang.org/x/net to v0.33.0 to resolve high vulnerability
  go.mod
  go.sum
  staging/src/kubevirt.io/api/go.mod
  staging/src/kubevirt.io/api/go.sum
  staging/src/kubevirt.io/client-go/go.mod
  staging/src/kubevirt.io/client-go/go.sum
  vendor/golang.org/x/net/html/BUILD.bazel
  vendor/golang.org/x/net/html/doc.go
  vendor/golang.org/x/net/html/doctype.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/iter.go
  vendor/golang.org/x/net/html/node.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/http2/BUILD.bazel
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/unencrypted.go
  vendor/golang.org/x/net/internal/socket/zsys_openbsd_ppc64.go
  vendor/golang.org/x/net/internal/socket/zsys_openbsd_riscv64.go
  vendor/modules.txt
Labels: size/XL, priority/critical-urgent, release-note-none, kind/api-change, lgtm, approved, kind/build-change, dco-signoff: yes

#13581 fix: resolve critical issue with keyboard input for s390x
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/s390x.go
  pkg/virt-launcher/virtwrap/converter/testdata/domain_s390x.xml.tmpl
Labels: kind/bug, size/S, area/launcher, priority/critical-urgent, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13474 Cleanup and reduce flakiness of some post-copy migration functests
  tests/framework/matcher/phase.go
  tests/libmigration/migration.go
  tests/libpod/render.go
  tests/migration/eviction_strategy.go
  tests/migration/migration.go
  tests/migration/paused.go
  tests/migration/postcopy.go
Labels: size/L, priority/critical-urgent, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing, kind/flake

#13473 storage tests: remove standalone nfs access tests via ipv4/ipv6
  BUILD.bazel
  WORKSPACE
  hack/bazel-push-images.sh
  hack/config-default.sh
  images/disks-images-provider/entrypoint.sh
  images/nfs-server/BUILD.bazel
  images/nfs-server/entrypoint.sh
  tests/framework/storage/BUILD.bazel
  tests/framework/storage/nfs.go
  tests/libstorage/BUILD.bazel
  tests/libstorage/pvc.go
  tests/storage/BUILD.bazel
  tests/storage/datavolume.go
  tests/storage/storage.go
  tests/testsuite/fixture.go
Labels: size/L, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#13487 virt-controller, vmi controller: Decouple network-validator
  pkg/network/admitter/validator.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Labels: size/M, sig/network, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13388 virt-api, webhooks: Decouple VMICreateAdmitter & network validator
  pkg/network/admitter/validator.go
  pkg/virt-api/BUILD.bazel
  pkg/virt-api/api.go
  pkg/virt-api/webhooks/fuzz/BUILD.bazel
  pkg/virt-api/webhooks/fuzz/fuzz_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/validating-webhook.go
Labels: size/M, sig/network, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13532 VMI create admitter: Remove getNumberOfPodInterfaces
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#13590 tests/libnode: Unify exec command on node functions
  tests/libnode/node.go
  tests/mdev_configuration_allocation_test.go
  tests/swap_test.go
  tests/virt-handler_test.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13506 [release-1.3] Add kubevirt_vm_resource_requests metric
  docs/metrics.md
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
  tests/monitoring/metrics.go
Labels: kind/enhancement, size/L, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability, needs-approver-review

#13594 VMI update admitter: Rm call to deprecated IsKubeVirtServiceAccount
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter_test.go
Labels: size/S, area/api-server, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#13573 Fix: corrected the typo in "Timeout" in the vnc_test
  tests/vnc_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13602 virt-api: Remove the deprecated IsKubeVirtServiceAccount function
  pkg/virt-api/api.go
  pkg/virt-api/webhooks/BUILD.bazel
  pkg/virt-api/webhooks/fuzz/fuzz_test.go
  pkg/virt-api/webhooks/utils.go
  pkg/virt-api/webhooks/utils_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmpool-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmpool-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/validating-webhook.go
  tools/vms-generator/vms-generator.go
Labels: size/L, area/api-server, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/scale

#13599 remove unused functions RunCommandPipe BePresent WithAcceptRA
  tests/clientcmd/command.go
  tests/framework/matcher/existence.go
  tests/libnet/cloudinit/cloudinit.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13271 e2e,network: Remove skip in bridge binding TCP conn. tests
  tests/network/vmi_networking.go
Labels: size/S, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13588 feat: pass timeout from virt-monitor to virt-tail
  cmd/virt-tail/main.go
  pkg/virt-controller/services/serialconsolelog.go
  pkg/virt-controller/services/template.go
Labels: kind/enhancement, size/M, release-note, lgtm, approved, dco-signoff: yes

#13556 VMI ctrl: Report PodInterfaceNames for secondary networks
  pkg/network/setup/netstat.go
  pkg/network/setup/netstat_test.go
  pkg/network/vmicontroller/status.go
  pkg/network/vmicontroller/status_test.go
  tests/libnet/BUILD.bazel
  tests/libnet/hotplug.go
  tests/network/vmi_infosource.go
Labels: size/L, sig/network, area/controller, release-note-none, lgtm, approved, dco-signoff: yes

#13596 Fix validateDataVolume function to allow externally populated Data Volume
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
Labels: kind/bug, area/api-server, sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13165 [Tests]Remove migration test skips
  tests/README.md
  tests/framework/checks/skips.go
  tests/kubectl_test.go
  tests/migration/eviction_strategy.go
  tests/migration/migration.go
  tests/migration/paused.go
  tests/migration/postcopy.go
  tests/monitoring/vm_monitoring.go
  tests/network/bindingplugin_macvtap.go
  tests/network/vmi_istio.go
  tests/network/vmi_networking.go
  tests/storage/migration.go
  tests/swap_test.go
  tests/vmi_hook_sidecar_test.go
  tests/vmi_tpm_test.go
  tests/vmi_vsock_test.go
Labels: size/L, sig/network, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing, sig/observability

#13277 net annotations-gen: Cleanup NIC hotplug / unplug logic
  pkg/network/pod/annotations/BUILD.bazel
  pkg/network/pod/annotations/generator.go
  pkg/network/pod/annotations/generator_test.go
  pkg/network/vmispec/BUILD.bazel
  pkg/network/vmispec/hotplug.go
  pkg/network/vmispec/hotplug_test.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#12469 [Tests]monitoring/vm_monitoring.go:Reduces API calls during the test
  tests/monitoring/vm_monitoring.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/observability

#13546 Adapt to crun transition period where it configures 2 cgroups
  cmd/virt-chroot/cgroup.go
  pkg/virt-handler/cgroup/cgroup_test.go
  pkg/virt-handler/cgroup/cgroup_v2_manager.go
Labels: kind/bug, size/M, release-note, lgtm, approved, dco-signoff: yes, sig/compute
