Repository kubevirt/kubevirt, pull requests merged in 2024-10, with the labels that each got.

#12866 [release-1.3] volume-migration: fix migration from source RWX volumes
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/storage/migration.go
Labels: size/M, sig/storage, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#12895 e2e, network: Remove VM Running API usage
  tests/network/hotplug_bridge.go
  tests/network/hotplug_sriov.go
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#12716 Update kubevirt_rest_client_request_latency_seconds to count list cal…
  pkg/monitoring/metrics/common/client/client_test.go
  pkg/monitoring/metrics/common/client/latency_adapter.go
  pkg/monitoring/metrics/common/client/rt_wrapper.go
Labels: size/L, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#12975 [node-labeller] fix hasTSCCounter nil pointer dereference
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
Labels: kind/bug, size/S, sig/virtualization, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#12976 OWNERS: Add lyarwood as sig-compute-reviewer
  OWNERS_ALIASES
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#12941 Fix wrong label order in kubevirt_vm_info
  go.mod
  go.sum
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/BUILD.bazel
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/collector.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/collector_result.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/counter.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/counter_vec.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/gauge.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/gauge_vec.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/histogram.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/histogram_vec.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/metric.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/summary.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/summary_vec.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/wrapper_registry.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatorrules/BUILD.bazel
  vendor/github.com/machadovilaca/operator-observability/pkg/operatorrules/compatibility.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatorrules/prometheusrules.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatorrules/registry.go
  vendor/modules.txt
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#12972 Replaced the deprecated package `k8s.io/utils/pointer` with kubevirt package in `test` and `tools` directory.
  tests/BUILD.bazel
  tests/framework/storage/BUILD.bazel
  tests/framework/storage/nfs.go
  tests/hyperv_test.go
  tests/io_utils.go
  tests/libstorage/BUILD.bazel
  tests/libstorage/pvc.go
  tests/operator/BUILD.bazel
  tests/operator/operator.go
  tests/storage/BUILD.bazel
  tests/storage/export.go
  tests/storage/hotplug.go
  tests/storage/snapshot.go
  tests/sysprep_test.go
  tests/testsuite/BUILD.bazel
  tests/testsuite/kubevirtresource.go
  tests/vm_state_test.go
  tests/vmi_multiqueue_test.go
  tests/vmi_vsock_test.go
  tools/vms-generator/utils/BUILD.bazel
  tools/vms-generator/utils/utils.go
Labels: size/L, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/scale

#12926 Nominate 0xFelix for sig-compute approver
  OWNERS_ALIASES
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#12993 e2e,compute: Quarantine very flaky usb redir test
  tests/usbredir_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#12986 instancetype: Do not overwrite EFI or BIOS with PreferredEfi
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
Labels: size/M, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#12959 typo fix in network binding plugin docs
  docs/network/network-binding-plugin.md
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/documentation

#13005 lint: Increase linter coverage of tests packages
  Makefile
  hack/lint-paths.txt
  tests/libssh/ssh.go
  tests/libwait/wait.go
  tests/scale/virt-api.go
Labels: size/M, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#12937 pkg/network: Break cyclic dependency
  pkg/network/multus/BUILD.bazel
  pkg/network/multus/status.go
  pkg/network/multus/status_test.go
  pkg/network/pod/annotations/BUILD.bazel
  pkg/network/pod/annotations/generator.go
  pkg/network/vmicontroller/BUILD.bazel
  pkg/network/vmicontroller/status.go
  pkg/virt-controller/network/BUILD.bazel
  pkg/virt-controller/network/vmcontroller.go
  pkg/virt-controller/watch/vmi/vmi.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes

#12851 volume-migration: append disk image for block replacement
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/manager_test.go
  tests/storage/migration.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#12900 [Tests]Remove UnfinishedVMIPodSelector from tests/utils.go
  tests/BUILD.bazel
  tests/network/vmi_networking.go
  tests/replicaset_test.go
  tests/utils.go
  tests/vm_test.go
  tests/vmi_configuration_test.go
  tests/vmi_hook_sidecar_test.go
  tests/vmi_lifecycle_test.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#12933 VM admitter: improve validation of datavolumetemplate
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Labels: size/L, sig/virtualization, area/api-server, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#12713 tests/operator, test_id:3145: Replace Update with Patch
  tests/operator/operator.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, needs-approver-review

#13013 [release 1.1] VMRestore: fix possible miss update of dvname on vmrestore restores - fixes quarantine tests
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
Labels: kind/bug, size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#13014 Add additional info to asser for test 4135
  tests/infrastructure/prometheus.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/observability

#12854 Conformance tests for pool_test and containerdisk
  tests/container_disk_test.go
  tests/pool_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13012 [release 1.2] VMRestore: fix possible miss update of dvname on vmrestore restores - fixes quarantine tests
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
Labels: kind/bug, size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#12897 tests/utils: Move MountCloudInitFunc to local files
  tests/network/sriov.go
  tests/utils.go
  tests/vmi_cloudinit_test.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#12864 volume-migration: avoid to start a vm on failed migration
  pkg/libvmi/status/status.go
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  tests/storage/migration.go
Labels: size/L, sig/storage, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#12992 Add a 'outdated' label to kubevirt_vmi_info metric
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
Labels: size/S, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#12943 config: Graduate GPU featuregate to GA
  pkg/virt-api/webhooks/fuzz/fuzz_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/deprecation/feature-gates.go
  pkg/virt-config/feature-gates.go
  tests/mdev_configuration_allocation_test.go
Labels: size/M, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#13021 Revert "Bump kubevirtci"
  cluster-up-sha.txt
  cluster-up/cluster/ephemeral-provider-common.sh
  cluster-up/cluster/kind-1.27-vgpu/config_vgpu_cluster.sh
  cluster-up/cluster/kind-1.27-vgpu/conformance.json
  cluster-up/cluster/kind-1.27-vgpu/image
  cluster-up/cluster/kind-1.27-vgpu/provider.sh
  cluster-up/cluster/kind-1.27-vgpu/version
  cluster-up/cluster/kind-1.27-vgpu/vgpu-node/node.sh
  cluster-up/hack/common.sh
  cluster-up/version.txt
  cluster-up/virtctl.sh
  hack/config-default.sh
Labels: size/L, priority/critical-urgent, release-note-none, lgtm, approved, dco-signoff: yes, kind/flake, sig/buildsystem, sig/ci

#12940 Deprecate DockerSELinuxMCS feature gate
  pkg/virt-api/webhooks/fuzz/fuzz_test.go
  pkg/virt-config/deprecation/feature-gates.go
  pkg/virt-config/feature-gates.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/template_test.go
Labels: size/S, area/api-server, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, kind/deprecation, sig/api

#12939 cleanup(virtctl,vmexport): Refactor and cleanup unit tests
  pkg/virtctl/memorydump/memorydump_test.go
  pkg/virtctl/utils/BUILD.bazel
  pkg/virtctl/utils/test_utils.go
  pkg/virtctl/vmexport/BUILD.bazel
  pkg/virtctl/vmexport/vmexport.go
  pkg/virtctl/vmexport/vmexport_test.go
Labels: sig/storage, area/virtctl, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, triage/duplicate, kind/cleanup, sig/testing

#12923 documentation error: reference to a file that does not exist
  docs/getting-started.md
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/documentation, needs-approver-review

#13007 Cleanups to virtctl create vm and its unit and func tests
  pkg/virtctl/create/vm/BUILD.bazel
  pkg/virtctl/create/vm/vm.go
  pkg/virtctl/create/vm/vm_test.go
  pkg/virtctl/create/vm/volume.go
  tests/virtctl/create_vm.go
Labels: area/virtctl, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, sig/testing

#13026 tests, vm_test: Remove tests that verifies basic k8s functionality
  tests/vm_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13034 [release-1.3] volume-migration: append disk image for block replacement
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/manager_test.go
  tests/storage/migration.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#12867 bazel-images: Split image targets per architecture
  BUILD.bazel
  cmd/sidecars/BUILD.bazel
  containerimages/container-disk-images.md
  hack/bazel-build-images.sh
  hack/bazel-push-images.sh
  hack/push-container-manifest.sh
Labels: size/L, release-note, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#12990 Revisit headless tests
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  tests/BUILD.bazel
  tests/virt-handler_test.go
  tests/vmi_headless_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13010 monitoring/vmistats_collector: update guest_os_machine label in vmi_info
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  pkg/monitoring/rules/recordingrules/vmi.go
  tests/monitoring/vm_monitoring.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/observability

#13025 tests/utils cleanup: remove GetRunningVirtualMachineInstanceDomainXML from vmi_cloud_init_test
  tests/vmi_cloudinit_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13038 Add linter coverage to pkg/network/multus
  hack/lint-paths.txt
  pkg/network/multus/BUILD.bazel
  pkg/network/multus/annotation.go
  pkg/network/multus/annotation_test.go
  pkg/network/multus/nad.go
  pkg/network/multus/nad_test.go
  pkg/virt-controller/network/render.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#13033 [release-1.3] VM admitter: improve validation of datavolumetemplate
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Labels: size/L, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#13015 tests,utils: Remove GenerateVMJson helper
  tests/storage/datavolume.go
  tests/utils.go
  tests/vm_test.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13040 Allow dots in VM volume names
  pkg/storage/export/export/export.go
Labels: size/S, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#12882 build: Build KubeVirt with go v1.22.8
  WORKSPACE
  hack/builder/Dockerfile
  hack/dockerized
Labels: release-note, size/XS, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#13047 virtctl, OWNERS: Add lyarwood as reviewer
  pkg/virtctl/OWNERS
Labels: area/virtctl, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#12997 rpm: Update virtualization packages
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Labels: size/XXL, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#12659 Ensure labels and selectors for export services and pods are under max length
  pkg/storage/export/export/BUILD.bazel
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/template.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, needs-approver-review

#13042 Fix warning message fix DockerSELinuxMCSWorkaround FG
  pkg/virt-config/deprecation/feature-gates.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/deprecation

#12733 Use usable size instead of requested capacity in disk expansion logic
  pkg/virt-launcher/virtwrap/manager.go
  tests/storage/datavolume.go
Labels: kind/bug, size/L, area/launcher, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#12829 fix(client-go): Use proxy from config if present
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/async.go
Labels: area/api-server, release-note, size/XS, kind/api-change, lgtm, approved, dco-signoff: yes

#13051 Test cleanup: Remove redundant volume discard test
  tests/storage/datavolume.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13008 feat(virtctl,create): Add flags to generate cloud-init config
  pkg/virtctl/create/vm/BUILD.bazel
  pkg/virtctl/create/vm/vm.go
  pkg/virtctl/create/vm/vm_test.go
  tests/libssh/BUILD.bazel
  tests/libssh/ssh.go
  tests/virtctl/create_vm.go
  tests/virtctl/ssh.go
Labels: kind/enhancement, sig/virtualization, area/virtctl, size/XL, release-note, lgtm, approved, dco-signoff: yes

#13032 e2e: Reduce number of e2e parallel nodes to improve stability
  hack/functests.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake, sig/buildsystem

#12853 Conformance tests for portforward_test
  tests/portforward_test.go
Labels: size/S, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#12989 tests/network: drop [test_id:1775]should not request a tun device
  tests/network/BUILD.bazel
  tests/network/vmi_networking.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#12855 Refactor and cleanup virtctl expose and its unit tests
  pkg/virtctl/expose/BUILD.bazel
  pkg/virtctl/expose/expose.go
  pkg/virtctl/expose/expose_test.go
  pkg/virtctl/root.go
  vendor/k8s.io/client-go/dynamic/fake/BUILD.bazel
  vendor/k8s.io/client-go/dynamic/fake/simple.go
  vendor/modules.txt
Labels: kind/enhancement, sig/network, area/virtctl, release-note, size/XXL, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13057 tests/libinfra: drop unused function GetNewLeaderPod
  tests/libinfra/BUILD.bazel
  tests/libinfra/leader.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#12915 [virt-tail] Replace watchFS polling with PollUntilContextTimeout
  cmd/virt-tail/BUILD.bazel
  cmd/virt-tail/main.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, needs-approver-review

#12948 cleanup(tests,virtctl): Drop virtctl expose functests
  tests/libnet/BUILD.bazel
  tests/libnet/expose_util.go
  tests/network/BUILD.bazel
  tests/network/bindingplugin_slirp.go
  tests/network/expose.go
Labels: sig/network, area/virtctl, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13065 [release-1.3] Allow vmexport to have names longer than 63 characters
  pkg/storage/export/export/BUILD.bazel
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/template.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#13053 feat(virtctl,create): Add support for sysprep volumes
  pkg/virtctl/create/vm/vm.go
  pkg/virtctl/create/vm/vm_test.go
  pkg/virtctl/create/vm/volume.go
  tests/virtctl/BUILD.bazel
  tests/virtctl/create_vm.go
Labels: kind/enhancement, size/L, sig/virtualization, area/virtctl, release-note, lgtm, approved, dco-signoff: yes

#12072 Change storage tests from withPVC to withStorage
  tests/clone_test.go
  tests/instancetype/instancetype.go
  tests/libdv/dv.go
  tests/migration/migration.go
  tests/migration/postcopy.go
  tests/pool_test.go
  tests/storage/datavolume.go
  tests/storage/export.go
  tests/storage/hotplug.go
  tests/storage/migration.go
  tests/storage/restore.go
  tests/storage/snapshot.go
  tests/storage/storage.go
  tests/virtiofs/datavolume.go
  tests/vm_test.go
  tests/vmi_configuration_test.go
Labels: sig/storage, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/buildsystem

#13030 Use ManualRecoveryRequired as a Condition
  api/openapi-spec/swagger.json
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/storage/migration.go
Labels: size/L, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#13045 monitoring/vmstats_collector: add machine_type label for vm_info
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Labels: kind/enhancement, size/M, release-note, lgtm, approved, dco-signoff: yes, sig/observability

#13060 virt-config, feature-gates: Graduate the network-binding-plugins to Beta
  docs/network/network-binding-plugin.md
  pkg/virt-config/feature-gates.go
Labels: sig/network, release-note, size/XS, lgtm, approved, dco-signoff: yes

#13070 tests/io_utils: move *FaultyDisk functions to their only user
  tests/BUILD.bazel
  tests/io_utils.go
  tests/storage/events.go
Labels: size/L, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13073 Create docs/observability folder with metrics.md
  docs/monitoring-guidelines.md
  docs/observability/OWNERS
  docs/observability/metrics.md
  hack/generate.sh
  hack/prom-metric-linter/metrics_collector.sh
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem, sig/observability

#13000 Use only `github.com/coreos/go-semver` package to work with semver
  go.mod
  go.sum
  pkg/virt-operator/resource/apply/BUILD.bazel
  pkg/virt-operator/resource/apply/reconcile.go
  pkg/virtctl/version/BUILD.bazel
  pkg/virtctl/version/version.go
  tests/operator/BUILD.bazel
  tests/operator/operator.go
  vendor/github.com/Masterminds/semver/.travis.yml
  vendor/github.com/Masterminds/semver/BUILD.bazel
  vendor/github.com/Masterminds/semver/CHANGELOG.md
  vendor/github.com/Masterminds/semver/LICENSE.txt
  vendor/github.com/Masterminds/semver/Makefile
  vendor/github.com/Masterminds/semver/README.md
  vendor/github.com/Masterminds/semver/appveyor.yml
  vendor/github.com/Masterminds/semver/collection.go
  vendor/github.com/Masterminds/semver/constraints.go
  vendor/github.com/Masterminds/semver/doc.go
  vendor/github.com/Masterminds/semver/version.go
  vendor/github.com/Masterminds/semver/version_fuzz.go
  vendor/github.com/blang/semver/.travis.yml
  vendor/github.com/blang/semver/BUILD.bazel
  vendor/github.com/blang/semver/LICENSE
  vendor/github.com/blang/semver/README.md
  vendor/github.com/blang/semver/json.go
  vendor/github.com/blang/semver/package.json
  vendor/github.com/blang/semver/range.go
  vendor/github.com/blang/semver/semver.go
  vendor/github.com/blang/semver/sort.go
  vendor/github.com/blang/semver/sql.go
  vendor/modules.txt
Labels: area/virtctl, size/XXL, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#13024 net binding plugin: Introduce a new `managedTap` `domainAttachmentType`
  api/openapi-spec/swagger.json
  cmd/virt-handler/virt-handler.go
  manifests/generated/kv-resource.yaml
  pkg/network/domainspec/interface.go
  pkg/network/domainspec/interface_test.go
  pkg/network/setup/netconf.go
  pkg/network/setup/netconf_test.go
  pkg/network/setup/netpod/netpod.go
  pkg/network/setup/netpod/netpod_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/network/bindingplugin.go
Labels: size/L, sig/network, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#13059 net, hotplug: Graduate network hotplug feature to GA
  pkg/virt-config/deprecation/feature-gates.go
  pkg/virt-config/feature-gates.go
  pkg/virt-controller/network/vmcontroller.go
  pkg/virt-controller/network/vmcontroller_test.go
  pkg/virt-controller/watch/application.go
  pkg/virt-handler/vm.go
  pkg/virt-operator/webhooks/kubevirt-update-admitter_test.go
  tests/network/hotplug_bridge.go
  tests/network/hotplug_sriov.go
  tests/testsuite/kubevirtresource.go
Labels: size/L, sig/network, release-note, lgtm, approved, dco-signoff: yes, kind/deprecation, sig/compute

#13019 virtctl: Deprecate duplicated volume import flags
  pkg/virtctl/create/vm/vm.go
  pkg/virtctl/create/vm/vm_test.go
  pkg/virtctl/create/vm/volume.go
  tests/virtctl/create_vm.go
Labels: sig/virtualization, area/virtctl, release-note, size/XXL, lgtm, approved, dco-signoff: yes, kind/deprecation

#13018 Support Dynamic Primary Pod NIC Name
  api/openapi-spec/swagger.json
  pkg/network/link/discovery.go
  pkg/network/link/discovery_test.go
  pkg/network/multus/status.go
  pkg/network/multus/status_test.go
  pkg/network/namescheme/networknamescheme.go
  pkg/network/namescheme/networknamescheme_test.go
  pkg/network/pod/annotations/generator.go
  pkg/network/setup/netconf.go
  pkg/network/setup/netpod/discover.go
  pkg/network/setup/netpod/netpod.go
  pkg/network/setup/netpod/netpod_test.go
  pkg/network/setup/netstat.go
  pkg/network/setup/netstat_test.go
  pkg/network/setup/podnic.go
  pkg/network/vmicontroller/BUILD.bazel
  pkg/network/vmicontroller/status.go
  pkg/network/vmicontroller/status_test.go
  pkg/virt-controller/network/vmcontroller.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-handler/non-root.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/network/BUILD.bazel
  tests/network/vmi_infosource.go
Labels: kind/enhancement, sig/network, area/controller, release-note, size/XXL, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem

#12601 vmsnapshot: Enable status subresource for snapshot.kubevirt.io api group
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_base.go
  pkg/storage/snapshot/restore_test.go
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_base.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
  pkg/storage/status/BUILD.bazel
  pkg/storage/status/status.go
  pkg/virt-operator/resource/generate/components/crds.go
  pkg/virt-operator/resource/generate/rbac/controller.go
  tests/storage/snapshot.go
Labels: sig/storage, release-note, size/XXL, lgtm, approved, dco-signoff: yes

#13077 Retry calculating the md5sum of the export disk
  tests/storage/export.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13001 Allow modifications to VM spec during VM snapshot, except disks/volumes
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Labels: size/M, area/api-server, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#13027 Only create VMExport token secret if there are volumes to export
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
Labels: kind/bug, size/M, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#12802 Add kubevirt_vmi_status_addresses metric
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
Labels: kind/enhancement, size/L, release-note, lgtm, approved, dco-signoff: yes, sig/observability

#12781 [VMIController]: Remove redundant deletion code
  pkg/virt-controller/watch/vmi/vmi.go
Labels: sig/virtualization, area/controller, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, needs-approver-review

#13072 feat(virtctl,create): Add support for access credentials
  pkg/virtctl/create/vm/BUILD.bazel
  pkg/virtctl/create/vm/params.go
  pkg/virtctl/create/vm/vm.go
  pkg/virtctl/create/vm/vm_test.go
  tests/virtctl/BUILD.bazel
  tests/virtctl/create_vm.go
Labels: kind/enhancement, sig/virtualization, area/virtctl, size/XL, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#13062 [release-1.3] Use usable size instead of requested capacity in disk expansion logic
  pkg/virt-launcher/virtwrap/manager.go
  tests/storage/datavolume.go
Labels: kind/bug, size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#13078 Add dynamic pod iface naming feature gate
  cmd/virt-handler/virt-handler.go
  pkg/network/setup/netconf.go
  pkg/network/setup/netconf_test.go
  pkg/network/setup/netpod/netpod.go
  pkg/network/setup/netstat.go
  pkg/network/setup/netstat_test.go
  pkg/network/vmicontroller/status.go
  pkg/network/vmicontroller/status_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-handler/non-root.go
  tests/network/vmi_infosource.go
Labels: size/L, sig/network, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#12967 GA BochsDisplayForEFIGuests
  pkg/virt-config/deprecation/feature-gates.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/virt-config.go
  pkg/virt-handler/options.go
  staging/src/kubevirt.io/api/core/v1/types.go
Labels: size/M, sig/virtualization, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#12988 Revisit sound test
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  tests/vmi_sound_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, needs-approver-review

#13063 Code Cleanup: Remove unused functions
  pkg/network/vmispec/interface_test.go
  pkg/virt-config/configuration.go
  pkg/virt-controller/watch/clone/util.go
  tests/monitoring/component_monitoring.go
  tests/performance/realtime.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/scale, sig/observability

#13064 Fix corruption
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/vmi/vmi.go
Labels: kind/bug, size/L, area/controller, release-note-none, lgtm, approved, dco-signoff: yes

#12995 Conformance: Cover credentials tests
  tests/compute/credentials.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13086 instancetype: ReferencePolicy
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/defaults/BUILD.bazel
  pkg/defaults/amd64.go
  pkg/defaults/arm64.go
  pkg/defaults/defaults.go
  pkg/defaults/hyperv.go
  pkg/defaults/s390x.go
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
  pkg/testutils/mock_instancetype.go
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/expand.go
  pkg/virt-api/rest/expand_test.go
  pkg/virt-api/webhooks/BUILD.bazel
  pkg/virt-api/webhooks/arm64.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-config/configuration_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/virt-config.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/BUILD.bazel
  tests/instancetype/BUILD.bazel
  tests/instancetype/reference_policy.go
  tests/subresource_api_test.go
Labels: release-note, size/XXL, kind/api-change, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#12629 backend-storage: add RWO FS support
  api/openapi-spec/swagger.json
  automation/repeated_test.sh
  pkg/storage/backend-storage/BUILD.bazel
  pkg/storage/backend-storage/backend-storage.go
  pkg/storage/backend-storage/backend-storage_test.go
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/BUILD.bazel
  tests/decorators/decorators.go
  tests/storage/BUILD.bazel
  tests/storage/backendstorage.go
  tests/vm_state_test.go
  tests/vmi_tpm_test.go
Labels: sig/storage, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem

#13076 Test cleanup: Move ephemeral volume test to unit tests
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  tests/storage/BUILD.bazel
  tests/storage/storage.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13090 Add live-updatable VM tolerations
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  tests/hotplug/BUILD.bazel
  tests/hotplug/tolerations.go
Labels: size/L, area/controller, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#13071 Add kubevirt_vm_resource_limits metric
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
  tests/monitoring/metrics.go
Labels: kind/enhancement, size/L, release-note, lgtm, approved, dco-signoff: yes, sig/observability

#13101 virt-controller: add OWNERS file
  pkg/virt-controller/watch/clone/OWNERS
  pkg/virt-controller/watch/descheduler/OWNERS
  pkg/virt-controller/watch/drain/disruptionbudget/OWNERS
  pkg/virt-controller/watch/drain/evacuation/OWNERS
  pkg/virt-controller/watch/migration/OWNERS
  pkg/virt-controller/watch/node/OWNERS
  pkg/virt-controller/watch/pool/OWNERS
  pkg/virt-controller/watch/replicaset/OWNERS
  pkg/virt-controller/watch/testing/OWNERS
  pkg/virt-controller/watch/topology/OWNERS
  pkg/virt-controller/watch/vm/OWNERS
  pkg/virt-controller/watch/vmi/OWNERS
  pkg/virt-controller/watch/vsock/OWNERS
  pkg/virt-controller/watch/workload-updater/OWNERS
Labels: size/L, area/controller, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#13091 GA VMLiveUpdateFeatures feature-gate
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  pkg/virt-config/configuration_test.go
  pkg/virt-config/deprecation/feature-gates.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/virt-config.go
  pkg/virt-controller/watch/vm/vm_test.go
  tests/decorators/decorators.go
  tests/hotplug/affinity.go
  tests/hotplug/cpu.go
  tests/hotplug/instancetype.go
  tests/hotplug/memory.go
  tests/hotplug/tolerations.go
  tests/storage/migration.go
  tests/testsuite/kubevirtresource.go
Labels: size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#12095 Refactor unit tests to use libvmi for resource creation
  pkg/container-disk/BUILD.bazel
  pkg/container-disk/container-disk_test.go
  pkg/host-disk/BUILD.bazel
  pkg/host-disk/host-disk_test.go
  pkg/libvmi/storage.go
  pkg/libvmi/vmi.go
Labels: size/L, sig/network, sig/storage, area/virtctl, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/buildsystem, sig/scale, sig/observability, needs-approver-review

#12838 Conformance tests for migration-Pt.1
  tests/migration/BUILD.bazel
  tests/migration/eviction_strategy.go
  tests/migration/migration.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13097 move realtime and SEV related nodeSelectors from VMI to the vmipod
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-controller/services/nodeselectorrenderer.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Labels: size/L, sig/virtualization, area/controller, release-note-none, lgtm, approved, dco-signoff: yes

#13006 feat: propagate VMExport labels and annotations to associated pod
  pkg/storage/export/export/BUILD.bazel
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/virtctl/memorydump/memorydump.go
  pkg/virtctl/vmexport/vmexport.go
  pkg/virtctl/vmexport/vmexport_test.go
Labels: kind/enhancement, size/L, sig/network, sig/storage, area/virtctl, release-note, lgtm, approved, dco-signoff: yes

#12991 virt-operator: Remove use of `crd.Spec.PreserveUnknownFields`
  pkg/virt-operator/resource/generate/components/crds.go
Labels: size/S, release-note-none, kind/api-change, area/operator, lgtm, approved, dco-signoff: yes, sig/api, needs-approver-review

#12340 Introduce buildifier-prebuilt to reduce rules_go dependency complexity
  BUILD.bazel
  WORKSPACE
  hack/bazel-generate.sh
  hack/bump-distroless.sh
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#13003 Replace deprecated package with kubevirt package in rest of the file
  pkg/virtctl/guestfs/BUILD.bazel
  pkg/virtctl/guestfs/guestfs.go
  pkg/virtctl/vm/BUILD.bazel
  pkg/virtctl/vm/start_test.go
  pkg/virtctl/vm/stop_test.go
  staging/src/kubevirt.io/client-go/api/defaults_test.go
Labels: size/S, area/virtctl, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, needs-approver-review

#12317 Vgpu flake
  tests/mdev_configuration_allocation_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/flake, needs-approver-review

#13127 [release-1.2] Allow modifications to VM spec during VM snapshot, except disks/volumes
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Labels: size/M, area/api-server, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#12927 Re-enable VirtHandlerRESTErrorsBurst and VirtHandlerRESTErrorsHigh tests
  tests/monitoring/BUILD.bazel
  tests/monitoring/component_monitoring.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#13132 [release-1.1] Allow modifications to VM spec during VM snapshot, except disks/volumes
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Labels: size/M, area/api-server, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#13079 converter: refactor iothreads conversion
  pkg/virt-launcher/virtwrap/converter/converter.go
Labels: size/L, sig/virtualization, area/launcher, release-note-none, lgtm, approved, dco-signoff: yes

#12996 Conformance cloudinit
  tests/vmi_cloudinit_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13145 e2e,storage: Dequarantine restore tests
  tests/storage/restore.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#12844 s390x: Enable exportproxy and exportserver image
  cmd/virt-exportproxy/BUILD.bazel
  cmd/virt-exportserver/BUILD.bazel
  hack/bazel-build-images.sh
  hack/bazel-push-images.sh
Labels: size/S, sig/storage, release-note, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem
