Repository kubevirt/kubevirt, pull requests merged in 2024-09, with the labels that each got.

#12681 tests: Allow more matches when watching Linux console
  tests/console/console.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#12695 [test] correctly identify periodic test lanes by JOB_NAME
  automation/test.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#12558 virt-controller: Decouple network annotations generation
  pkg/network/pod/annotations/BUILD.bazel
  pkg/network/pod/annotations/annotations_suite_test.go
  pkg/network/pod/annotations/generator.go
  pkg/network/pod/annotations/generator_test.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
Labels: sig/network, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12573 tests/operator/operator: Replace Update with Patch test_id 4744
  tests/operator/operator.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12678 cleanup(tests,vmi_lifecycle): Use client instead of virtctl and minor cleanups
  tests/vmi_lifecycle_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12708 docs: Small Spelling Fixes
  docs/container-register-disks.md
  docs/discard-passthrough.md
  docs/quarantine.md
  docs/release.md
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#12583 Cpu hotplug: Introduce test for default topology
  tests/hotplug/cpu.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#12470 tests: remove and set annotations on VM creation
  pkg/virt-controller/watch/vm_test.go
  tests/vm_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12706 net: Decouple DHCP server from converter pkg
  pkg/network/dns/BUILD.bazel
  pkg/network/dns/resolveconf.go
  pkg/network/driver/BUILD.bazel
  pkg/network/driver/common.go
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/network.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12557 feat: create datasource after image uploaded
  pkg/virtctl/imageupload/BUILD.bazel
  pkg/virtctl/imageupload/imageupload.go
  pkg/virtctl/imageupload/imageupload_test.go
Labels: size/L, area/virtctl, release-note, lgtm, approved, dco-signoff: yes

#12616 tests/operator/operator.go: Replace `Update()` with `Patch()`
  tests/operator/BUILD.bazel
  tests/operator/operator.go
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes, sig/code-quality

#12538 Virt operator: improve test time
  pkg/virt-operator/BUILD.bazel
  pkg/virt-operator/kubevirt_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#12711 vm state tests: get rid of custom console expecter
  tests/console/console.go
  tests/vm_state_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12605 vmexport: enable status subresource for VirtualMachineExport
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/storage/export/export/BUILD.bazel
  pkg/storage/export/export/export.go
  pkg/util/status/BUILD.bazel
  pkg/util/status/status.go
  pkg/virt-operator/resource/generate/components/crds.go
  pkg/virt-operator/resource/generate/rbac/controller.go
Labels: size/M, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#12625 Add kubevirt_vm_resource_requests for CPU resource
  docs/metrics.md
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes, sig/observability

#12582 vmsnapshot: when checking if a VM is running, ignore runStrategy
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
  tests/storage/snapshot.go
Labels: size/M, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#12232 config: Graduate NUMA featuregate to GA
  pkg/virt-api/webhooks/fuzz/fuzz_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  pkg/virt-config/deprecation/feature-gates.go
  pkg/virt-config/feature-gates.go
  tests/migration/migration.go
  tests/numa/BUILD.bazel
  tests/numa/numa.go
  tests/performance/BUILD.bazel
  tests/performance/realtime.go
  tests/realtime/realtime.go
  tests/testsuite/kubevirtresource.go
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem, sig/scale

#12577 tools/vms-generator: use runStrategy for example VMs instead of running
  examples/vm-alpine-datavolume.yaml
  examples/vm-alpine-multipvc.yaml
  examples/vm-cirros-clarge-virtio.yaml
  examples/vm-cirros-clarge-windows.yaml
  examples/vm-cirros-clarge.yaml
  examples/vm-cirros-cluster-csmall.yaml
  examples/vm-cirros-csmall.yaml
  examples/vm-cirros-sata.yaml
  examples/vm-cirros-with-sidecar-hook-configmap.yaml
  examples/vm-cirros.yaml
  examples/vm-priorityclass.yaml
  examples/vm-windows-clarge-windows.yaml
  tools/vms-generator/utils/utils.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/scale

#12623 [release-1.2] Fix flaky cpu hotplug tests
  tests/hotplug/BUILD.bazel
  tests/hotplug/cpu.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#12710 virt-ctrl, template: Decouple storage annotations gen
  pkg/storage/pod/annotations/BUILD.bazel
  pkg/storage/pod/annotations/annotations_suite_test.go
  pkg/storage/pod/annotations/generator.go
  pkg/storage/pod/annotations/generator_test.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
Labels: size/L, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12621 Monitor tests reduce runtime
  pkg/virt-launcher/monitor_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#12723 Quarantine high impact failure in sig storage
  tests/storage/export.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/flake

#12477 VMI package
  pkg/virt-controller/services/template.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/common/BUILD.bazel
  pkg/virt-controller/watch/common/error.go
  pkg/virt-controller/watch/migration.go
  pkg/virt-controller/watch/node_test.go
  pkg/virt-controller/watch/pool.go
  pkg/virt-controller/watch/pool_test.go
  pkg/virt-controller/watch/replicaset_test.go
  pkg/virt-controller/watch/testing/BUILD.bazel
  pkg/virt-controller/watch/testing/testing.go
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_suite_test.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#12740 instancetype: Remove use of `k8s.io/utils/ptr`
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/compatibility_test.go
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
  tests/instancetype/instancetype.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality, area/instancetype, sig/compute

#10838 Refactor: Isolate domain watcher
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/cache/BUILD.bazel
  pkg/virt-handler/cache/cache.go
  pkg/virt-handler/cache/cache_test.go
  pkg/virt-handler/cache/domain-watcher.go
Labels: size/XL, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/compute

#12534 Deprecate Skips, it should be handled by labels
  .golangci.yml
  tests/framework/checks/skips.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#12597 Remove some usages of the updater package
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_base.go
  pkg/storage/snapshot/restore_test.go
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_base.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
  pkg/util/status/BUILD.bazel
  pkg/util/status/status.go
  pkg/util/status/status_suite_test.go
  pkg/util/status/status_test.go
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/profiler_test.go
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/clone/BUILD.bazel
  pkg/virt-controller/watch/clone/clone.go
  pkg/virt-controller/watch/clone/clone_base.go
  pkg/virt-controller/watch/migration.go
  pkg/virt-controller/watch/pool.go
  pkg/virt-controller/watch/replicaset.go
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/workload-updater/BUILD.bazel
  pkg/virt-controller/watch/workload-updater/workload-updater.go
  pkg/virt-operator/BUILD.bazel
  pkg/virt-operator/kubevirt.go
Labels: sig/network, sig/storage, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12742 tests: move DiskWindowsSysprep next to its only user
  tests/sysprep_test.go
  tests/utils.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12666 Migration update admitter: Refactor tests
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-update-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-update-admitter_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12737 Add evictable label to kubevirt_vmi_info
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
Labels: size/S, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#12747 [release-1.3] fix: correctly check dry-run requests
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter_test.go
Labels: size/L, release-note-none, kind/api-change, lgtm, approved, kind/build-change, dco-signoff: yes, sig/api, sig/buildsystem, sig/scale

#12738 [release-1.1] virt-api: skip clone auth check when DataVolume already exists
  pkg/virt-api/api.go
  pkg/virt-api/webhooks/utils.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  tests/storage/datavolume.go
Labels: size/L, area/api-server, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/api

#12748 [release-1.2] fix: correctly check dry-run requests
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter.go
Labels: size/S, area/api-server, release-note-none, lgtm, approved, dco-signoff: yes, sig/api, sig/buildsystem

#12739 instancetype: Introduce `PreferredEfi` to API
  api/openapi-spec/swagger.json
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/instancetype/v1alpha1/conversion.go
  staging/src/kubevirt.io/api/instancetype/v1alpha1/conversion_generated.go
  staging/src/kubevirt.io/api/instancetype/v1alpha2/conversion.go
  staging/src/kubevirt.io/api/instancetype/v1alpha2/conversion_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/types.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Labels: size/L, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/api, sig/scale

#12741 instancetype: Harden CR upgrade func test
  tests/instancetype/upgrade.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/testing

#12715 refactor(virtctl/imageupload): set labels using object metadata
  pkg/virtctl/imageupload/imageupload.go
Labels: size/S, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12735 [release-1.3] virt-api: skip clone auth check when DataVolume already exists
  pkg/virt-api/api.go
  pkg/virt-api/webhooks/utils.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  tests/storage/datavolume.go
Labels: size/L, area/api-server, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/api, sig/buildsystem

#12673 cleanup(tests,softreboot): Use client instead of virtctl
  tests/BUILD.bazel
  tests/softreboot_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12699 cleanup(tests,vm_test): Use client instead of virtctl
  tests/vm_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12736 [release-1.2] virt-api: skip clone auth check when DataVolume already exists
  pkg/virt-api/api.go
  pkg/virt-api/webhooks/utils.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  tests/storage/datavolume.go
Labels: size/L, area/api-server, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/api, sig/buildsystem

#12756 net, multus annotations, test: Add missing suite file
  pkg/network/multus/BUILD.bazel
  pkg/network/multus/annotation_test.go
  pkg/network/multus/multus_suite_test.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes

#12755 tests: move {Disk,}CustomHostPath into storage package
  tests/storage/hotplug.go
  tests/storage/storage.go
  tests/utils.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12745 Inline GetRunningVMIEmulator() and remove it from tests/utils.go
  tests/realtime/realtime.go
  tests/security_features_test.go
  tests/utils.go
  tests/vm_test.go
  tests/vmi_configuration_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality, sig/testing

#12478 e2e, storage-migration: Replace client Update operations with patch
  tests/storage/migration.go
Labels: size/L, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12506 [release-1.1] virt-api: unencode authorization extra headers
  pkg/virt-api/rest/authorizer.go
  pkg/virt-api/rest/authorizer_test.go
Labels: size/S, release-note, lgtm, approved, dco-signoff: yes

#12686 volume migration: fix hotplug volumes when the volume migration fg is enabled
  pkg/virt-controller/watch/vm.go
  tests/storage/migration.go
Labels: size/L, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#12712 tests: remove use of spec.Running from e2e tests
  tests/clone_test.go
  tests/instancetype/instancetype.go
  tests/operator/operator.go
  tests/pool_test.go
  tests/storage/restore.go
  tests/storage/snapshot.go
  tests/subresource_api_test.go
  tests/virtctl/create_vm.go
  tests/vm_test.go
  tests/vmi_cloudinit_test.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality, area/instancetype, sig/compute

#12516 enable initial e2e tests for s390x.
  automation/test.sh
  pkg/util/util.go
  tests/access_test.go
  tests/container_disk_test.go
  tests/decorators/decorators.go
  tests/storage/storage.go
  tests/testsuite/kubevirtresource.go
  tests/vmi_configuration_test.go
  tests/vmi_lifecycle_test.go
Labels: size/M, sig/network, sig/storage, release-note, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/buildsystem, sig/observability

#10562 [rebased] Update tests wrt ginkgo 2: remove scripting running parallel vs. serial tests
  hack/functests.sh
  tests/tests_suite_test.go
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes

#12764 VMRestore: create DVs before creation/update of restored VM
  pkg/libvmi/vm.go
  pkg/storage/backend-storage/backend-storage.go
  pkg/storage/backend-storage/backend-storage_test.go
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_base.go
  pkg/storage/snapshot/restore_test.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  pkg/virtctl/memorydump/memorydump_test.go
  tests/storage/restore.go
  tests/virtctl/create_vm.go
Labels: kind/bug, sig/storage, area/virtctl, size/XL, release-note, lgtm, approved, dco-signoff: yes

#12634 cleanup(virtctl): Cleanup addvolume and removevolume unit tests
  pkg/virtctl/vm/BUILD.bazel
  pkg/virtctl/vm/add_volume_test.go
  pkg/virtctl/vm/remove_volume_test.go
  staging/src/kubevirt.io/client-go/testing/fake.go
Labels: area/virtctl, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12734 sig-tests: Add 0xFelix as approver
  OWNERS_ALIASES
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#12793 usbredir test: Add GinkgoRecover for goroutines
  tests/usbredir_test.go
Labels: priority/critical-urgent, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake, kind/failing-test

#12717 cleanup(tests): Move VM subresource tests without run strategy and drop redundant tests
  tests/subresource_api_test.go
  tests/vm_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12754 Drop virtctl create instancetype and preference functests and refactors unit tests
  pkg/virt-api/webhooks/validating-webhook/admitters/preference-admitter.go
  pkg/virtctl/create/instancetype/BUILD.bazel
  pkg/virtctl/create/instancetype/instancetype_test.go
  pkg/virtctl/create/preference/BUILD.bazel
  pkg/virtctl/create/preference/preference_test.go
  tests/virtctl/BUILD.bazel
  tests/virtctl/create_instancetype.go
  tests/virtctl/create_preference.go
Labels: area/virtctl, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality, area/instancetype, sig/compute, sig/testing

#12786 feat(virtctl): Allow inference from registry or snapshot volume imports
  pkg/virtctl/create/vm/vm.go
  pkg/virtctl/create/vm/vm_test.go
Labels: kind/enhancement, size/M, sig/virtualization, area/virtctl, release-note, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#12761 [virt-handler]: Add options_test.go to test host capabilities parsing
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/options.go
  pkg/virt-handler/options_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing

#12448 kubevirt, ci: add GitHub issue template for flaky tests
  .github/ISSUE_TEMPLATE/flaky_test_report.md
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#12778 Fix ginkgo bootstrapping script
  hack/bootstrap-ginkgo.sh
  staging/src/kubevirt.io/api/apitesting/BUILD.bazel
  staging/src/kubevirt.io/api/apitesting/apitesting_suite_test.go
  staging/src/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/BUILD.bazel
  staging/src/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/v1_suite_test.go
Labels: size/M, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#12813 Re-add finalizer update RBAC for VM export
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/BUILD.bazel
  pkg/virt-operator/resource/generate/rbac/controller.go
  pkg/virt-operator/resource/generate/rbac/controller_test.go
Labels: kind/bug, size/M, sig/security, release-note, area/operator, lgtm, approved, dco-signoff: yes

#12824 tests: quarantine flaky restore tests
  tests/storage/restore.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#12807 e2e,storage: Quarantine two failing export tests due to bug
  tests/storage/export.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/failing-test

#12819 check-tests-for-flakes: don't run native ssh tests
  automation/repeated_test.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#12794 cleanup(virtctl): More robust VM decoding and minor cleanups in create vm unit and func tests
  pkg/virtctl/create/vm/BUILD.bazel
  pkg/virtctl/create/vm/vm_test.go
  tests/virtctl/BUILD.bazel
  tests/virtctl/create_vm.go
Labels: size/L, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality, area/instancetype, sig/compute, sig/testing

#12497 [release-1.1] Admit eviction on completed virt-launcher pods
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter_test.go
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes

#12243 Refactor unit tests to use libvmi for resource creation in ephemeral-disk
  pkg/ephemeral-disk/BUILD.bazel
  pkg/ephemeral-disk/ephemeral-disk_test.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#12700 Drop virtctl expand functests and refactor unit tests
  pkg/virtctl/vm/BUILD.bazel
  pkg/virtctl/vm/expand_test.go
  tests/vm_test.go
Labels: size/L, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12772 e2e tests: move pod_servers functions
  tests/BUILD.bazel
  tests/network/probes.go
  tests/pod_servers.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality, sig/testing

#12821 usbredit: Don't assume order for client
  tests/usbredir_test.go
Labels: priority/critical-urgent, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#12598 Replace the PatchOperation with the PatchSet
  pkg/virt-api/webhooks/mutating-webhook/mutators/clone-create-mutator_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/migration-create-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/migration-create-mutator_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
  pkg/virt-controller/watch/node.go
  tests/hotplug/memory.go
  tests/libkubevirt/config/kvconfig.go
  tests/libkubevirt/config/netbinding.go
  tests/libnet/hotplug.go
  tests/libnode/node.go
  tests/monitoring/component_monitoring.go
  tests/pool_test.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality, sig/observability

#12822 CI, GitHub: do not run e2e tests on gh only changes
  automation/test.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem, sig/ci

#12682 Conformance tests for vm_test.go
  pkg/libvmi/selector.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  tests/decorators/decorators.go
  tests/infrastructure/k8s-client-changes.go
  tests/infrastructure/prometheus.go
  tests/storage/hotplug.go
  tests/storage/storage.go
  tests/vm_test.go
Labels: size/L, sig/network, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#12690 pkg/virt-controller/drain/disruptionbudget: reduce duplication in sync loop of pdbController
  pkg/virt-controller/watch/drain/disruptionbudget/disruptionbudget.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12721 Parallelize migration bandwidth tests by relying on migration policies instead of KubevirtCR
  tests/migration/migration.go
Labels: kind/enhancement, size/M, sig/virtualization, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality, sig/compute

#12817 e2e,utils: Remove const that is only really used by the storage tests
  tests/storage/storage.go
  tests/utils.go
  tests/vmi_configuration_test.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12791 Drop virtctl credentials functests and refactors unit tests
  pkg/libvmi/BUILD.bazel
  pkg/libvmi/accesscredentials.go
  pkg/virtctl/credentials/addkey/BUILD.bazel
  pkg/virtctl/credentials/addkey/addkey_test.go
  pkg/virtctl/credentials/password/BUILD.bazel
  pkg/virtctl/credentials/password/password_test.go
  pkg/virtctl/credentials/removekey/BUILD.bazel
  pkg/virtctl/credentials/removekey/removekey_test.go
  tests/virtctl/BUILD.bazel
  tests/virtctl/credentials.go
Labels: kind/enhancement, area/virtctl, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality, sig/testing

#12840 Update fedora-with-test-tooling image to the latest.
  WORKSPACE
Labels: size/XS, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes

#12842 usbdir test: Add missing defer GinkgoRecover
  tests/usbredir_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#12837 [release 1.2] VMRestore: create DVs before creation/update of restored VM
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_base.go
  pkg/storage/snapshot/restore_test.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  pkg/virtctl/memorydump/memorydump_test.go
  tests/framework/matcher/getter.go
  tests/framework/matcher/phase_test.go
  tests/libdv/dv.go
  tests/libstorage/datavolume.go
  tests/libvmi/vm.go
  tests/storage/restore.go
  tests/virtctl/create_vm.go
Labels: kind/bug, sig/storage, size/XL, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem

#12760 Moving updater package under storage
  pkg/storage/export/export/BUILD.bazel
  pkg/storage/export/export/export.go
  pkg/storage/status/BUILD.bazel
  pkg/storage/status/status.go
  pkg/util/status/status.go
Labels: size/L, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#12818 volume-migration: fix migration from source RWX volumes
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/storage/migration.go
Labels: kind/bug, size/M, sig/storage, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#12839 fix(tests,virtctl): Partially revert cleanups
  tests/virtctl/scp.go
  tests/virtctl/ssh.go
Labels: size/S, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#12834 Report migration policies as part of the k8s reporter when tests finish
  cmd/dump/dump.go
  tests/reporter/BUILD.bazel
  tests/reporter/kubernetes.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#12649 [release.1.3] Manual backport of 12395
  pkg/libvmi/status/BUILD.bazel
  pkg/libvmi/status/status.go
  pkg/libvmi/vmi.go
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/volume-migration/BUILD.bazel
  pkg/virt-controller/watch/volume-migration/volume-migration.go
  pkg/virt-controller/watch/volume-migration/volume-migration_test.go
  pkg/virt-controller/watch/workload-updater/workload-updater.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/storage/migration.go
Labels: size/L, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem

#12040 [Tests]Stop the quarantine of [test_id:7164] and [test_id:6993]
  tests/vm_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality, kind/flake

#12815 credential test: Refactor
  tests/compute/credentials.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12553 [release-1.2] Move hotplug setups to webhook
  pkg/virt-api/webhooks/defaults.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
  tests/hotplug/cpu.go
Labels: size/XL, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem

#12494 doc: Extend quarantine doc to cover flaky required lanes
  docs/quarantine.md
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#12841 Add RequiresRWXFilesystemStorage to backendstorage.go
  tests/storage/backendstorage.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#12769 [release-1.3] instancetype: Introduce PreferredEfi to API
  api/openapi-spec/swagger.json
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/compatibility_test.go
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/instancetype/v1alpha1/conversion.go
  staging/src/kubevirt.io/api/instancetype/v1alpha1/conversion_generated.go
  staging/src/kubevirt.io/api/instancetype/v1alpha2/conversion.go
  staging/src/kubevirt.io/api/instancetype/v1alpha2/conversion_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/types.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Labels: size/L, release-note, kind/api-change, lgtm, approved, kind/build-change, dco-signoff: yes, area/instancetype, sig/api, sig/buildsystem

#12379 instancetypes: Address functional test TODOs and extend libdv
  tests/instancetype/instancetype.go
  tests/libdv/BUILD.bazel
  tests/libdv/dv.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality, area/instancetype, sig/compute, sig/buildsystem

#12731 Use client instead of virtctl in RunStrategy related VM tests and cleanup subresource_api_test.go further
  tests/BUILD.bazel
  tests/subresource_api_test.go
  tests/vm_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes, triage/duplicate, sig/code-quality, sig/testing

#12846 Annotations generators: Add linter coverage
  Makefile
  pkg/network/pod/annotations/generator_test.go
  pkg/storage/pod/annotations/generator.go
  pkg/storage/pod/annotations/generator_test.go
Labels: size/S, sig/network, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#12810 net, vmispec, hotplug, tests: Use libvmi for resource creation
  pkg/libvmi/status/status.go
  pkg/network/vmispec/BUILD.bazel
  pkg/network/vmispec/hotplug_test.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality, sig/testing

#12850 [BugFix]VMIController: creation should be observed
  pkg/virt-controller/watch/vmi/vmi.go
Labels: kind/bug, sig/virtualization, area/controller, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#12767 libvmi: Introduce replicaset subpackage builder
  pkg/libvmi/replicaset/BUILD.bazel
  pkg/libvmi/replicaset/replicaset.go
  tests/BUILD.bazel
  tests/infrastructure/BUILD.bazel
  tests/infrastructure/k8s-client-changes.go
  tests/network/BUILD.bazel
  tests/network/expose.go
  tests/replicaset_test.go
  tests/utils.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality, sig/testing

#12809 bug-fix: Ensure PDB Deletion when VMI Reaches Final State
  pkg/virt-controller/watch/drain/disruptionbudget/disruptionbudget.go
  pkg/virt-controller/watch/drain/disruptionbudget/disruptionbudget_test.go
  tests/BUILD.bazel
  tests/pdb_test.go
Labels: kind/bug, size/L, sig/virtualization, area/controller, release-note, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing, sig/buildsystem

#12528 Introduce packages for controllers
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/common/BUILD.bazel
  pkg/virt-controller/watch/common/events.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_suite_test.go
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-controller/watch/migration/migrationpolicy.go
  pkg/virt-controller/watch/node/BUILD.bazel
  pkg/virt-controller/watch/node/node.go
  pkg/virt-controller/watch/node/node_suite_test.go
  pkg/virt-controller/watch/node/node_test.go
  pkg/virt-controller/watch/pool/BUILD.bazel
  pkg/virt-controller/watch/pool/pool.go
  pkg/virt-controller/watch/pool/pool_suite_test.go
  pkg/virt-controller/watch/pool/pool_test.go
  pkg/virt-controller/watch/replicaset/BUILD.bazel
  pkg/virt-controller/watch/replicaset/replicaset.go
  pkg/virt-controller/watch/replicaset/replicaset_suite_test.go
  pkg/virt-controller/watch/replicaset/replicaset_test.go
  pkg/virt-controller/watch/testing/BUILD.bazel
  pkg/virt-controller/watch/testing/testing.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/patchreactor_test.go
  pkg/virt-controller/watch/vm/updatereactor_test.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_suite_test.go
  pkg/virt-controller/watch/vm/vm_test.go
  tests/BUILD.bazel
  tests/vmi_lifecycle_test.go
Labels: area/controller, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12835 bugfix: In case of err in vmrestore, leave VM without RestoreInProgress annotation allowing it to be started
  hack/cluster-clean.sh
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_base.go
  pkg/storage/snapshot/restore_test.go
  tests/storage/restore.go
Labels: kind/bug, size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem

#12744 Elaborate on definition for Conformance tests
  docs/conformance.md
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/documentation

#12726 Retry up to 15 times when hotpluggin a volume with virtctl
  pkg/virtctl/vm/add_volume.go
  pkg/virtctl/vm/add_volume_test.go
  pkg/virtctl/vm/remove_volume.go
  pkg/virtctl/vm/remove_volume_test.go
Labels: kind/enhancement, size/L, sig/virtualization, area/virtctl, release-note, lgtm, approved, dco-signoff: yes

#12694 Coverage for instance type resource using linter mnd
  .golangci.yml
  pkg/instancetype/instancetype.go
  tests/instancetype/instancetype.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#12355 volume migration: persist the volume migration state in the VM status
  api/openapi-spec/swagger.json
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/volume-migration/volume-migration.go
  pkg/virt-controller/watch/volume-migration/volume-migration_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/storage/migration.go
Labels: sig/storage, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem

#12833 vmi ctrl: Decouple network status update
  Makefile
  pkg/network/vmicontroller/BUILD.bazel
  pkg/network/vmicontroller/status.go
  pkg/network/vmicontroller/status_test.go
  pkg/network/vmicontroller/vmicontroller_suite_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Labels: sig/network, area/controller, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality, sig/testing

#12857 Stop setting blockOwnerDeletion on vmexport secret owner ref
  pkg/virtctl/vmexport/BUILD.bazel
  pkg/virtctl/vmexport/vmexport.go
  pkg/virtctl/vmexport/vmexport_test.go
Labels: kind/bug, size/M, sig/virtualization, area/virtctl, release-note, lgtm, approved, dco-signoff: yes

#12599 Fix behaivor of MaxCpuSockets
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-api/webhooks/defaults.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/hotplug/cpu.go
Labels: kind/bug, size/M, sig/virtualization, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#12472 [Tests]kubectl_test.go:Reduces API calls during the test
  tests/kubectl_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12664 [virt-controller/services] Add test for computing hotplug tolerations
  pkg/virt-controller/services/template_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#12886 tests/network/sriov: do not reimplement tests.GetRunningVMIDomainSpec
  tests/network/sriov.go
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#12768 tests/operator/operator.go: Remove CDI resource recovery in AfterEach
  go.mod
  tests/operator/BUILD.bazel
  tests/operator/operator.go
Labels: size/M, release-note-none, area/operator, lgtm, approved, dco-signoff: yes, sig/code-quality, sig/testing

#12858 Refactor net/admitter/slirp/tests to use libvmi package
  pkg/network/admitter/BUILD.bazel
  pkg/network/admitter/slirp_test.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes

#12718 Add kubevirt_vm_info metric
  docs/metrics.md
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes, area/instancetype, sig/observability

#12884 tests/migration: no need to reimplement tests.GetRunningVMIDomainSpec
  tests/migration/migration.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#12847 [release 1.1] VMRestore: create DVs before creation/update of restored VM
  pkg/instancetype/instancetype.go
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_base.go
  pkg/storage/snapshot/restore_test.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  pkg/virtctl/memorydump/memorydump_test.go
  pkg/virtctl/vm/add_volume_test.go
  tests/framework/matcher/getter.go
  tests/framework/matcher/phase_test.go
  tests/libdv/dv.go
  tests/libstorage/datavolume.go
  tests/storage/restore.go
  tests/virtctl/create_vm.go
Labels: kind/bug, sig/storage, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#12873 [release 1.3] bugfix: In case of err in vmrestore, leave VM without RestoreInProgress annotation allowing it to be started
  hack/cluster-clean.sh
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_base.go
  pkg/storage/snapshot/restore_test.go
  tests/storage/restore.go
Labels: kind/bug, size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem

#12874 [release 1.2] bugfix: In case of err in vmrestore, leave VM without RestoreInProgress annotation allowing it to be started
  hack/cluster-clean.sh
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_base.go
  pkg/storage/snapshot/restore_test.go
  tests/storage/restore.go
Labels: kind/bug, size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem

#12816 vmi ctrl: Decouple network info annotation gen
  pkg/network/pod/annotations/BUILD.bazel
  pkg/network/pod/annotations/generator.go
  pkg/network/pod/annotations/generator_test.go
  pkg/virt-controller/network/BUILD.bazel
  pkg/virt-controller/network/pod_annotations.go
  pkg/virt-controller/network/pod_annotations_test.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Labels: sig/network, area/controller, sig/storage, size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#12885 vm-controller: fix duplicate firmware UUIDs for VMIs across namespaces
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
Labels: kind/bug, size/S, sig/virtualization, area/controller, release-note-none, lgtm, approved, dco-signoff: yes

#12667 [virt-api, migration-create-admitter]: Use KubeVirt generated clientset
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/validating-webhook.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12749 [release-1.1] fix: correctly check dry-run requests
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter.go
Labels: kind/bug, size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/api

#12887 virt-launcher, api: Rm Defaulter.SetDefaults_Devices
  pkg/virt-launcher/virtwrap/api/defaults.go
Labels: sig/virtualization, area/launcher, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#12870 [release-1.3] Cpu hotplug: Introduce test for default topology
  tests/hotplug/cpu.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#12907 Revert: "vm-controller: fix duplicate firmware UUIDs for VMIs across n…
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
Labels: size/S, area/controller, release-note-none, lgtm, approved, dco-signoff: yes

#12880 virtctl,tests: Move imageupload functests
  tests/storage/BUILD.bazel
  tests/virtctl/BUILD.bazel
  tests/virtctl/imageupload.go
Labels: size/S, sig/storage, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#12894 fix(virtctl,tests): Add missing SigCompute decorator
  tests/virtctl/create_vm.go
Labels: area/virtctl, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing

#12902 [release-1.0] fix: correctly check dry-run requests
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter.go
Labels: size/S, area/api-server, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes

#12908 [release 1.1] bugfix: In case of err in vmrestore, leave VM without RestoreInProgress annotation allowing it to be started
  hack/cluster-clean.sh
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_base.go
  pkg/storage/snapshot/restore_test.go
  tests/storage/restore.go
Labels: kind/bug, size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/scale

#12920 OWNERS_ALIAS: Remove Alona Kaplan from the reviewer list
  OWNERS_ALIASES
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#12861 VMRestore: fix possible miss update of dvname on vmrestore restores - fixes quarantine tests
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
Labels: kind/bug, size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem

#12848 Reduce default CompletionTimeoutPerGiB from 800s to 150s
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-config/virt-config.go
  pkg/virt-handler/vm_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Labels: kind/enhancement, size/S, sig/virtualization, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#12916 tests: quarantine flaky KubevirtVmHighMemoryUsage alert
  tests/monitoring/vm_monitoring.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/flake, sig/observability

#12924 network,ut: Fix flaky test
  pkg/network/pod/annotations/generator_test.go
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/flake

#12906 instancetype: Resolve TODO within hotplug func test
  tests/hotplug/BUILD.bazel
  tests/hotplug/instancetype.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality, area/instancetype

#12877 virt-api: make VM defaulting and mutations public
  pkg/virt-api/rest/expand.go
  pkg/virt-api/rest/expand_test.go
  pkg/virt-api/webhooks/BUILD.bazel
  pkg/virt-api/webhooks/defaults.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  tests/subresource_api_test.go
Labels: size/L, area/api-server, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes

#12889 Code cleanup: Remove old and left-over TODOs
  pkg/storage/snapshot/snapshot_base.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-handler/cmd-client/client.go
  tests/vmi_configuration_test.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality, sig/compute

#12934 e2e, net: Add missing error wrapping
  tests/network/expose.go
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#12921 e2e tests cleanup: remove custom MAC test
  tests/network/vmi_networking.go
Labels: size/S, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#11097 add s390x support for kubevirt builder.
  Makefile
  hack/bazel-server.sh
  hack/builder/Dockerfile
  hack/builder/build.sh
  hack/builder/common.sh
  hack/dockerized
Labels: size/M, sig/network, sig/storage, release-note, lgtm, approved, needs-ok-to-test, dco-signoff: yes, sig/buildsystem

#12913 virtctl,version: Remove globals
  pkg/virtctl/root.go
  pkg/virtctl/version/version.go
  pkg/virtctl/version/version_test.go
Labels: size/M, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12645 Add a metric that reports the VM snapshot create timestamp
  docs/metrics.md
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/metrics.go
  pkg/monitoring/metrics/virt-controller/vmsnapshot.go
  pkg/monitoring/metrics/virt-controller/vmsnapshot_test.go
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/snapshot.go
  tests/libstorage/BUILD.bazel
  tests/libstorage/virtualmachinesnapshot.go
  tests/monitoring/BUILD.bazel
  tests/monitoring/metrics.go
  tests/monitoring/vm_monitoring.go
  tests/storage/snapshot.go
Labels: size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/observability

#12936 Code Quality: test utils cleanup
  tests/hyperv_test.go
  tests/vmi_controller_test.go
  tests/vmi_iothreads_test.go
  tests/vmi_multiqueue_test.go
  tests/vmi_sound_test.go
  tests/vmi_vsock_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/code-quality

#12782 [release 1.3] volume migration: fix hotplug volumes when the volume migration fg is enabled
  pkg/virt-controller/watch/vm.go
  tests/storage/migration.go
Labels: size/L, sig/virtualization, area/controller, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#12946 fix the podman run command in build.sh.
  hack/builder/build.sh
Labels: size/XS, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#12753 instancetype: Graduate `CommonInstancetypesDeploymentGate` and introduce configurable to control deployment
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-config/deprecation/feature-gates.go
  pkg/virt-config/feature-gates.go
  pkg/virt-operator/BUILD.bazel
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/apply/reconcile.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/operator/operator.go
Labels: size/L, release-note, kind/api-change, area/operator, lgtm, approved, dco-signoff: yes, area/instancetype, kind/deprecation, sig/api

#12954 Replaced the deprecated package `k8s.io/utils/pointer` with kubevirt package `kubevirt.io/kubevirt/pkg/pointer` in the `/pkg/storage` directory.
  pkg/storage/export/export/BUILD.bazel
  pkg/storage/export/export/export.go
  pkg/storage/export/export/vm-source.go
  pkg/storage/export/export/vmsnapshot-source.go
  pkg/storage/export/export/vmsnapshot-source_test.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#12952 Replaced the deprecated package `k8s.io/utils/pointer` with kubevirt package in `/pkg/virt-api` directory
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/migrationpolicy-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Labels: size/L, area/api-server, release-note-none, lgtm, approved, dco-signoff: yes

#12652 [nodelabeller, virt-handler]: Remove nodelabeller capabilities package and decouple vmcontroller from nodelabeller
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/node-labeller/BUILD.bazel
  pkg/virt-handler/node-labeller/api/BUILD.bazel
  pkg/virt-handler/node-labeller/api/capabilities.go
  pkg/virt-handler/node-labeller/capabilities_test.go
  pkg/virt-handler/node-labeller/cpu_plugin.go
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
  pkg/virt-handler/node-labeller/testdata/capabilities.xml
  pkg/virt-handler/node-labeller/testdata/capabilities_with_numa.xml
  pkg/virt-handler/options.go
  pkg/virt-handler/options_test.go
  pkg/virt-handler/vm.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#12474 [Tests]pausing_test.go:Reduces API calls during the test
  tests/pausing_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#12909 Nominate fossedihelm for sig-compute approver
  OWNERS_ALIASES
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#10441 Tests: Remove redundant container disk tests
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/container_disk_test.go
  tests/container_disk_test.go
Labels: size/L, release-note-none, lifecycle/stale, lgtm, approved, dco-signoff: yes, sig/buildsystem
