Repository kubevirt/kubevirt, pull requests merged in 2024-11, with the labels that each got.

#12852 Conformance tests for security_test
  tests/security_features_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13126 Disable mpx only on x86
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Labels: size/S, area/launcher, release-note-none, lgtm, approved, dco-signoff: yes

#13160 net, netpod: refactor networkQueues
  pkg/network/setup/netpod/netpod.go
Labels: size/S, sig/network, release-note-none, lgtm, approved, dco-signoff: yes

#13131 net, annotations-gen: Refactor GenerateFromSource
  pkg/network/pod/annotations/generator.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes

#13146 net, VMI UpdateStatus: Keep guest internal ifaceStatuses
  pkg/network/vmicontroller/status.go
  pkg/network/vmicontroller/status_test.go
Labels: kind/bug, size/M, sig/network, area/controller, release-note-none, lgtm, approved, dco-signoff: yes

#13137 volume migration tests: add decorators for tests that have block requirements
  tests/decorators/decorators.go
  tests/libstorage/pvc.go
  tests/storage/migration.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13081 Eliminate tests/io_utils.go
  tests/BUILD.bazel
  tests/infrastructure/BUILD.bazel
  tests/infrastructure/virt-handler.go
  tests/launchsecurity/BUILD.bazel
  tests/launchsecurity/sev.go
  tests/libnode/node.go
  tests/operator/BUILD.bazel
  tests/operator/operator.go
  tests/storage/BUILD.bazel
  tests/storage/events.go
  tests/storage/hotplug.go
  tests/storage/reservation.go
  tests/storage/scsidisk.go
  tests/storage/storage.go
  tests/usb/BUILD.bazel
  tests/usb/usb.go
  tests/vmi_configuration_test.go
Labels: size/L, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#13170 tests/libnode/node: rename NodeNameWithHandler
  tests/launchsecurity/sev.go
  tests/libnode/node.go
  tests/storage/events.go
  tests/storage/hotplug.go
  tests/storage/storage.go
  tests/usb/usb.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#13147 [release-1.3] migration block->fs test: use storage API to accommodate user scenario
  tests/libdv/dv.go
  tests/storage/migration.go
Labels: size/L, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#12546 Update promql query of cpu and memory metrics for sig-performance tests
  tools/perfscale-audit/metric-client/metric-client.go
Labels: size/S, release-note, lgtm, approved, dco-signoff: yes, sig/scale

#13116 instancetype, virt-controller: Clean up CRs after expand
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
Labels: size/M, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, needs-approver-review

#13134 Automation for sig-compute-conformance lane
  automation/test.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem

#12765 add allocated disk size metric
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-controller/metrics.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
  pkg/virt-controller/watch/application.go
  tests/monitoring/metrics.go
  tools/doc-generator/doc-generator.go
Labels: kind/enhancement, size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, sig/scale, sig/observability

#13154 pkg/network/netbinding: Add linter coverage
  hack/lint-paths.txt
  pkg/network/netbinding/memory.go
  pkg/network/netbinding/memory_test.go
  pkg/network/netbinding/netbinding_test.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#12869 [release-1.3][BugFix]VMIController: creation should be observed
  pkg/virt-controller/watch/vmi.go
Labels: sig/virtualization, area/controller, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13192 e2e,migration: Quarantine flaky compute-migration test
  tests/migration/migration.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, kind/flake

#13193 tests: quarantine guest console log tests
  tests/guestlog/guestlog.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13197 Re-add finalizer update RBAC that was accidentally dropped
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/controller.go
  pkg/virt-operator/resource/generate/rbac/controller_test.go
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem

#13190 [release-1.2] instancetype: Introduce PreferredEfi to API
  api/openapi-spec/swagger.json
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/compatibility_test.go
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/instancetype/v1alpha1/conversion.go
  staging/src/kubevirt.io/api/instancetype/v1alpha1/conversion_generated.go
  staging/src/kubevirt.io/api/instancetype/v1alpha2/conversion.go
  staging/src/kubevirt.io/api/instancetype/v1alpha2/conversion_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/types.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Labels: size/L, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, area/instancetype, sig/buildsystem

#13172 build: Cleanup explicit bazel-skylib dependency as no longer needed
  WORKSPACE
Labels: size/S, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#13151 Add Alauda as ADOPTERS
  ADOPTERS.md
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13020 virtctl, guestfs: Get rid of globals
  pkg/virtctl/guestfs/guestfs.go
  pkg/virtctl/guestfs/guestfs_test.go
Labels: size/L, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes

#12820 Fix graceful shutdown on IBM Z (s390x)
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
  tests/vmi_lifecycle_test.go
Labels: kind/bug, kind/enhancement, size/S, sig/virtualization, area/launcher, area/controller, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13183 [release-1.3] cleanup(tests,virtctl): Drop virtctl expose functests
  tests/libnet/BUILD.bazel
  tests/libnet/expose_util.go
  tests/network/BUILD.bazel
  tests/network/bindingplugin_slirp.go
  tests/network/expose.go
Labels: sig/network, area/virtctl, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#13215 refactor(virtctl/imageupload): use Printf from cobra library
  pkg/virtctl/imageupload/BUILD.bazel
  pkg/virtctl/imageupload/imageupload.go
  pkg/virtctl/imageupload/imageupload_test.go
Labels: size/M, sig/storage, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#13216 [bugFix]: Fix panic in virt-handler when process is not found during CPU housekeeping
  pkg/virt-handler/isolation/detector.go
  pkg/virt-handler/vm.go
Labels: kind/bug, priority/critical-urgent, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13219 backend-storage: fix broken annotation name
  pkg/storage/backend-storage/backend-storage.go
Labels: kind/bug, sig/storage, priority/critical-urgent, release-note, size/XS, lgtm, approved, dco-signoff: yes

#13083 virtctl create vm cleanups
  pkg/virtctl/create/vm/vm.go
  pkg/virtctl/create/vm/vm_test.go
  tests/virtctl/BUILD.bazel
  tests/virtctl/create_vm.go
Labels: sig/virtualization, area/virtctl, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#13168 tests: bug-fix getter matchers to propagate errors correctly
  tests/framework/matcher/BUILD.bazel
  tests/framework/matcher/getter.go
  tests/framework/matcher/getter_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#12966 cleanup(virtctl,memorydump): Refactor and cleanup unit tests
  pkg/virtctl/memorydump/BUILD.bazel
  pkg/virtctl/memorydump/memorydump.go
  pkg/virtctl/memorydump/memorydump_test.go
  pkg/virtctl/utils/BUILD.bazel
  pkg/virtctl/utils/test_utils.go
Labels: area/virtctl, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13182 netpod, networkQueues: Switch the comparison order
  pkg/network/setup/netpod/netpod.go
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13179 virtwrap, converter: Skip CPU Hotplug Setup for ARM64
  pkg/virt-launcher/virtwrap/converter/amd64.go
  pkg/virt-launcher/virtwrap/converter/archconverter.go
  pkg/virt-launcher/virtwrap/converter/arm64.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/ppc64le.go
  pkg/virt-launcher/virtwrap/converter/s390x.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13245 tests, framework: Remove HasLiveMigration
  tests/framework/checks/checks.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13220 fix: Properly restore kv.spec.uninstallStrategy
  tests/operator/operator.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13238 virt-controller: use controller.NamespacedKey() instead of manual strings
  pkg/storage/backend-storage/BUILD.bazel
  pkg/storage/backend-storage/backend-storage.go
  pkg/virt-controller/watch/drain/evacuation/evacuation.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/pool/pool.go
  pkg/virt-controller/watch/replicaset/replicaset.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vmi/vmi.go
Labels: size/M, area/controller, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#12750 instancetype: `PreferredUseEFi` and `PreferredUseSecureBoot` deprecation
  api/api-rule-violations-known.list
  api/api-rule-violations.list
  api/openapi-spec/swagger.json
  examples/windows.yaml
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/instancetype/v1alpha1/conversion.go
  staging/src/kubevirt.io/api/instancetype/v1alpha1/conversion_generated.go
  staging/src/kubevirt.io/api/instancetype/v1alpha2/conversion.go
  staging/src/kubevirt.io/api/instancetype/v1alpha2/conversion_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/types.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tools/vms-generator/utils/utils.go
Labels: size/L, area/controller, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, area/instancetype, kind/deprecation, sig/compute, sig/api, sig/scale, needs-approver-review

#13240 Allow VMExport to start if completed VMI exists
  pkg/storage/export/export/vm-source.go
  pkg/storage/export/export/vm-source_test.go
Labels: kind/bug, size/M, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#13256 [release-1.1] CVE-2024-21626: update runc to a safe version
  go.mod
  go.sum
  vendor/github.com/cyphar/filepath-securejoin/.travis.yml
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/file.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/paths.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/stats.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/userns/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps.c
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Labels: sig/security, size/XL, priority/critical-urgent, release-note, lgtm, approved, kind/build-change, dco-signoff: yes

#13178 virt-ctrl, net: Move network resource mapping logic
  pkg/network/multus/BUILD.bazel
  pkg/network/multus/annotation.go
  pkg/network/multus/nad.go
  pkg/virt-controller/network/BUILD.bazel
  pkg/virt-controller/network/render.go
  pkg/virt-controller/network/render_test.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/template.go
Labels: size/L, sig/network, area/controller, release-note-none, lgtm, approved, dco-signoff: yes

#13130 Improve network-status processing
  pkg/network/deviceinfo/BUILD.bazel
  pkg/network/deviceinfo/deviceinfo.go
  pkg/network/deviceinfo/deviceinfo_test.go
  pkg/network/multus/status.go
  pkg/network/multus/status_test.go
  pkg/network/namescheme/networknamescheme.go
  pkg/network/namescheme/networknamescheme_test.go
  pkg/network/pod/annotations/BUILD.bazel
  pkg/network/pod/annotations/generator.go
  pkg/network/vmicontroller/status.go
  pkg/virt-controller/network/vmcontroller.go
  pkg/virt-controller/watch/vmi/vmi.go
Labels: size/L, sig/network, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13260 Re-add finalizer update RBAC for vmsnapshots/vmis
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/controller.go
  pkg/virt-operator/resource/generate/rbac/controller_test.go
Labels: kind/bug, release-note, size/XS, lgtm, approved, dco-signoff: yes, area/instancetype

#12925 cleanup(tests,virtctl): Refactor and cleanup imageupload functests
  pkg/virtctl/imageupload/imageupload.go
  pkg/virtctl/imageupload/imageupload_test.go
  tests/virtctl/BUILD.bazel
  tests/virtctl/create_vm.go
  tests/virtctl/imageupload.go
Labels: sig/storage, area/virtctl, size/XL, release-note, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13253 [release-0.58] CVE-2024-21626: update runc to a safe version
  go.mod
  go.sum
  vendor/github.com/cyphar/filepath-securejoin/.travis.yml
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/ebpf/ebpf_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/file.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/fs.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/paths.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/stats.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/github.com/opencontainers/runc/libcontainer/userns/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps.c
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Labels: sig/security, size/XL, priority/critical-urgent, release-note, lgtm, approved, dco-signoff: yes

#13106 Fix check unassigned test
  hack/check-unassigned-tests.sh
  tests/decorators/decorators.go
  tests/performance/framework.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem, sig/scale

#13105 Conformance configuration tests, part 1
  pkg/libvmi/BUILD.bazel
  pkg/libvmi/devices.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  tests/migration/migration.go
  tests/vmi_configuration_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#12800 volume-migration: remove restriction for the hotplug volumes
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter_test.go
  pkg/virt-controller/watch/volume-migration/volume-migration.go
  pkg/virt-controller/watch/volume-migration/volume-migration_test.go
  tests/storage/migration.go
Labels: kind/enhancement, size/L, area/controller, sig/storage, area/virtctl, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#13259 e2e, network: Unify IP report in status tests
  tests/network/primary_pod_network.go
  tests/network/vmi_networking.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13267 imageupload tests: run serially
  tests/virtctl/imageupload.go
Labels: sig/storage, area/virtctl, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13174 tests, network: Unify TCP connectivity tests
  tests/network/vmi_networking.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13235 vmi-ctrl: Decouple NIC hotplug / hotunplug logic
  pkg/network/pod/annotations/BUILD.bazel
  pkg/network/pod/annotations/generator.go
  pkg/network/pod/annotations/generator_test.go
  pkg/network/vmispec/BUILD.bazel
  pkg/network/vmispec/hotplug.go
  pkg/network/vmispec/hotplug_test.go
  pkg/virt-controller/network/hotplug.go
  pkg/virt-controller/network/hotplug_test.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Labels: sig/network, area/controller, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#13184 [release-1.2] cleanup(tests,virtctl): Drop virtctl expose functests
  tests/libnet/BUILD.bazel
  tests/libnet/expose_util.go
  tests/network/BUILD.bazel
  tests/network/expose.go
Labels: sig/network, area/virtctl, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#13186 [release-1.0] cleanup(tests,virtctl): Drop virtctl expose functests
  tests/libnet/BUILD.bazel
  tests/libnet/expose_util.go
  tests/network/BUILD.bazel
  tests/network/expose.go
Labels: sig/network, area/virtctl, size/XL, release-note-none, lgtm, approved, dco-signoff: yes

#13171 tests/vm_test: code cleanup
  tests/vm_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing, needs-approver-review

#13185 [release-1.1] cleanup(tests,virtctl): Drop virtctl expose functests
  tests/libnet/BUILD.bazel
  tests/libnet/expose_util.go
  tests/network/BUILD.bazel
  tests/network/expose.go
Labels: sig/network, area/virtctl, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13249 OWNERS: Move AlonaKaplan to the emeritus approvers
  OWNERS_ALIASES
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13269 e2e,network: Unify masquerade binding with custom CIDR tests
  tests/network/vmi_networking.go
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13270 VMSnapshot: propagate freeze error failure
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/source.go
  staging/src/kubevirt.io/client-go/kubecli/handler.go
  tests/storage/snapshot.go
Labels: kind/bug, size/M, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#13138 Avoid NPE when getting filesystem overhead
  pkg/storage/types/BUILD.bazel
  pkg/storage/types/cdi.go
  pkg/storage/types/cdi_test.go
  pkg/virt-controller/watch/vmi/vmi.go
Labels: kind/bug, size/L, area/controller, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/compute, needs-approver-review

#13140 Tests: Fix nil pointer deref in expansion test
  tests/storage/datavolume.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, needs-approver-review

#13202 Expand archconverter usages
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
  pkg/virt-launcher/virtwrap/converter/amd64.go
  pkg/virt-launcher/virtwrap/converter/archconverter.go
  pkg/virt-launcher/virtwrap/converter/archconverter_test.go
  pkg/virt-launcher/virtwrap/converter/arm64.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/network.go
  pkg/virt-launcher/virtwrap/converter/ppc64le.go
  pkg/virt-launcher/virtwrap/converter/s390x.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
  pkg/virt-launcher/virtwrap/util/libvirt_helper_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#13280 tests, decorators: Remove PasstGate
  tests/decorators/decorators.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#12224 Refactor unit tests to use libvmi for resource creation in config file
  pkg/config/config-map_test.go
  pkg/config/downwardapi_test.go
  pkg/config/secret_test.go
  pkg/config/service-account_test.go
  pkg/config/sysprep_test.go
  pkg/libvmi/config.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, needs-approver-review

#13195 Vmrestore - add options to handle cases when target is not ready
  api/openapi-spec/swagger.json
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
  pkg/storage/snapshot/util.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virt-operator/resource/generate/rbac/controller.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/storage/restore.go
Labels: sig/storage, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#13289 perf,kwok: fix path to kubectl.sh in kwok-perftests.sh
  hack/kwok-perftests.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem, kind/failing-test

#13268 storage tests: follow up cleanup of pvc->storage API
  tests/storage/datavolume.go
  tests/virtiofs/datavolume.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13210 storagetypes: use built-in `min` function
  pkg/storage/types/pvc.go
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#13278 cleanup(virtctl,params): Add unit tests and apply cleanups
  pkg/virtctl/create/params/BUILD.bazel
  pkg/virtctl/create/params/params.go
  pkg/virtctl/create/params/params_suite_test.go
  pkg/virtctl/create/params/params_test.go
  pkg/virtctl/create/vm/vm_test.go
Labels: size/L, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes

#13294 Add Guest and Hugepages memory to kubevirt_vm_resource_requests
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Labels: kind/enhancement, size/M, release-note, lgtm, approved, dco-signoff: yes, sig/observability

#13282 tests/libmigration/migration: bug-fix migration create during retry
  tests/libmigration/migration.go
Labels: kind/bug, size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13296 Fix volume migration tests against ceph rbd
  tests/libdv/dv.go
  tests/storage/migration.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13315 adopters: Update link for Puzl
  ADOPTERS.md
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13319 Moving Alauda to alphabetical position and adding note
  ADOPTERS.md
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/documentation

#13325 Add node label to migration metrics
  pkg/monitoring/metrics/virt-handler/migrationdomainstats/migrationstats_collector.go
  pkg/monitoring/metrics/virt-handler/migrationdomainstats/queue.go
Labels: kind/enhancement, release-note, size/XS, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#13139 Replace deprecated method `PollImmediate` with `PollUntilContextTimeout`
  cmd/virt-chroot/BUILD.bazel
  cmd/virt-chroot/mdev-handler.go
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-launcher/virt-launcher.go
  cmd/virt-tail/BUILD.bazel
  cmd/virt-tail/main.go
  pkg/apimachinery/wait/BUILD.bazel
  pkg/apimachinery/wait/wait.go
  pkg/virt-handler/heartbeat/BUILD.bazel
  pkg/virt-handler/heartbeat/heartbeat.go
  pkg/virt-launcher/notify-client/BUILD.bazel
  pkg/virt-launcher/notify-client/client.go
  pkg/virt-launcher/virtwrap/cli/BUILD.bazel
  pkg/virt-launcher/virtwrap/cli/libvirt.go
  pkg/virt-launcher/virtwrap/cli/libvirt_test.go
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/BUILD.bazel
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/hostdev.go
  pkg/virtctl/imageupload/BUILD.bazel
  pkg/virtctl/imageupload/imageupload.go
  pkg/virtctl/memorydump/BUILD.bazel
  pkg/virtctl/memorydump/memorydump.go
  pkg/virtctl/vmexport/BUILD.bazel
  pkg/virtctl/vmexport/vmexport.go
  tests/BUILD.bazel
  tests/libnet/job/BUILD.bazel
  tests/libnet/job/job.go
  tests/mdev_configuration_allocation_test.go
  tests/network/BUILD.bazel
  tests/network/bindingplugin_macvtap.go
  tests/network/sriov.go
  tests/operator/BUILD.bazel
  tests/operator/operator.go
  tools/perfscale-load-generator/object/BUILD.bazel
  tools/perfscale-load-generator/object/namespace.go
Labels: size/L, sig/network, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/scale

#13313 Nominate akalenyu sig-storage approver
  OWNERS_ALIASES
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13312 Nominate ShellyKa13 sig-storage approver
  OWNERS_ALIASES
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13302 fix quarantined [test_id:6980] test
  tests/migration/migration.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13254 [release-0.59] CVE-2024-21626: update runc to a safe version
  go.mod
  go.sum
  vendor/github.com/cyphar/filepath-securejoin/.travis.yml
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/ebpf/ebpf_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/file.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/fs.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/paths.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/stats.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/github.com/opencontainers/runc/libcontainer/userns/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps.c
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Labels: sig/security, size/XL, release-note, lgtm, approved, kind/build-change, dco-signoff: yes, needs-approver-review

#13327 passt binding plugin, e2e: Remove unused params
  tests/network/bindingplugin_passt.go
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13255 [release-1.0] CVE-2024-21626: update runc to a safe version
  go.mod
  go.sum
  vendor/github.com/cyphar/filepath-securejoin/.travis.yml
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/ebpf/ebpf_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/file.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/fs.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/paths.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/stats.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/github.com/opencontainers/runc/libcontainer/userns/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps.c
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Labels: sig/security, size/XL, release-note, lgtm, approved, kind/build-change, dco-signoff: yes, needs-approver-review

#13303 e2e: Increase number of e2e parallel tests to 4
  hack/functests.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#13330 vsock tests: use pgrep instead of non existing lsof
  tests/vmi_vsock_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13066 Conformance tests for migration-Pt.2
  tests/migration/migration.go
  tests/migration/postcopy.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13257 fix: Proactively trigger handler final cleanup when a migration fails
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Labels: kind/bug, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13314 virt-config, fg: Graduate the Network Binding Plugin feature to GA
  pkg/network/admitter/admit_suite_test.go
  pkg/network/admitter/binding.go
  pkg/network/admitter/binding_test.go
  pkg/network/admitter/validator.go
  pkg/network/multus/annotation.go
  pkg/virt-config/deprecation/feature-gates.go
  pkg/virt-config/feature-gates.go
  tests/network/bindingplugin.go
  tests/network/bindingplugin_macvtap.go
  tests/network/bindingplugin_passt.go
  tests/network/bindingplugin_slirp.go
  tests/network/vmi_istio.go
Labels: size/M, sig/network, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#13345 Add description to migration failures [test_id:2303]
  tests/migration/migration.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#12962 Conformance lifecycle part 1
  tests/BUILD.bazel
  tests/vmi_lifecycle_test.go
  tests/vnc_test.go
  tests/watchdog_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13285 workqueue: use typed queue
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/storage/export/export/pvc-source_test.go
  pkg/storage/export/export/vm-source_test.go
  pkg/storage/export/export/vmsnapshot-source_test.go
  pkg/storage/snapshot/restore_base.go
  pkg/storage/snapshot/restore_test.go
  pkg/storage/snapshot/snapshot_base.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/testutils/mock_queue.go
  pkg/virt-controller/watch/clone/clone_base.go
  pkg/virt-controller/watch/clone/clone_test.go
  pkg/virt-controller/watch/drain/disruptionbudget/disruptionbudget.go
  pkg/virt-controller/watch/drain/disruptionbudget/disruptionbudget_test.go
  pkg/virt-controller/watch/drain/evacuation/evacuation.go
  pkg/virt-controller/watch/drain/evacuation/evacuation_test.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-controller/watch/node/node.go
  pkg/virt-controller/watch/node/node_test.go
  pkg/virt-controller/watch/pool/pool.go
  pkg/virt-controller/watch/pool/pool_test.go
  pkg/virt-controller/watch/replicaset/replicaset.go
  pkg/virt-controller/watch/replicaset/replicaset_test.go
  pkg/virt-controller/watch/util/util.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-controller/watch/workload-updater/workload-updater.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-operator/kubevirt.go
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/resource/apply/core_test.go
  pkg/virt-operator/resource/apply/reconcile.go
Labels: size/L, area/controller, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#13363 build: Add sha256 for virtio-win ISO to fix kubevirt mirror uploader
  WORKSPACE
Labels: size/XS, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#13068 Controllers: Improve unit test to catch corruption
  pkg/controller/testing/BUILD.bazel
  pkg/controller/testing/testing.go
  pkg/virt-controller/watch/clone/BUILD.bazel
  pkg/virt-controller/watch/clone/clone_test.go
  pkg/virt-controller/watch/drain/disruptionbudget/BUILD.bazel
  pkg/virt-controller/watch/drain/disruptionbudget/disruptionbudget_test.go
  pkg/virt-controller/watch/drain/evacuation/BUILD.bazel
  pkg/virt-controller/watch/drain/evacuation/evacuation_test.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-controller/watch/node/BUILD.bazel
  pkg/virt-controller/watch/node/node_test.go
  pkg/virt-controller/watch/pool/BUILD.bazel
  pkg/virt-controller/watch/pool/pool_test.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-controller/watch/workload-updater/BUILD.bazel
  pkg/virt-controller/watch/workload-updater/workload-updater_test.go
Labels: area/controller, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing, needs-approver-review

#13355 [release-1.3] fix: Proactively trigger handler final cleanup when a migration fails
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Labels: kind/bug, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13356 [release-1.2] fix: Proactively trigger handler final cleanup when a migration fails
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Labels: kind/bug, area/handler, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13300 Improve converter test
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/archconverter.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/testdata/domain_s390x.xml.tmpl
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13377 virt-handler: Improve unit test to catch corruption
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing

#13357 [release-1.1] fix: Proactively trigger handler final cleanup when a migration fails
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Labels: kind/bug, area/handler, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#12033 Infrastructure tests refactor
  tests/infrastructure/BUILD.bazel
  tests/infrastructure/certificates.go
  tests/infrastructure/cluster-profiler.go
  tests/infrastructure/crds.go
  tests/infrastructure/downward-metrics.go
  tests/infrastructure/infrastructure.go
  tests/infrastructure/k8s-client-changes.go
  tests/infrastructure/node-labeller.go
  tests/infrastructure/prometheus.go
  tests/infrastructure/security.go
  tests/infrastructure/taints-and-tolerations.go
  tests/infrastructure/tls-configuration.go
  tests/infrastructure/virt-controller-leader-election.go
  tests/infrastructure/virt-handler.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem, needs-approver-review

#13136 vmi-create-admitter refactor: change tests to test behavior instead of implementation details
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13370 OWNERS_ALIAS: Remove myself from code reviewers
  OWNERS_ALIASES
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13371 tests/numa: add stdout to error description on failure
  tests/numa/numa.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13374 net, setup: Set const name for tap associated with VM's primary iface
  pkg/network/domainspec/generators.go
  pkg/network/domainspec/generators_test.go
  pkg/network/link/BUILD.bazel
  pkg/network/link/names.go
  pkg/network/link/names_test.go
  pkg/network/setup/netpod/netpod.go
  pkg/network/setup/netpod/netpod_test.go
  pkg/network/setup/podnic.go
  pkg/virt-launcher/virtwrap/nichotplug.go
  pkg/virt-launcher/virtwrap/nichotplug_test.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes

#13369 cleanup(virtctl,create): Apply cleanups to create instancetype and create preference
  pkg/virtctl/create/instancetype/instancetype.go
  pkg/virtctl/create/instancetype/instancetype_test.go
  pkg/virtctl/create/preference/preference.go
  pkg/virtctl/create/preference/preference_test.go
Labels: area/virtctl, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#13372 tests/infra/prometheus: use executor token for commands instead of virt-operator SA token
  tests/infrastructure/prometheus.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/observability

#13274 lint: Add tests/infrastructure to linter
  hack/lint-paths.txt
  tests/infrastructure/certificates.go
  tests/infrastructure/cluster-profiler.go
  tests/infrastructure/crds.go
  tests/infrastructure/downward-metrics.go
  tests/infrastructure/k8s-client-changes.go
  tests/infrastructure/node-labeller.go
  tests/infrastructure/prometheus.go
  tests/infrastructure/security.go
  tests/infrastructure/taints-and-tolerations.go
  tests/infrastructure/tls-configuration.go
  tests/infrastructure/virt-controller-leader-election.go
  tests/infrastructure/virt-handler.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#13393 [release-1.4] Apply fixes to virtctl create preference
  pkg/virtctl/create/preference/preference.go
Labels: area/virtctl, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#13385 cleanup(tests,virtctl): Add missing headers
  tests/virtctl/create_vm.go
  tests/virtctl/imageupload.go
  tests/virtctl/memorydump.go
  tests/virtctl/scp.go
  tests/virtctl/ssh.go
Labels: size/M, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13107 cleanup virtctl Console
  pkg/virtctl/console/BUILD.bazel
  pkg/virtctl/console/console.go
  pkg/virtctl/guestfs/BUILD.bazel
  pkg/virtctl/guestfs/guestfs.go
  pkg/virtctl/utils/BUILD.bazel
  pkg/virtctl/utils/utils.go
Labels: size/L, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes

#13332 [Tests]Use Eventually in test to allow time for reconciliation loop
  tests/vm_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13381 cleanup(tests,component_monitoring): Replace virtctl with client
  tests/monitoring/BUILD.bazel
  tests/monitoring/component_monitoring.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/observability

#13387 [release-1.4] net, setup: Set const name for tap associated with VM's primary iface
  pkg/network/domainspec/generators.go
  pkg/network/domainspec/generators_test.go
  pkg/network/link/BUILD.bazel
  pkg/network/link/names.go
  pkg/network/link/names_test.go
  pkg/network/setup/netpod/netpod.go
  pkg/network/setup/netpod/netpod_test.go
  pkg/network/setup/podnic.go
  pkg/virt-launcher/virtwrap/nichotplug.go
  pkg/virt-launcher/virtwrap/nichotplug_test.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes

#13243 Graduate the DynamicPodInterfaceNaming FG
  cmd/virt-handler/virt-handler.go
  pkg/network/setup/netconf.go
  pkg/network/setup/netconf_test.go
  pkg/network/setup/netpod/netpod.go
  pkg/network/setup/netstat.go
  pkg/network/setup/netstat_test.go
  pkg/network/vmicontroller/status.go
  pkg/network/vmicontroller/status_test.go
  pkg/virt-config/deprecation/feature-gates.go
  pkg/virt-config/feature-gates.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-handler/non-root.go
  tests/network/BUILD.bazel
  tests/network/vmi_infosource.go
Labels: size/L, sig/network, area/controller, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, needs-approver-review
