Repository kubevirt/kubevirt, pull requests merged in 2025-07, with the labels that each got.

#15033 Skip the ImageVolume e2e test if K8s < 1.35
  tests/container_disk_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#15023 [release-1.6] Decentralized live migration core functionality.
  api/openapi-spec/swagger.json
  go.work.sum
  manifests/generated/kv-resource.yaml
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/synchronization-controller/synchronization-controller.go
  pkg/synchronization-controller/synchronization-controller_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/decentralized.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-handler/controller.go
  pkg/virt-handler/migration-source.go
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/resource/apply/reconcile.go
  pkg/virt-operator/resource/apply/update.go
  pkg/virt-operator/resource/generate/components/deployments.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virt-operator/util/config.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/decorators/decorators.go
  tests/libmigration/migration.go
  tests/migration/BUILD.bazel
  tests/migration/migration.go
  tests/migration/namespace.go
  tests/operator/operator.go
Labels: area/launcher, area/controller, size/XXL, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/observability

#15017 IBM s390x architecture configuration
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-config/configuration.go
  pkg/virt-config/configuration_test.go
  pkg/virt-config/virt-config.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/vmi_configuration_test.go
Labels: size/L, area/api-server, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#15037 host-disk: only chown files we created
  pkg/ephemeral-disk-utils/utils.go
  pkg/host-disk/host-disk.go
  pkg/host-disk/host-disk_test.go
  tests/storage/storage.go
Labels: size/M, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#15074 [release-1.6] Add synchronizationAddress to migration resource status
  api/openapi-spec/swagger.json
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/libmigration/migration.go
Labels: size/L, area/controller, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#14985 fix(vmrestore): volumerestorepolicy inplace flaky tests
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
  tests/storage/restore.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, kind/flake

#15030 automation, test: Introduce KUBEVIRT_WITH_DYN_NET_CTRL
  automation/test.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem, needs-approver-review

#15057 tests: remove test_id:1684 as it's already covered by unit tests
  tests/vmi_configuration_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#14918 [release-1.5] Replace metric labels' none values with empty values
  go.mod
  go.sum
  go.work.sum
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/collector.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatorrules/registry.go
  vendor/github.com/machadovilaca/operator-observability/pkg/testutil/BUILD.bazel
  vendor/github.com/machadovilaca/operator-observability/pkg/testutil/fetch_metrics.go
  vendor/modules.txt
Labels: size/XL, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#15034 github, actions: Add sig-buildsystem as owners of the .github dir
  .github/OWNERS
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, needs-approver-review

#15062 tests: virt-handler cache: increase too short timeout
  pkg/virt-handler/cache/cache_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#15067 Image upload: Label PVCs to add support for rendering webhook
  pkg/virtctl/imageupload/imageupload.go
  pkg/virtctl/imageupload/imageupload_test.go
Labels: size/S, sig/storage, area/virtctl, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#15108 Linter: Cover additional "clean" directories
  hack/linter/lint-paths.txt
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem, wg/code-quality

#14835 pkg/util: Mv net devices requirement logic under SIG network
  pkg/network/vmispec/BUILD.bazel
  pkg/network/vmispec/devices.go
  pkg/network/vmispec/interface.go
  pkg/util/util.go
  pkg/virt-controller/services/renderresources.go
  pkg/virt-handler/non-root.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, needs-approver-review

#15119 [release-1.6] bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/cluster/ephemeral-provider-common.sh
  kubevirtci/cluster-up/cluster/kind-ovn/install-ovn.sh
  kubevirtci/cluster-up/cluster/kind-ovn/provider.sh
  kubevirtci/cluster-up/cluster/kind/common.sh
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#15149 tests: Always check InstancetypeRef and ControllerRevisionRef are not nil
  tests/vm_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype

#14917 [release-1.5] Fix wrong cluster preference informer for metrics
  pkg/virt-controller/watch/application.go
Labels: release-note, size/XS, lgtm, approved, dco-signoff: yes, area/instancetype, needs-approver-review

#15099 export: ensure service name is dns1035 label
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
Labels: size/M, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#15145 Skip 1Gi hugepages and USB tests in flake check lanes
  automation/repeated_test.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#15102 fix(deps): update module golang.org/x/net to v0.38.0 [security] (release-1.6)
  go.mod
  go.sum
  staging/src/kubevirt.io/api/go.mod
  staging/src/kubevirt.io/api/go.sum
  staging/src/kubevirt.io/client-go/go.mod
  staging/src/kubevirt.io/client-go/go.sum
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/tcpip.go
  vendor/golang.org/x/net/html/atom/table.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/golang.org/x/sync/errgroup/BUILD.bazel
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/golang.org/x/text/language/parse.go
  vendor/modules.txt
Labels: release-note, size/XXL, kind/api-change, lgtm, approved, dco-signoff: yes

#15124 fix: pkg/virtctl/console lint errors
  hack/linter/lint-paths.txt
  pkg/virtctl/console/console.go
Labels: size/M, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem

#15164 Introduce dummy dra informers when FG disabled
  pkg/controller/virtinformers.go
  pkg/virt-controller/watch/application.go
Labels: size/M, area/controller, release-note-none, lgtm, approved, dco-signoff: yes

#15100 fix(deps): update module golang.org/x/net to v0.38.0 [security] (main)
  go.mod
  go.sum
  staging/src/kubevirt.io/api/go.mod
  staging/src/kubevirt.io/api/go.sum
  staging/src/kubevirt.io/client-go/go.mod
  staging/src/kubevirt.io/client-go/go.sum
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/tcpip.go
  vendor/golang.org/x/net/html/atom/table.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/golang.org/x/sync/errgroup/BUILD.bazel
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/golang.org/x/text/language/parse.go
  vendor/modules.txt
Labels: release-note, size/XXL, kind/api-change, lgtm, approved, dco-signoff: yes

#15094 net, vm ctrl: Mv VMI patch up the stack
  pkg/network/controllers/vm.go
Labels: size/S, sig/network, area/controller, release-note-none, lgtm, approved, dco-signoff: yes

#15130 Linter: Cover passt BP sidecar's server package
  cmd/sidecars/network-passt-binding/server/server.go
  hack/linter/lint-paths.txt
Labels: size/S, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem, wg/code-quality

#15118 vmi-create-admitter: drop firmware.serial validation
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Labels: size/M, area/api-server, release-note, lgtm, approved, dco-signoff: yes

#15190 hack: Refine and document bazel-push-images logic
  hack/bazel-push-images.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#15157 virt-operator: add missing affinity to control-plane nodes
  manifests/generated/operator-csv.yaml.in
  pkg/virt-operator/BUILD.bazel
  pkg/virt-operator/resource/apply/BUILD.bazel
  pkg/virt-operator/resource/apply/apps.go
  pkg/virt-operator/resource/apply/apps_test.go
  pkg/virt-operator/resource/apply/reconcile.go
  pkg/virt-operator/resource/apply/reconcile_test.go
  pkg/virt-operator/resource/generate/components/BUILD.bazel
  pkg/virt-operator/resource/generate/components/deployments.go
  pkg/virt-operator/resource/placement/BUILD.bazel
  pkg/virt-operator/resource/placement/placement.go
  pkg/virt-operator/resource/placement/placement_suite_test.go
  pkg/virt-operator/resource/placement/placement_test.go
  pkg/virt-operator/strategy_job.go
Labels: release-note, size/XXL, area/operator, lgtm, approved, dco-signoff: yes

#15061 virt-operator: Remove support for *_SHASUM env variables
  Makefile
  hack/build-manifests.sh
  hack/cluster-patch.sh
  hack/generate.sh
  hack/parse-shasums.sh
  manifests/generated/operator-csv.yaml.in
  pkg/virt-api/api.go
  pkg/virt-operator/resource/generate/components/deployments.go
  pkg/virt-operator/resource/generate/csv/csv.go
  pkg/virt-operator/util/config.go
  pkg/virt-operator/util/config_test.go
  tests/operator/BUILD.bazel
  tests/operator/operator.go
  tools/csv-generator/csv-generator.go
  tools/manifest-templator/manifest-templator.go
Labels: size/XL, release-note, area/operator, lgtm, approved, dco-signoff: yes, sig/buildsystem, sig/scale, needs-approver-review

#15182 export: address additional naming convention issues
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/virt-controller/services/template.go
Labels: size/M, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#15201 [release-1.6] Un-quarantine should not migrate more than two VMIs at the same time from a node
  tests/migration/eviction_strategy.go
Labels: release-note, size/XS, lgtm, approved, dco-signoff: yes

#15196 virt-launcher: Reduce logging of "No DRA GPU devices found for vmi"
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/gpu_hostdev.go
Labels: area/launcher, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14300 [release-1.3] fix(deps): update module github.com/opencontainers/runc to v1.1.14 [security] (release-1.3)
  go.mod
  go.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/cpu.go
  vendor/github.com/opencontainers/runc/libcontainer/system/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/system/linux.go
  vendor/github.com/opencontainers/runc/libcontainer/system/proc.go
  vendor/github.com/opencontainers/runc/libcontainer/system/rlimit_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/system/rlimit_linux_go122.go
  vendor/github.com/opencontainers/runc/libcontainer/system/rlimit_stub.go
  vendor/github.com/opencontainers/runc/libcontainer/system/syscall_linux_32.go
  vendor/github.com/opencontainers/runc/libcontainer/system/syscall_linux_64.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Labels: size/XL, release-note, lifecycle/stale, lgtm, approved, dco-signoff: yes, sig/buildsystem, needs-approver-review

#15206 virt-handler, migration-src: Add netStat, call UpdateStatus
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/migration-source.go
  pkg/virt-handler/migration-source_test.go
  tests/network/sriov.go
Labels: size/S, sig/network, area/handler, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem, sig/scale

#15216 Fix IsRunning function on migration type
  staging/src/kubevirt.io/api/core/v1/types.go
Labels: size/XS, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, approved-vep

#15220 hack: Force IMAGE_PULL_POLICY to Always when using cluster-sync
  hack/cluster-sync.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#15193 [release-1.4] vmi-create-admitter: drop firmware.serial validation #15192
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  tests/vmi_configuration_test.go
Labels: size/M, area/api-server, release-note, lgtm, approved, dco-signoff: yes

#15199 better tests for firmware.serial
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  tests/vmi_configuration_test.go
Labels: size/M, area/launcher, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#15207 Remove PodCacheStore, not used
  pkg/controller/controller.go
Labels: size/S, area/controller, release-note-none, lgtm, approved, dco-signoff: yes

#14891 Add license header linter for sig-storage under pkg
  hack/license-header-check.sh
  pkg/emptydisk/emptydisk.go
  pkg/emptydisk/emptydisk_suite_test.go
  pkg/emptydisk/emptydisk_test.go
  pkg/host-disk/host_disk_suite_test.go
  pkg/storage/admitters/vm-storage-admitter_test.go
  pkg/storage/backend-storage/backend-storage_suite_test.go
  pkg/storage/backend-storage/backend-storage_test.go
  pkg/storage/export/export/paths.go
  pkg/storage/hotplug/hotplug_suite_test.go
  pkg/storage/hotplug/hotplug_test.go
  pkg/storage/memorydump/memorydump_suite_test.go
  pkg/storage/memorydump/memorydump_test.go
  pkg/storage/pod/annotations/annotations_suite_test.go
  pkg/storage/pod/annotations/generator.go
  pkg/storage/pod/annotations/generator_test.go
  pkg/storage/reservation/pr.go
  pkg/storage/snapshot/restore_test.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/status/status.go
  pkg/virtctl/guestfs/guestfs.go
  pkg/virtctl/guestfs/guestfs_suite_test.go
  pkg/virtctl/guestfs/guestfs_test.go
  pkg/virtctl/imageupload/imageupload_suite_test.go
  pkg/virtctl/imageupload/imageupload_test.go
  pkg/virtctl/memorydump/memorydump_suite_test.go
  pkg/virtctl/memorydump/memorydump_test.go
  pkg/virtctl/vmexport/vmexport_suite_test.go
  pkg/virtctl/vmexport/vmexport_test.go
  pkg/virtiofs/virtiofs.go
Labels: size/L, sig/storage, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem, needs-approver-review

#15126 verify guest access to device instead of host ownership check
  tests/usb/BUILD.bazel
  tests/usb/usb.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#15176 [release-1.4] export: ensure service name is dns1035 label
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
Labels: size/M, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#15053 Remove e2e PreferredStorageClassName test and add test_id to unit covering it
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  tests/storage/datavolume.go
Labels: size/L, area/api-server, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#15214 q(1.6,sig-compute): quarantine flaky persistent TPM
  tests/vm_state_test.go
Labels: priority/critical-urgent, release-note, size/XS, lgtm, approved, dco-signoff: yes, sig/compute, kind/flake

#15141 Evacuation controller refactor
  pkg/virt-controller/watch/drain/evacuation/BUILD.bazel
  pkg/virt-controller/watch/drain/evacuation/evacuation_test.go
Labels: size/L, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#15253 chore(deps): Bump common-instancetypes to v1.4.0
  hack/common-instancetypes/default.sh
  pkg/virt-operator/resource/generate/components/data/common-clusterinstancetypes-bundle.yaml
  pkg/virt-operator/resource/generate/components/data/common-clusterpreferences-bundle.yaml
Labels: release-note, size/XXL, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/buildsystem

#15180 fix: convert login time to seconds
  api/openapi-spec/swagger.json
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Labels: size/S, area/launcher, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#15026 virt-handler: refactor variables and code into base controller
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/controller.go
  pkg/virt-handler/device-manager/device_controller.go
  pkg/virt-handler/device-manager/device_controller_test.go
  pkg/virt-handler/migration-source.go
  pkg/virt-handler/migration-source_test.go
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/migration-target_test.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Labels: area/handler, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#15264 [release-1.6] Quarantine decentralized lm test
  tests/migration/namespace.go
Labels: priority/critical-urgent, release-note, size/XS, lgtm, approved, dco-signoff: yes, kind/flake

#15236 e2e, net: Mv multi-Q single CPU to SIG Net
  tests/network/vmi_networking.go
  tests/vmi_multiqueue_test.go
Labels: size/M, sig/network, area/controller, sig/storage, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, sig/buildsystem

#15286 test.sh, SIG network: Always deploy Multus v4
  automation/test.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#15045 network, dns: Support adding IPv6 Nameservers
  pkg/network/dhcp/serverv6/serverv6.go
  pkg/network/dhcp/serverv6/serverv6_test.go
  pkg/network/dns/resolveconf.go
  pkg/network/dns/resolveconf_test.go
  pkg/network/driver/common.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes

#15244 fix(manifests): Set pull policy for virt-launcher
  manifests/generated/kubevirt-cr.yaml.in
  tools/resource-generator/resource-generator.go
Labels: size/S, area/launcher, release-note-none, lgtm, approved, dco-signoff: yes, sig/scale

#15309 Fix wrong timestamp being copied
  pkg/synchronization-controller/synchronization-controller.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#15301 net, driver, virtchroot: Add linter coverage
  hack/linter/lint-paths.txt
  pkg/network/driver/virtchroot/tap.go
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem, wg/code-quality

#15314 Enforce CNs for aggregated API
  pkg/util/tls/ca-manager.go
  pkg/util/tls/ca-manager_test.go
  pkg/util/tls/tls.go
  pkg/util/tls/tls_test.go
  pkg/virt-api/api.go
Labels: kind/bug, size/L, area/api-server, priority/critical-urgent, release-note, lgtm, approved, dco-signoff: yes

#15288 Move storage related webhook admitters to pkg/storage [part2]
  pkg/storage/admitters/BUILD.bazel
  pkg/storage/admitters/disks.go
  pkg/storage/admitters/disks_test.go
  pkg/storage/admitters/storagehotplug.go
  pkg/storage/admitters/storagehotplug_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-preset-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/validating-webhook.go
Labels: sig/storage, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#15343 Update target project url for 1.7 vep
  .github/workflows/label_approved_veps.yaml
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem
