Repository kubevirt/kubevirt, pull requests merged in 2025-10, with the labels that each got.

#15692 Properly set owner references for restored PVCs
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
  tests/libstorage/datavolume.go
  tests/storage/restore.go
Labels: size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#15789 priority queue: add missing mocked AddWithOpts
  pkg/testutils/mock_priorityqueue.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#15793 build: update to use PUSH_TARGETS to generate list of images for hack/push-container-manifest.sh
  hack/bazel-push-images.sh
  hack/push-container-manifest.sh
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#15690 virt-operator: Scale virt-api using NodeSchedulable count
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/apply/apps.go
  pkg/virt-operator/resource/apply/apps_test.go
Labels: size/M, release-note, area/operator, lgtm, approved, dco-signoff: yes

#15641 Reorganize monitoring metrics e2e tests
  tests/libmonitoring/prometheus.go
  tests/monitoring/metrics.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#15799 virt-controller: Harden returned running migration from queue assertion
  pkg/virt-controller/watch/migration/migration_test.go
Labels: size/S, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, wg/arch-arm

#15471 deps: Update version of github.com/openshift/library-go
  go.mod
  go.sum
  go.work.sum
  vendor/github.com/openshift/library-go/pkg/build/naming/namer.go
  vendor/modules.txt
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#15809 [release-1.4] Properly set owner references for restored PVCs
  pkg/storage/snapshot/restore.go
  tests/storage/restore.go
Labels: size/L, area/controller, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#15808 [release-1.5] Properly set owner references for restored PVCs
  pkg/storage/snapshot/restore.go
  tests/storage/restore.go
Labels: size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#15615 Object Graph: Include NADs and ServiceAccounts
  pkg/virt-api/rest/objectgraph.go
  pkg/virt-api/rest/objectgraph_test.go
Labels: size/L, area/api-server, release-note, lgtm, approved, dco-signoff: yes

#15794 reporter: Add `containerd` and `crio` debug on functional test failure
  automation/test.sh
  tests/reporter/kubernetes.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, sig/buildsystem

#15813 test: set timeout to ginkgo_tests
  pkg/virt-handler/BUILD.bazel
  pkg/virt-operator/BUILD.bazel
Labels: area/handler, priority/critical-urgent, size/XS, release-note-none, area/operator, lgtm, approved, dco-signoff: yes, sig/compute, kind/flake

#15706 fix: prioritize expired cert removal over 50-cert limit in MergeCABundle
  pkg/virt-operator/resource/generate/components/secrets.go
  pkg/virt-operator/resource/generate/components/secrets_test.go
Labels: size/L, release-note, area/operator, lgtm, approved, dco-signoff: yes
