Repository kubevirt/kubevirt, pull requests merged in 2025-08, with the labels that each got.

#15152 fix: lint: pkg/virtctl/create/clone errors
  hack/linter/lint-paths.txt
  pkg/virtctl/create/clone/clone.go
  pkg/virtctl/create/clone/clone_test.go
Labels: size/L, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem

#15333 tests: Remove use of CNAO from sig-operator lanes
  automation/test.sh
  tests/operator/operator.go
Labels: sig/network, size/XS, release-note-none, area/operator, lgtm, approved, dco-signoff: yes, sig/compute, kind/flake, sig/buildsystem

#15345 Move performance job artifacts to the base artifacts directory
  hack/perfscale-tests.sh
  hack/perftests.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#14879 Add GuestAgentInfo load metrics
  api/openapi-spec/swagger.json
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-handler/domainstats/BUILD.bazel
  pkg/monitoring/metrics/virt-handler/domainstats/domainstats.go
  pkg/monitoring/metrics/virt-handler/domainstats/guest_agent_info_collector.go
  pkg/monitoring/metrics/virt-handler/domainstats/guest_agent_info_scraper.go
  pkg/monitoring/metrics/virt-handler/domainstats/guest_agent_info_scraper_test.go
  pkg/monitoring/metrics/virt-handler/metrics.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/manager.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/monitoring/metrics.go
Labels: area/launcher, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, area/monitoring, sig/compute, sig/buildsystem, sig/observability

#15229 Improve error message when restoring VMs with backend storage
  pkg/storage/admitters/vmrestore.go
  pkg/storage/admitters/vmrestore_test.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#15282 preference: Refactor application of AutoAttach preferences
  pkg/instancetype/controller/vm/controller.go
  pkg/instancetype/controller/vm/controller_test.go
  pkg/instancetype/controller/vm/mock.go
  pkg/instancetype/preference/apply/BUILD.bazel
  pkg/instancetype/preference/apply/device.go
  pkg/instancetype/preference/apply/device_test.go
  pkg/virt-controller/watch/vm/vm.go
Labels: size/L, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#15001 Handle freeze on paused VMs during snapshot
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
  pkg/virt-api/rest/lifecycle.go
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types.go
  tests/storage/snapshot.go
Labels: size/L, sig/network, area/launcher, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, needs-approver-review

#15183 tests,network: Perform conn. check against pod in tests namespace
  tests/network/vmi_networking.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes

#15325 Safepath: detector
  pkg/virt-handler/cache/cache.go
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/isolation/detector.go
Labels: size/S, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#15351 Remove verb duplicates in operator clusterrole
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/operator.go
Labels: size/XS, release-note-none, area/operator, lgtm, approved, dco-signoff: yes, kind/cleanup

#15096 api: Introduce and use domain-qualified version of the foregroundDeleteVirtualMachine finalizer
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/testsuite/namespace.go
Labels: size/S, area/controller, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#15371 [release-1.4] virt-handler: validate sockets listed by the domain informer cache with ghost record cache
  pkg/virt-handler/cache/BUILD.bazel
  pkg/virt-handler/cache/cache.go
  pkg/virt-handler/cache/cache_test.go
  pkg/virt-handler/cache/domain-watcher.go
  pkg/virt-handler/cache/domain-watcher_test.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/client_test.go
Labels: size/L, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14983 Add CPU Queue alerts
  docs/observability/metrics.md
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/vms.go
  pkg/monitoring/rules/recordingrules/vmi.go
Labels: size/M, area/launcher, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, area/monitoring, sig/compute, sig/buildsystem, sig/observability, needs-approver-review

#15306 Make strategy job comply Pod Security
  pkg/virt-operator/BUILD.bazel
  pkg/virt-operator/strategy_job.go
Labels: size/S, release-note-none, area/operator, lgtm, approved, dco-signoff: yes

#15365 [descheduler] align opt-out annotation name
  pkg/virt-controller/watch/descheduler/descheduler.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Labels: size/M, area/controller, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#15255 e2e, net, hotplug: Update hotplug tests to cover ifaces states up/down
  tests/libnet/hotplug.go
  tests/libnet/interface.go
  tests/network/hotplug_bridge.go
  tests/network/link_state.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes

#15221 virt-operator: Stop using deprecated node-role.kubernetes.io/master taint
  manifests/generated/operator-csv.yaml.in
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-operator/resource/placement/placement.go
  pkg/virt-operator/resource/placement/placement_test.go
Labels: size/M, release-note-none, area/operator, lgtm, approved, dco-signoff: yes, sig/compute

#15395 tests: remove redundant block multiqueue integration test
  tests/vmi_multiqueue_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#13758 tests/infra/prometheus: refactor metrics tests to use MetricsFetcher
  tests/infrastructure/BUILD.bazel
  tests/infrastructure/prometheus.go
  tests/libinfra/metrics.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, sig/testing, sig/observability

#14967 arm64: Fix lanes
  automation/repeated_test.sh
  automation/test.sh
  hack/conformance.sh
  pkg/liveupdate/memory/memory.go
  pkg/liveupdate/memory/memory_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-api/webhooks/utils.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  tests/decorators/decorators.go
  tests/framework/checks/skips.go
  tests/vmi_lifecycle_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#15170 virt-handler: ensure grace period metadata sync before shutdown
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
  tests/compute/vm_lifecycle.go
Labels: size/L, area/launcher, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#15417 [release-1.2] Host-disk & PVC: Contain disk inside volume
  pkg/host-disk/BUILD.bazel
  pkg/host-disk/host-disk.go
  pkg/host-disk/host-disk_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#15450 Revert "virt-operator: Stop using deprecated node-role.kubernetes.io/master taint"
  manifests/generated/operator-csv.yaml.in
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-operator/resource/placement/placement.go
  pkg/virt-operator/resource/placement/placement_test.go
Labels: size/M, release-note-none, area/operator, lgtm, approved, dco-signoff: yes, sig/compute

#15418 [release-1.4] Safepath: detector
  pkg/virt-handler/cache/cache.go
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/isolation/detector.go
Labels: size/S, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#15003 webhooks: Drop v1beta1 AdmissionReview version support
  pkg/virt-operator/resource/generate/components/webhooks.go
Labels: size/M, area/api-server, release-note-none, lgtm, approved, dco-signoff: yes, needs-approver-review

#15302 Fix hotplug decentralized live migration
  pkg/virt-controller/services/template.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
  tests/libmigration/BUILD.bazel
  tests/libmigration/migration.go
  tests/migration/namespace.go
Labels: size/L, area/launcher, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#15434 cleanup: instancetype applyCPU
  pkg/instancetype/apply/cpu.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#15475 cleanup(virtctl,portfoward): Drop support for legacy syntax
  pkg/virtctl/portforward/portforward.go
  pkg/virtctl/portforward/portforward_test.go
  pkg/virtctl/ssh/ssh_test.go
Labels: size/M, area/virtctl, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#15462 storage: remove status updater package
  pkg/storage/export/export/BUILD.bazel
  pkg/storage/export/export/export.go
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_base.go
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_base.go
  pkg/storage/status/BUILD.bazel
  pkg/storage/status/status.go
Labels: size/L, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#15476 e2e: Define constants timeouts for vmi launch timeout
  tests/compute/console.go
  tests/compute/credentials.go
  tests/compute/eviction.go
  tests/compute/pcihole64.go
  tests/compute/subresources/reset.go
  tests/compute/subresources/usbredir.go
  tests/config_test.go
  tests/container_disk_test.go
  tests/guestlog/guestlog.go
  tests/hyperv_test.go
  tests/infrastructure/certificates.go
  tests/infrastructure/downward-metrics.go
  tests/infrastructure/prometheus.go
  tests/infrastructure/security.go
  tests/launchsecurity/sev.go
  tests/libvmops/run.go
  tests/migration/evacuation.go
  tests/migration/eviction_strategy.go
  tests/migration/host_model.go
  tests/migration/migration.go
  tests/migration/paused.go
  tests/migration/postcopy.go
  tests/monitoring/monitoring.go
  tests/monitoring/vm_monitoring.go
  tests/network/vmi_istio.go
  tests/stability_test.go
  tests/storage/hotplug.go
  tests/storage/storage.go
  tests/swap_test.go
  tests/virt-handler_test.go
  tests/virtctl/usbredir.go
  tests/vmi_cloudinit_test.go
  tests/vmi_configuration_test.go
  tests/vmi_headless_test.go
  tests/vmi_hook_sidecar_test.go
  tests/vmi_ignition_test.go
  tests/vmi_lifecycle_test.go
  tests/vmi_tpm_test.go
  tests/vmi_vsock_test.go
  tests/watchdog_test.go
Labels: size/L, sig/network, sig/storage, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/observability

#15429 [release-1.6] arm64: Fix lanes
  automation/repeated_test.sh
  automation/test.sh
  hack/conformance.sh
  pkg/liveupdate/memory/memory.go
  pkg/liveupdate/memory/memory_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-api/webhooks/utils.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  tests/decorators/decorators.go
  tests/framework/checks/skips.go
  tests/vmi_lifecycle_test.go
Labels: size/L, area/api-server, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem, wg/arch-arm

#15446 [release-1.1] Fix project build related to functests dependency
  WORKSPACE
  automation/test.sh
  hack/functests.sh
  tests/decorators/decorators.go
  tests/flags/flags.go
  tests/operator/operator.go
  tests/testsuite/kubevirtresource.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/scale

#15483 network: Removed unused function
  pkg/network/link/BUILD.bazel
  pkg/network/link/address.go
  pkg/network/link/address_test.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes

#15423 Derive eviction-in-progress annotation from VMI eviction status
  pkg/virt-controller/watch/descheduler/BUILD.bazel
  pkg/virt-controller/watch/descheduler/descheduler.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  tests/migration/evacuation.go
Labels: size/L, area/controller, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#15470 Remove finalizer from source VMIs when decentralized migration fails
  pkg/virt-controller/watch/vmi/lifecycle.go
Labels: area/controller, release-note, size/XS, lgtm, approved, dco-signoff: yes, sig/compute, approved-vep

#15487 [release-1.5] Safepath, cmd-client: FindSocketOnHost
  pkg/virt-handler/cmd-client/BUILD.bazel
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/client_test.go
Labels: size/M, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#15357 vm-mutator: assign default firmware.Serial for new VMs
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  tests/clone_test.go
Labels: size/M, area/api-server, release-note, lgtm, approved, dco-signoff: yes

#15396 fix: provide clearer error message when using inferFromVolume
  pkg/instancetype/webhooks/vm/mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#15311 passt BP, sidecar: Infer pod iface name from VMI
  cmd/sidecars/network-passt-binding/callback/callback.go
  cmd/sidecars/network-passt-binding/domain/BUILD.bazel
  cmd/sidecars/network-passt-binding/domain/configurator.go
  cmd/sidecars/network-passt-binding/domain/configurator_test.go
  cmd/sidecars/network-passt-binding/server/server.go
Labels: size/L, sig/network, area/launcher, release-note-none, lgtm, approved, dco-signoff: yes, needs-approver-review

#15464 Add virt-launcher to kubevirt_memory_delta_from_requested_bytes
  docs/observability/metrics.md
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/recordingrules/operator.go
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, sig/buildsystem, sig/observability

#15493 fix typo in pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#15507 Bump kubevirtci; fix failing storage test
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/cluster/kind/common.sh
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
  tests/storage/storage.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#15500 chore: Add guest-agent-probes label
  tests/compute/guest_agent.go
  tests/decorators/decorators.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#15463 Fix monitoring virt-controller unit to test 2 vms
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#15522 [release-1.3] Safepath, cmd-client|detector: FindSocketOnHost
  pkg/virt-handler/cache/cache.go
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cmd-client/BUILD.bazel
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/client_test.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/isolation/detector.go
Labels: size/M, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem

#14570 [release-1.0] Fix build functests dependency
  WORKSPACE
  automation/test.sh
  hack/functests.sh
  tests/decorators/decorators.go
  tests/flags/flags.go
  tests/operator/operator.go
  tests/testsuite/kubevirtresource.go
Labels: size/M, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem, sig/scale

#15478 cleanup(virtctl): Drop native ssh and scp clients
  automation/repeated_test.sh
  automation/test.sh
  go.mod
  go.sum
  pkg/virtctl/scp/BUILD.bazel
  pkg/virtctl/scp/native.go
  pkg/virtctl/scp/native_unsupported.go
  pkg/virtctl/scp/scp.go
  pkg/virtctl/ssh/BUILD.bazel
  pkg/virtctl/ssh/knownhosts.go
  pkg/virtctl/ssh/knownhosts_test.go
  pkg/virtctl/ssh/native.go
  pkg/virtctl/ssh/native_unsupported.go
  pkg/virtctl/ssh/ssh.go
  pkg/virtctl/ssh/terminal_unix.go
  pkg/virtctl/ssh/terminal_windows.go
  tests/decorators/decorators.go
  tests/virtctl/BUILD.bazel
  tests/virtctl/create_vm.go
  tests/virtctl/scp.go
  tests/virtctl/ssh.go
  tests/virtctl/ssh_scp.go
  vendor/github.com/povsister/scp/.gitignore
  vendor/github.com/povsister/scp/BUILD.bazel
  vendor/github.com/povsister/scp/LICENSE
  vendor/github.com/povsister/scp/README.md
  vendor/github.com/povsister/scp/client.go
  vendor/github.com/povsister/scp/config.go
  vendor/github.com/povsister/scp/doc.go
  vendor/github.com/povsister/scp/protocol.go
  vendor/github.com/povsister/scp/transfer.go
  vendor/golang.org/x/crypto/ssh/agent/BUILD.bazel
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/golang.org/x/crypto/ssh/agent/forward.go
  vendor/golang.org/x/crypto/ssh/agent/keyring.go
  vendor/golang.org/x/crypto/ssh/agent/server.go
  vendor/golang.org/x/crypto/ssh/knownhosts/BUILD.bazel
  vendor/golang.org/x/crypto/ssh/knownhosts/knownhosts.go
  vendor/modules.txt
Labels: area/virtctl, release-note, size/XXL, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem, needs-approver-review

#15533 Fix missing workqueue metrics
  pkg/monitoring/metrics/common/workqueue/metrics.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  tests/monitoring/metrics.go
Labels: size/L, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/observability

#15254 Fix Volume Migration Tests
  tests/default-ceph-config.json
  tests/libstorage/config.go
  tests/libstorage/storageclass.go
  tests/storage/migration.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes
