Repository kubevirt/kubevirt, pull requests merged in 2025-06, with the labels that each got.

#12831 tests: warn against reading into libvirt domxml during e2e tests
  tests/libdomain/domain.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#14832 rpm: Update passt to 0^20250415.g8ec1341-1.el9
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem, approved-vep

#14778 Introduce FindSocket
  pkg/monitoring/metrics/virt-handler/collector/collector.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/client_test.go
  pkg/virt-handler/dmetrics-manager/dmetrics-manager.go
  pkg/virt-handler/isolation/detector.go
  pkg/virt-handler/rest/lifecycle.go
  pkg/virt-handler/vm.go
Labels: size/M, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/observability

#12531 Added the scorecard github action and its badge
  .github/workflows/scorecards.yml
  README.md
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#14752 Add virtio-vga video driver to launcher_base_amd64 image
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Labels: size/S, area/launcher, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem

#14858 Fix the category for cluster scoped migrationpolicy crd
  pkg/virt-operator/resource/generate/components/crds.go
Labels: size/XS, release-note-none, area/operator, lgtm, approved, dco-signoff: yes

#14861 automation: Add filter for SEV test lanes
  automation/test.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#14842 Disable CPU hotplug on ARM
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
Labels: size/M, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14859 Move alicefr to become an emeritus approver
  OWNERS_ALIASES
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#14865 Fix mock generation in staging folder
  hack/build-go.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#14873 Merge pull request #14092 from alicefr/fix-vol-mig-rwx
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
Labels: area/launcher, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#14740 tests: run volume migration tests in parallel
  tests/storage/migration.go
Labels: sig/network, area/launcher, area/controller, sig/storage, size/XS, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem, sig/scale, sig/observability

#14870 fix(virtctl): Update nativeSSH signature for unsupported platform
  pkg/virtctl/ssh/native_unsupported.go
Labels: area/virtctl, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14815 e2e: Introduce KUBEVIRT_VERBOSITY and increase logs verbosity for kind-sriov
  automation/test.sh
  tests/testsuite/kubevirtresource.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#14817 Notify test
  pkg/virt-launcher/notify-client/notify_test.go
Labels: size/M, area/launcher, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14848 [release-1.2] Stop setting blockOwnerDeletion on vmexport secret owner ref
  pkg/virtctl/vmexport/BUILD.bazel
  pkg/virtctl/vmexport/vmexport.go
  pkg/virtctl/vmexport/vmexport_test.go
Labels: size/M, area/virtctl, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem

#14883 [release-1.5] Disable CPU hotplug on ARM
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
Labels: size/M, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14708 virt-chroot, create-tap: Don't create redundant fds
  cmd/virt-chroot/tap-device-maker.go
Labels: size/S, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14889 firmware: Remove deepcopy and equal check
  pkg/virt-controller/watch/vm/firmware.go
  pkg/virt-controller/watch/vm/firmware_test.go
Labels: size/M, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14885 [release-1.5] volume migration: handle destination pvc/dv doesn't exist
  pkg/libvmi/vm.go
  pkg/storage/types/dv.go
  pkg/storage/types/pvc.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/volume-migration/volume-migration.go
  tests/storage/migration.go
Labels: size/L, area/controller, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#14899 Avoid vmi.`UpdateStatus` method generation
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachineinstance.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/virtualmachineinstance.go
Labels: size/M, area/api-server, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes

#14793 virt-handler: fail VMIs that failed a post-copy migration
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Labels: size/M, area/handler, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#14894 Test fix: Properly use kernel boot cd image
  tests/containerdisk/containerdisk.go
  tests/migration/BUILD.bazel
  tests/migration/migration.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#14909 e2e,compute: Quarantine flaky terminationGracePeriod test
  tests/compute/vm_lifecycle.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#14703 Operator: Add liveness probe
  manifests/generated/operator-csv.yaml.in
  pkg/virt-operator/resource/generate/components/deployments.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, needs-approver-review

#14807 VEP 41: Object graph subresource
  api/openapi-spec/swagger.json
  go.mod
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-api/api.go
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/objectgraph.go
  pkg/virt-api/rest/objectgraph_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-operator/resource/generate/rbac/apiserver.go
  pkg/virt-operator/resource/generate/rbac/cluster.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachine_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachineinstance_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/virtualmachine_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/virtualmachineinstance_expansion.go
  tests/BUILD.bazel
  tests/objectgraph_test.go
  tests/testsuite/kubevirtresource.go
Labels: area/api-server, release-note, size/XXL, kind/api-change, lgtm, approved, dco-signoff: yes, approved-vep

#13847 Declarative Volume Hotplug with Inject/Eject CD-ROM Support for VirtualMachines
  pkg/libvmi/storage.go
  pkg/storage/hotplug/BUILD.bazel
  pkg/storage/hotplug/hotplug.go
  pkg/storage/hotplug/hotplug_suite_test.go
  pkg/storage/hotplug/hotplug_test.go
  pkg/storage/types/pvc.go
  pkg/virt-api/rest/memorydump.go
  pkg/virt-api/rest/volumes.go
  pkg/virt-api/rest/volumes_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
  tests/containerdisk/containerdisk.go
  tests/storage/BUILD.bazel
  tests/storage/declarative-hotplug.go
  tests/storage/hotplug.go
  tests/storage/migration.go
  tests/storage/restore.go
  tests/storage/snapshot.go
  tests/testsuite/kubevirtresource.go
Labels: kind/enhancement, area/launcher, area/controller, area/api-server, sig/storage, release-note, size/XXL, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, approved-vep

#14040 s390x: Implement support for Secure Execution VMs
  pkg/util/BUILD.bazel
  pkg/util/amd64.go
  pkg/util/s390x.go
  pkg/util/util.go
  pkg/virt-api/webhooks/s390x.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-controller/services/nodeselectorrenderer.go
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/rendercontainer_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-handler/node-labeller/cpu_plugin.go
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-handler/node-labeller/model.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
  pkg/virt-handler/node-labeller/testdata/s390x/domcapabilities_s390-pv.xml
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/arch/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/arch/amd64.go
  pkg/virt-launcher/virtwrap/converter/arch/arm64.go
  pkg/virt-launcher/virtwrap/converter/arch/converter.go
  pkg/virt-launcher/virtwrap/converter/arch/ppc64le.go
  pkg/virt-launcher/virtwrap/converter/arch/s390x.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/network.go
  pkg/virt-launcher/virtwrap/manager.go
  staging/src/kubevirt.io/api/core/v1/types.go
Labels: kind/enhancement, area/launcher, sig/security, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/api, approved-vep

#14723 feat(snapshots): allow for predictable snapshot restore pvcs
  api/openapi-spec/swagger.json
  pkg/storage/admitters/vmrestore.go
  pkg/storage/admitters/vmrestore_test.go
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/storage/restore.go
Labels: sig/storage, release-note, size/XXL, kind/api-change, lgtm, approved, dco-signoff: yes

#14927 fix(quarantine): operator custom should use localhost
  tests/operator/operator.go
Labels: priority/critical-urgent, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/flake

#14681 Windows offline activation with ACPI MSDM table
  api/openapi-spec/swagger.json
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/vmi_configuration_test.go
Labels: size/L, area/launcher, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem

#14933 bugFix: Fix overhead calculation
  pkg/virt-controller/services/renderresources.go
Labels: kind/bug, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#14673 Add Video Configuration Field for VMs
  api/openapi-spec/swagger.json
  pkg/libvmi/devices.go
  pkg/virt-api/webhooks/BUILD.bazel
  pkg/virt-api/webhooks/amd64.go
  pkg/virt-api/webhooks/arm64.go
  pkg/virt-api/webhooks/ppc64le.go
  pkg/virt-api/webhooks/s390x.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/renderresources_test.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Labels: size/L, area/launcher, area/api-server, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/api, approved-vep

#14932 virt-controller: cleanup
  pkg/virt-controller/services/template.go
Labels: size/M, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#14938 flaky test: Fix Declarative Hotplug Flake
  tests/storage/declarative-hotplug.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#14941 node-labeller: SEV and realtime labels should have a value
  pkg/virt-handler/node-labeller/node_labeller.go
Labels: area/handler, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14259 Integrate NIC hotplug with LiveUpdate rollout strategy
  hack/linter/lint-paths.txt
  pkg/network/migration/BUILD.bazel
  pkg/network/migration/evaluator.go
  pkg/network/migration/evaluator_test.go
  pkg/network/migration/migration_suite_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-controller/watch/workload-updater/workload-updater.go
  pkg/virt-handler/vm.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/network/BUILD.bazel
  tests/network/hotplug_bridge.go
  tests/network/hotplug_sriov.go
Labels: sig/network, area/controller, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem, approved-vep

#14916 [release-1.5] virt-handler: fail VMIs that failed a post-copy migration
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Labels: size/M, area/handler, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#13764 No more PDBs #2
  api/openapi-spec/swagger.json
  pkg/util/pdbs/pdbs.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/drain/disruptionbudget/BUILD.bazel
  pkg/virt-controller/watch/drain/disruptionbudget/disruptionbudget.go
  pkg/virt-controller/watch/drain/disruptionbudget/disruptionbudget_test.go
  pkg/virt-controller/watch/drain/evacuation/evacuation.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/BUILD.bazel
  tests/migration/eviction_strategy.go
  tests/pdb_test.go
Labels: area/controller, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, needs-approver-review

#14812 Label VEP tied PRs based on the KubeVirt project status
  .github/workflows/label_approved_veps.yaml
  automation/label-approved-veps.py
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#14705 Fix migration completion logic (along with other bugs)
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  go.work.sum
  pkg/controller/controller.go
  pkg/util/migrations/migrations.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/container-disk/mount.go
  pkg/virt-handler/controller.go
  pkg/virt-handler/launcher-clients/BUILD.bazel
  pkg/virt-handler/launcher-clients/launcher-clients.go
  pkg/virt-handler/launcher-clients/launcher-clients_suite_test.go
  pkg/virt-handler/launcher-clients/launcher-clients_test.go
  pkg/virt-handler/launcher-clients/mock_launcher-clients.go
  pkg/virt-handler/migration-source.go
  pkg/virt-handler/migration-source_test.go
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/migration-target_test.go
  pkg/virt-handler/non-root.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/notify-client/BUILD.bazel
  pkg/virt-launcher/notify-client/client.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
  tests/libmigration/migration.go
  tests/migration/eviction_strategy.go
  tests/migration/migration.go
  tests/migration/postcopy.go
Labels: area/launcher, area/controller, area/handler, sig/storage, release-note, size/XXL, lgtm, approved, dco-signoff: yes, sig/compute, approved-vep

#14923 vmi ctrl, template: Rm unused function parameter
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/renderresources_test.go
  pkg/virt-controller/services/template.go
Labels: size/S, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#14952 automation,sev: fix setting KUBEVIRT_PROVIDER for sev e2e lanes
  automation/test.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#14955 Revert "Remove GetRunningVMIDomainSpec from vm_test.go tests"
  tests/vm_test.go
Labels: size/M, priority/critical-urgent, release-note-none, lgtm, approved, dco-signoff: yes, kind/flake

#14966 controller: Remove excessive info logging regarding volume hotplug
  pkg/virt-controller/watch/vm/vm.go
Labels: area/controller, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#14978 quarantine(migration): test_id:3245
  tests/migration/eviction_strategy.go
Labels: priority/critical-urgent, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/flake

#14980 tests: quarantine flaky sig-storage tests
  tests/storage/declarative-hotplug.go
  tests/storage/hotplug.go
  tests/storage/restore.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13103 HV-Crash support using panic devices
  api/api-rule-violations-known.list
  api/api-rule-violations.list
  api/openapi-spec/swagger.json
  pkg/instancetype/preference/apply/device.go
  pkg/instancetype/preference/apply/device_test.go
  pkg/libvmi/devices.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/api/instancetype/v1alpha1/conversion_generated.go
  staging/src/kubevirt.io/api/instancetype/v1alpha2/conversion_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/types.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/vmi_lifecycle_test.go
Labels: area/launcher, area/controller, sig/storage, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#14754 Allocate more PCI ports for hotplug
  pkg/virt-launcher/virtwrap/converter/pci-placement.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
  pkg/virt-launcher/virtwrap/nichotplug.go
  pkg/virt-launcher/virtwrap/nichotplug_test.go
  tests/hotplug/BUILD.bazel
  tests/hotplug/pci-ports.go
Labels: size/L, area/launcher, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#14989 [release-1.5] Update migrationmethod on VMI regardless of condition existence
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Labels: size/M, area/launcher, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#14744 sync dynamic annotations to virt-launcher pods
  pkg/virt-controller/watch/descheduler/descheduler.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Labels: size/L, area/controller, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#14984 virt-handler: Adjust network entry-points
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Labels: kind/bug, size/M, area/handler, priority/critical-urgent, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, kind/flake

#14935 VEP 41: Add virtctl objectgraph command
  pkg/virt-api/rest/objectgraph.go
  pkg/virtctl/BUILD.bazel
  pkg/virtctl/objectgraph/BUILD.bazel
  pkg/virtctl/objectgraph/OWNERS
  pkg/virtctl/objectgraph/objectgraph.go
  pkg/virtctl/objectgraph/objectgraph_suite_test.go
  pkg/virtctl/objectgraph/objectgraph_test.go
  pkg/virtctl/root.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachine_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachineinstance_expansion.go
  staging/src/kubevirt.io/client-go/testing/actions.go
Labels: size/L, area/virtctl, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, approved-vep

#14951 hack/build-go: fix make clean
  hack/build-go.sh
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#14878 Add test for applying 80% memory overcommit from instancetype to VMI
  pkg/instancetype/apply/memory_test.go
  tests/instancetype/instancetype.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#14914 net, vm ctrl: Adjust VM's detached iface clearing logic
  pkg/network/controllers/vm.go
  pkg/network/controllers/vm_test.go
Labels: size/L, sig/network, area/controller, release-note-none, lgtm, approved, dco-signoff: yes

#13898 kubevirt_vmi_vcpu_seconds_total should use nanosecondsToSeconds
  pkg/monitoring/metrics/virt-handler/domainstats/unit_converter.go
  pkg/monitoring/metrics/virt-handler/domainstats/vcpu_metrics.go
  pkg/monitoring/metrics/virt-handler/domainstats/vcpu_metrics_test.go
Labels: kind/bug, release-note, size/XS, lgtm, approved, dco-signoff: yes, sig/observability, needs-approver-review

#14993 unit tests: Fix Data race
  pkg/synchronization-controller/synchronization-controller_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#14255 Add kubevirt_node_deprecated_machine_types metric
  cmd/virt-handler/virt-handler.go
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-handler/BUILD.bazel
  pkg/monitoring/metrics/virt-handler/machine_type.go
  pkg/monitoring/metrics/virt-handler/machine_type_test.go
  pkg/monitoring/metrics/virt-handler/metrics.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
  tests/infrastructure/prometheus.go
  tests/monitoring/metrics.go
  tools/doc-generator/doc-generator.go
Labels: kind/enhancement, size/L, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, sig/compute, sig/scale, sig/observability, needs-approver-review

#14887 cniplugins: Advertise passt cni image
  BUILD.bazel
  WORKSPACE
  automation/release.sh
  cmd/cniplugins/passt-binding/cmd/BUILD.bazel
  cmd/cniplugins/passt-binding/passt-binding-ds.yaml
  hack/bazel-build-functests.sh
  hack/bazel-build.sh
  hack/bazel-push-images.sh
  hack/cluster-sync.sh
  hack/deploy-to-nodes.sh
Labels: size/L, sig/network, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem

#15006 [release-1.4] Update migrationmethod on VMI regardless of condition existence
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Labels: size/M, area/handler, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#15007 [release-1.5] Fix possible nil pointer caused by migration during kv upgrade
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Labels: size/M, area/handler, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#15019 virt-handler, migration tests: Expect passt handler call
  pkg/virt-handler/migration-source_test.go
  pkg/virt-handler/migration-target_test.go
Labels: size/M, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, approved-vep

#14997 Revert "Added the scorecard github action and its badge"
  .github/workflows/scorecards.yml
  README.md
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes
