Repository kubevirt/kubevirt, pull requests merged in 2025-01, with the labels that each got.

#13584 tests, net, sriov: check PCI hierarchy in guest instead of in DomainXML
  tests/network/sriov.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13557 [release-1.4] Upgrade virt stack and add detect option to preserve sparseness during storage migration
  WORKSPACE
  go.mod
  go.sum
  hack/bootstrap.sh
  hack/rpm-deps.sh
  pkg/virt-launcher/virtwrap/live-migration-source.go
  rpm/BUILD.bazel
  vendor/libvirt.org/go/libvirt/connect.go
  vendor/libvirt.org/go/libvirt/domain.go
  vendor/libvirt.org/go/libvirt/libvirt_generated_macros.h
  vendor/libvirt.org/go/libvirt/lxc.go
  vendor/libvirt.org/go/libvirt/qemu.go
  vendor/libvirt.org/go/libvirt/secret.go
  vendor/libvirt.org/go/libvirt/stream.go
  vendor/libvirt.org/go/libvirtxml/domain.go
  vendor/libvirt.org/go/libvirtxml/domain_capabilities.go
  vendor/modules.txt
Labels: sig/storage, release-note, size/XXL, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#13566 [release-1.2] fix(virtctl,create): Validate names of disks
  pkg/virtctl/create/vm/BUILD.bazel
  pkg/virtctl/create/vm/vm.go
  pkg/virtctl/create/vm/vm_test.go
Labels: kind/enhancement, size/M, area/virtctl, release-note, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem, needs-approver-review

#13561 [release-1.4] fix(virtctl,create): Validate names of disks
  pkg/virtctl/create/vm/BUILD.bazel
  pkg/virtctl/create/vm/vm.go
  pkg/virtctl/create/vm/vm_test.go
Labels: kind/enhancement, size/M, area/virtctl, release-note, lgtm, approved, dco-signoff: yes, sig/compute, needs-approver-review

#13591 [release-1.4] fix: resolve critical issue with keyboard input for s390x
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/s390x.go
Labels: kind/bug, size/S, priority/critical-urgent, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13534 tests/infra/Prometheus: create token for test executor to interact with Prometheus resources
  tests/infrastructure/BUILD.bazel
  tests/infrastructure/prometheus.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, sig/testing, sig/observability

#13616 minor reduction of the footprint of pkg/util
  pkg/storage/export/export/export.go
  pkg/util/util.go
  pkg/virt-handler/heartbeat/heartbeat.go
  pkg/virt-launcher/virtwrap/converter/vcpu/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/vcpu/vcpu.go
  pkg/virtctl/vmexport/vmexport.go
Labels: size/M, area/launcher, sig/storage, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#13284 net, VM ctrl: Mv to pkg/network
  hack/lint-paths.txt
  pkg/network/controllers/BUILD.bazel
  pkg/network/controllers/controllers_suite_test.go
  pkg/network/controllers/hotplug.go
  pkg/network/controllers/hotplug_test.go
  pkg/network/controllers/vm.go
  pkg/network/controllers/vm_test.go
  pkg/network/controllers/vmi.go
  pkg/network/controllers/vmi_test.go
  pkg/network/vmicontroller/BUILD.bazel
  pkg/virt-controller/network/OWNERS
  pkg/virt-controller/network/network_suite_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
Labels: size/L, sig/network, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#13578 e2e, arm64: use decorator to label and filter arm64 e2e test
  automation/test.sh
  tests/access_test.go
  tests/container_disk_test.go
  tests/decorators/decorators.go
  tests/framework/checks/skips.go
  tests/hyperv_test.go
  tests/network/vmi_lifecycle.go
  tests/storage/storage.go
  tests/virtctl/vnc.go
  tests/vmi_configuration_test.go
  tests/vmi_lifecycle_test.go
  tests/vnc_test.go
Labels: size/M, sig/network, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#13577 fix the e2e test failures for s390x.
  tests/vmi_configuration_test.go
  tests/vmi_lifecycle_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem, kind/failing-test

#13541 tests/utils: drop CheckCloudInitMetaData, 13379 clone
  tests/BUILD.bazel
  tests/network/sriov.go
  tests/utils.go
  tests/vmi_cloudinit_test.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13623 lint: Add tests/numa to paths covered by linter
  hack/lint-paths.txt
  tests/numa/numa.go
Labels: size/L, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#13580 instancetype: Rename find preference implementation functions
  pkg/instancetype/apply/vm.go
  pkg/instancetype/expand/expand.go
  pkg/instancetype/instancetype.go
  pkg/instancetype/preference/find/cluster_preference.go
  pkg/instancetype/preference/find/preference.go
  pkg/instancetype/preference/find/revision.go
  pkg/instancetype/preference/find/spec.go
  pkg/instancetype/revision/store.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute

#13586 storage tests: assemble storage-oriented conformance test suite
  Makefile
  docs/conformance.md
  hack/conformance.sh
  tests/decorators/decorators.go
  tests/network/bindingplugin_passt.go
  tests/network/vmi_networking.go
  tests/storage/datavolume.go
  tests/storage/export.go
  tests/storage/hotplug.go
  tests/storage/memorydump.go
  tests/storage/migration.go
  tests/storage/restore.go
  tests/storage/snapshot.go
  tests/storage/storage.go
  tests/virtctl/guestfs.go
  tests/virtctl/imageupload.go
  tests/virtctl/memorydump.go
Labels: size/L, sig/network, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#13638 [release-1.4]tests/infra/Prometheus: create token for test executor to interact with Prometheus resources
  tests/infrastructure/BUILD.bazel
  tests/infrastructure/prometheus.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/observability

#13574 [release-1.3] fix(virtctl,expose): Use vm.kubevirt.io/name as label selector
  pkg/virtctl/expose/expose.go
  pkg/virtctl/expose/expose_test.go
Labels: size/M, area/virtctl, release-note, lgtm, approved, dco-signoff: yes

#13613 tests, network, probes: Use unprivileged pod
  tests/network/probes.go
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13634 Remove redundant function input vars
  pkg/virt-handler/non-root.go
  pkg/virt-handler/vm.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13592 tests,net,hotplug: Indicate VM ready by AgentConnected condition
  tests/network/hotplug_bridge.go
  tests/network/hotplug_sriov.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13153 pkg/network/vmispec: Add linter coverage
  hack/lint-paths.txt
  pkg/network/setup/netstat.go
  pkg/network/vmispec/defaults.go
  pkg/network/vmispec/hotplug_test.go
  pkg/network/vmispec/infosource.go
  pkg/network/vmispec/interface.go
  pkg/network/vmispec/interface_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
Labels: size/L, sig/network, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/buildsystem, needs-approver-review

#13508 instancetype: Remove root public consts and types
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/apply/BUILD.bazel
  pkg/instancetype/apply/annotations.go
  pkg/instancetype/apply/cpu.go
  pkg/instancetype/apply/gpu.go
  pkg/instancetype/apply/hostdevices.go
  pkg/instancetype/apply/iothreadpolicy.go
  pkg/instancetype/apply/launchsecurity.go
  pkg/instancetype/apply/memory.go
  pkg/instancetype/apply/nodeselector.go
  pkg/instancetype/apply/scheduler.go
  pkg/instancetype/apply/vm.go
  pkg/instancetype/apply/vmi.go
  pkg/instancetype/conflict/BUILD.bazel
  pkg/instancetype/conflict/conflicts.go
  pkg/instancetype/errors/BUILD.bazel
  pkg/instancetype/expand/BUILD.bazel
  pkg/instancetype/expand/expand.go
  pkg/instancetype/infer/BUILD.bazel
  pkg/instancetype/infer/errors.go
  pkg/instancetype/infer/errors_test.go
  pkg/instancetype/infer/handler.go
  pkg/instancetype/infer/infer_suite_test.go
  pkg/instancetype/infer/volume.go
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
  pkg/instancetype/preference/requirements/BUILD.bazel
  pkg/instancetype/preference/requirements/cpu.go
  pkg/instancetype/preference/requirements/handler.go
  pkg/instancetype/preference/requirements/memory.go
  pkg/instancetype/revision/BUILD.bazel
  pkg/instancetype/revision/store.go
  pkg/testutils/BUILD.bazel
  pkg/testutils/mock_instancetype.go
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/expand_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm_test.go
  tests/compute/subresources/BUILD.bazel
  tests/compute/subresources/expandspec.go
  tests/instancetype/BUILD.bazel
  tests/instancetype/instancetype.go
Labels: area/controller, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute, needs-approver-review

#13627 pkg/network: Add linter coverage
  hack/lint-paths.txt
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/buildsystem

#13650 Add nunnatsa and orenc1 to observability reviewers
  OWNERS_ALIASES
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/observability

#13639 [release-1.4] Dequarantine storage export tests
  tests/storage/export.go
  tests/storage/restore.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13570 [release 1.3] VMRestore: allow creating vmrestore even if runstrategy is not Halted
  pkg/storage/snapshot/restore.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter_test.go
  tests/storage/restore.go
Labels: size/M, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#13643 [release-1.3]tests/infra/Prometheus: create token for test executor to interact with Prometheus resources
  tests/infrastructure/BUILD.bazel
  tests/infrastructure/prometheus.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem, sig/observability

#13360 Clean up virtctl templates
  pkg/virtctl/portforward/BUILD.bazel
  pkg/virtctl/portforward/portforward.go
  pkg/virtctl/portforward/portforward_test.go
  pkg/virtctl/scp/BUILD.bazel
  pkg/virtctl/scp/native.go
  pkg/virtctl/scp/scp.go
  pkg/virtctl/scp/scp_test.go
  pkg/virtctl/scp/wrapped.go
  pkg/virtctl/scp/wrapped_test.go
  pkg/virtctl/ssh/BUILD.bazel
  pkg/virtctl/ssh/ssh.go
  pkg/virtctl/ssh/ssh_test.go
  pkg/virtctl/templates/BUILD.bazel
  pkg/virtctl/templates/target.go
  pkg/virtctl/templates/target_test.go
Labels: area/virtctl, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13652 fix(virtctl): Use correct flag for sysprep volume in example
  pkg/virtctl/create/vm/vm.go
Labels: area/virtctl, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13626 Remove redundant volume from virt-handler
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  pkg/storage/export/export/export_test.go
  pkg/storage/export/export/pvc-source_test.go
  pkg/storage/export/export/vm-source_test.go
  pkg/storage/export/export/vmsnapshot-source_test.go
  pkg/util/util.go
  pkg/virt-controller/services/container_disk_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-operator/resource/generate/components/daemonsets.go
Labels: size/M, area/controller, area/handler, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#13655 volume-migration: recover destination volumes from an interrupted migration
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  tests/storage/BUILD.bazel
  tests/storage/migration.go
Labels: kind/bug, size/L, area/controller, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13575 [release 1.2] VMRestore: allow creating vmrestore even if runstrategy is not Halted
  pkg/storage/snapshot/restore.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter_test.go
  tests/storage/restore.go
Labels: size/M, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#13109 Configuration test: Convert Skips to Fails
  automation/test.sh
  tests/BUILD.bazel
  tests/decorators/decorators.go
  tests/vmi_configuration_test.go
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#13514 arch converter: Move to its own pkg
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/access-credentials/BUILD.bazel
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/arch/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/arch/amd64.go
  pkg/virt-launcher/virtwrap/converter/arch/arm64.go
  pkg/virt-launcher/virtwrap/converter/arch/converter.go
  pkg/virt-launcher/virtwrap/converter/arch/converter_suite_test.go
  pkg/virt-launcher/virtwrap/converter/arch/converter_test.go
  pkg/virt-launcher/virtwrap/converter/arch/ppc64le.go
  pkg/virt-launcher/virtwrap/converter/arch/s390x.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/network.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
  pkg/virt-launcher/virtwrap/util/BUILD.bazel
  pkg/virt-launcher/virtwrap/util/libvirt_helper_test.go
Labels: area/launcher, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, sig/buildsystem, needs-approver-review

#13659 tests, sriov: Stablize "SRIOV VMI connected to single SRIOV network migration should be successful with a running VMI on the target"
  tests/network/sriov.go
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13628 storage tests: avoid cross storage class runtime skip
  tests/storage/BUILD.bazel
  tests/storage/restore.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13637 chore(hack): Separate common-instancetypes sync scripts
  Makefile
  hack/common-instancetypes/OWNERS
  hack/common-instancetypes/bump.sh
  hack/common-instancetypes/default.sh
  hack/common-instancetypes/sync.sh
  hack/config-default.sh
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/buildsystem

#13587 Deprecate KubevirtVmHighMemoryUsage alert
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/vms.go
  tests/monitoring/BUILD.bazel
  tests/monitoring/vm_monitoring.go
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, kind/deprecation, sig/buildsystem, sig/observability

#13489 lint: Add tests/libkubevirt to the paths covered by the linter
  hack/lint-paths.txt
  tests/libkubevirt/config/featuregate.go
  tests/libkubevirt/config/kvconfig.go
  tests/libkubevirt/config/netbinding.go
  tests/libkubevirt/kubevirt.go
Labels: size/M, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#13207 Backend storage: Support offline snapshot
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/source.go
  pkg/storage/utils/volumes.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmsnapshot-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmsnapshot-admitter_test.go
  tests/storage/restore.go
  tests/storage/snapshot.go
Labels: kind/enhancement, sig/storage, size/XL, release-note, lgtm, approved, dco-signoff: yes

#13671 pkg/util/util: do not ship a test-only function
  pkg/util/util.go
  tests/testsuite/kubevirtresource.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#13559 chore(lint,virtctl): Enable linter for cmd/virtctl and tests/virtctl
  hack/lint-paths.txt
  tests/virtctl/create_vm.go
  tests/virtctl/guestfs.go
  tests/virtctl/imageupload.go
  tests/virtctl/memorydump.go
  tests/virtctl/scp.go
  tests/virtctl/vnc.go
Labels: area/virtctl, size/XL, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem, needs-approver-review

#13661 fix(virtctl,scp): Update native_unsupported.go to use new structs
  pkg/virtctl/scp/native.go
  pkg/virtctl/scp/native_unsupported.go
  pkg/virtctl/scp/scp.go
  pkg/virtctl/scp/wrapped.go
  pkg/virtctl/scp/wrapped_test.go
Labels: size/S, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13411 Introduce RWO FS label
  tests/decorators/decorators.go
  tests/vm_state_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13681 [release-1.4] Backend storage: Support offline snapshot
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/source.go
  pkg/storage/utils/volumes.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmsnapshot-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmsnapshot-admitter_test.go
  tests/storage/restore.go
  tests/storage/snapshot.go
Labels: kind/bug, sig/storage, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#13682 Backend storage: Support online snapshot
  pkg/virt-api/webhooks/validating-webhook/admitters/vmsnapshot-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmsnapshot-admitter_test.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/manager.go
  tests/storage/restore.go
  tests/storage/snapshot.go
Labels: kind/enhancement, size/M, area/launcher, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#13631 [code-cleanup] Remove redundant parentheses
  pkg/monitoring/metrics/virt-controller/metrics.go
  pkg/network/link/address_test.go
  pkg/storage/export/export/export_test.go
  pkg/storage/export/virt-exportserver/exportserver_test.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-handler/container-disk/mount_test.go
  pkg/virt-handler/device-manager/device_controller.go
  pkg/virt-handler/rest/console.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/vcpu/vcpu.go
  pkg/virt-launcher/virtwrap/launchsecurity/sev.go
  pkg/virtctl/adm/logverbosity/logverbosity.go
  pkg/virtctl/create/vm/vm.go
  pkg/virtctl/vm/add_volume_test.go
  pkg/virtctl/vm/expand_test.go
  pkg/virtctl/vm/remove_volume_test.go
  tests/launchsecurity/sev.go
  tests/vm_test.go
  tools/perfscale-load-generator/watcher/watcher.go
Labels: size/L, sig/network, area/launcher, area/controller, sig/storage, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, sig/scale, sig/observability

#13686 [release-1.4] Backend storage: Support online snapshot
  pkg/virt-api/webhooks/validating-webhook/admitters/vmsnapshot-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmsnapshot-admitter_test.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/manager.go
  tests/storage/restore.go
  tests/storage/snapshot.go
Labels: kind/bug, size/M, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#13640 tests, network, probes: Bug fix: unintentional use of global pointer
  tests/network/probes.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13641 rpm: Update virtualization packages
  WORKSPACE
  go.mod
  go.sum
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
  vendor/libvirt.org/go/libvirtxml/domain.go
  vendor/libvirt.org/go/libvirtxml/domain_capabilities.go
  vendor/modules.txt
Labels: release-note, size/XXL, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#13683 pkg/util/util: localize memoryDumpOverhead
  pkg/util/util.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#13621 volume-migration: take into account the backend PVC
  pkg/libvmi/vmi.go
  pkg/virt-controller/watch/volume-migration/BUILD.bazel
  pkg/virt-controller/watch/volume-migration/volume-migration.go
  pkg/virt-controller/watch/volume-migration/volume-migration_test.go
Labels: size/M, area/controller, sig/storage, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes

#13236 Improve information displayed for existance matchers
  tests/framework/matcher/existence.go
  tests/framework/matcher/existence_test.go
  tests/framework/matcher/helper/reflect.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13654 Move storage related webhook admitters to pkg/storage [part1]
  pkg/storage/admitters/BUILD.bazel
  pkg/storage/admitters/admit_suite_test.go
  pkg/storage/admitters/data-volume-template.go
  pkg/storage/admitters/vm-storage-admitter.go
  pkg/storage/admitters/vm-storage-admitter_test.go
  pkg/storage/admitters/vm-storage-status.go
  pkg/storage/admitters/vmexport.go
  pkg/storage/admitters/vmexport_test.go
  pkg/storage/admitters/vmrestore.go
  pkg/storage/admitters/vmrestore_test.go
  pkg/storage/admitters/vmsnapshot.go
  pkg/storage/admitters/vmsnapshot_test.go
  pkg/virt-api/webhooks/validating-webhook/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/validating-webhook.go
Labels: sig/storage, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#13666 launcher: fix prints for the domain events
  pkg/virt-launcher/notify-client/client.go
  pkg/virt-launcher/notify-client/notify_test.go
Labels: kind/bug, size/M, area/launcher, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13687 [release-1.4] backport recent storage approver nominations
  OWNERS_ALIASES
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#11997 Deprecates `ExperimentalVirtiofsSupport` in favor of `EnableVirtioFsConfigVolumes` and `EnableVirtioFsStorageVolumes` FG
  pkg/storage/utils/volumes.go
  pkg/virt-api/webhooks/fuzz/fuzz_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter_test.go
  pkg/virt-config/deprecation/BUILD.bazel
  pkg/virt-config/deprecation/feature-gates.go
  pkg/virt-config/deprecation/virtiofs.go
  pkg/virt-config/feature-gates.go
  pkg/virt-controller/services/virtiofs.go
  pkg/virt-controller/services/virtiofs_test.go
  pkg/virt-operator/webhooks/kubevirt-update-admitter_test.go
  pkg/virtiofs/BUILD.bazel
  pkg/virtiofs/virtiofs.go
  tests/testsuite/kubevirtresource.go
  tests/virtiofs/BUILD.bazel
  tests/virtiofs/config.go
  tests/virtiofs/datavolume.go
Labels: size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem

#13425 tests, libnet: Introduce new network-attachment-definition helpers
  tests/libnet/BUILD.bazel
  tests/libnet/netattachdef.go
  tests/libnet/network_attachment_definition.go
  tests/libnet/plumbing.go
  tests/network/BUILD.bazel
  tests/network/bindingplugin.go
  tests/network/bindingplugin_macvtap.go
  tests/network/bindingplugin_passt.go
  tests/network/hotplug_bridge.go
  tests/network/hotplug_sriov.go
  tests/network/sriov.go
  tests/network/vmi_infosource.go
  tests/network/vmi_istio.go
  tests/network/vmi_multus.go
  tests/network/vmi_networking.go
Labels: sig/network, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#13694 virtctl: Improve console disconnect message
  pkg/virtctl/console/console.go
Labels: kind/enhancement, area/virtctl, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13705 automation,test.sh: Remove no-istio patch
  automation/test.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#13707 instancetype: Rework requirements checker implementation
  pkg/instancetype/instancetype.go
  pkg/instancetype/preference/requirements/BUILD.bazel
  pkg/instancetype/preference/requirements/checker.go
  pkg/instancetype/preference/requirements/cpu.go
  pkg/instancetype/preference/requirements/memory.go
Labels: kind/enhancement, size/L, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#13611 storage tests: avoid volume expansion runtime skips
  automation/repeated_test.sh
  automation/test.sh
  hack/config-default.sh
  hack/functests.sh
  tests/decorators/decorators.go
  tests/storage/datavolume.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#13692 remove renderPkillAllPod function
  tests/network/vmi_lifecycle.go
  tests/vmi_lifecycle_test.go
Labels: size/S, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13288 Graduation of VolumeUpdateStrategy and VolumeMigration
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  pkg/virt-config/deprecation/feature-gates.go
  pkg/virt-config/feature-gates.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  tests/libkubevirt/config/BUILD.bazel
  tests/libkubevirt/config/kvconfig.go
  tests/storage/migration.go
Labels: size/L, area/controller, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#13710 automation: Ignore cluster-down ret code
  automation/test.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem, sig/ci

#13715 e2e,compute: Quarantine flaky defined CPU model test
  tests/vmi_configuration_test.go
Labels: priority/critical-urgent, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing, kind/flake

#13719 [release-1.4] Minimal bump to CDI API for StorageProfile.Status.SnapshotClass
  api/api-rule-violations-known.list
  api/api-rule-violations.list
  go.mod
  go.sum
  staging/src/kubevirt.io/api/go.mod
  staging/src/kubevirt.io/api/go.sum
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  staging/src/kubevirt.io/client-go/go.mod
  staging/src/kubevirt.io/client-go/go.sum
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types_swagger_generated.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: size/L, release-note-none, kind/api-change, lgtm, approved, kind/build-change, dco-signoff: yes

#13667 Set VM status indication if storage exceeds quota
  pkg/storage/types/dv.go
  pkg/storage/types/pvc.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
Labels: kind/enhancement, size/M, area/controller, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#13711 VMSnapshot: honor StorageProfile snapshotClass when choosing volumesnapshotclass
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_base.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
Labels: size/L, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#13714 fix(vms-admitter): Reject requests using discontinued features
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Labels: kind/bug, size/M, area/api-server, release-note-none, lgtm, approved, dco-signoff: yes

#13716 virt-handler, netstat, test: inline newVMIStatusIface
  pkg/network/setup/netstat_test.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes

#13672 virt-handler: simplify selinux.RelabelFiles
  cmd/virt-handler/virt-handler.go
  pkg/util/util.go
  pkg/virt-handler/device-manager/socket_device.go
  pkg/virt-handler/selinux/labels.go
Labels: size/S, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#13037 instancetype: Extract VirtualMachine controller logic
  pkg/instancetype/controller/vm/BUILD.bazel
  pkg/instancetype/controller/vm/controller.go
  pkg/instancetype/controller/vm/mock.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
Labels: kind/enhancement, area/controller, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute

#13699 Build KubeVirt with go v1.23.4
  WORKSPACE
  go.mod
  hack/builder/Dockerfile
  hack/dockerized
  hack/update-generated-api-testdata.sh
Labels: size/S, release-note, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#13727 virtlogd: bump memory overhead
  pkg/virt-controller/services/renderresources_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  tests/vmi_configuration_test.go
Labels: size/M, area/controller, release-note-none, lgtm, approved, dco-signoff: yes

#13224 migration monitor: use channel to bypass timeout on migration end
  pkg/virt-launcher/virtwrap/live-migration-source.go
Labels: kind/enhancement, size/S, area/launcher, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13732 pkg/utils: move three functions to where they belong
  pkg/util/util.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator.go
  pkg/virt-controller/services/template.go
  pkg/virt-handler/vm.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#13329 virt-handler, non-root setup: Rm redundant prepareTap
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/non-root.go
  pkg/virt-handler/non-root_test.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13537 VMI create admitter: Cleanup network tests
  pkg/network/admitter/netsource_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#13718 e2e: In operator.go, use go templates to generate files
  tests/operator/BUILD.bazel
  tests/operator/operator.go
  tests/operator/resourcefiles/BUILD.bazel
  tests/operator/resourcefiles/resourcefiles.go
  tests/operator/resourcefiles/templates/restore-template.yaml
  tests/operator/resourcefiles/templates/snapshot-template.yaml
  tests/operator/resourcefiles/templates/vm-template.yaml
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13662 [release-1.2] Fix corruption
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
  pkg/virt-controller/watch/vmi.go
Labels: kind/bug, size/L, area/controller, release-note, lgtm, approved, dco-signoff: yes

#13741 [release-1.3] VMSnapshot: honor StorageProfile snapshotClass when choosing volumesnapshotclass
  api/api-rule-violations-known.list
  api/api-rule-violations.list
  go.mod
  go.sum
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_base.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  staging/src/kubevirt.io/api/go.mod
  staging/src/kubevirt.io/api/go.sum
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  staging/src/kubevirt.io/client-go/go.mod
  staging/src/kubevirt.io/client-go/go.sum
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types_swagger_generated.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: size/L, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/buildsystem

#13612 [Tests]Reduces API calls
  tests/compute/vm_lifecycle.go
  tests/vm_state_test.go
  tests/vm_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, sig/testing

#13747 [OWNERS] Remove stu-gott and kbidarkar from being reviewers
  OWNERS_ALIASES
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13423 Add kubevirt_vmi_migration_data_total_bytes metric
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-handler/migrationdomainstats/migrationstats_collector.go
  pkg/monitoring/metrics/virt-handler/migrationdomainstats/migrationstats_collector_test.go
  pkg/virt-launcher/virtwrap/stats/types.go
  pkg/virt-launcher/virtwrap/statsconv/converter.go
  pkg/virt-launcher/virtwrap/statsconv/util/domstats_utils.go
  tests/libmigration/migration.go
  tests/monitoring/metrics.go
Labels: kind/enhancement, size/S, area/launcher, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, sig/compute, sig/observability, needs-approver-review

#13533 cmd, cni, passt: Remove CNI redundant response
  cmd/cniplugins/passt-binding/pkg/plugin/BUILD.bazel
  cmd/cniplugins/passt-binding/pkg/plugin/netlink/BUILD.bazel
  cmd/cniplugins/passt-binding/pkg/plugin/netlink/netlink.go
  cmd/cniplugins/passt-binding/pkg/plugin/plugin.go
  cmd/cniplugins/passt-binding/pkg/plugin/plugin_test.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes

#11266 Completely remove unused custom SELinux policy
  automation/test.sh
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  cmd/virt-handler/virt_launcher.cil
  docs/getting-started.md
  hack/functests.sh
  pkg/virt-config/deprecation/feature-gates.go
  pkg/virt-config/feature-gates.go
  pkg/virt-handler/selinux/labels.go
  pkg/virt-handler/selinux/labels_test.go
  tests/decorators/decorators.go
  tests/flags/flags.go
  tests/security_features_test.go
  tests/testsuite/kubevirtresource.go
Labels: size/L, area/handler, release-note, lgtm, approved, kind/build-change, dco-signoff: yes, sig/compute, sig/buildsystem

#13745 tests/clone_test: Refactor createVM function
  pkg/libvmi/vm.go
  tests/clone_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13189 [release-1.3] backend-storage: address VMI cache corruption
  pkg/storage/backend-storage/backend-storage.go
  pkg/virt-controller/watch/vmi.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, needs-approver-review

#13720 storage: Decouple export ctrl from template service
  pkg/storage/export/export/BUILD.bazel
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/storage/export/export/pvc-source_test.go
  pkg/storage/export/export/vm-source_test.go
  pkg/storage/export/export/vmsnapshot-source_test.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#13743 cache mode tests: drop assertion assuming tmpfs implies no direct io
  tests/decorators/decorators.go
  tests/vmi_configuration_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13428 Add kubevirt_vmi_migration_(start|end)_time_seconds metrics
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  tests/monitoring/metrics.go
Labels: kind/enhancement, size/L, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#13722 virt-ctrl, template, tests: Add coverage for UseEmulation
  pkg/virt-controller/services/template_test.go
Labels: size/M, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13708 virt-handler, netstat: Report interfaces' link state
  api/openapi-spec/swagger.json
  pkg/network/setup/netstat.go
  pkg/network/setup/netstat_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/libnet/hotplug.go
  tests/network/vmi_infosource.go
Labels: size/L, sig/network, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#13535 Collect resource requests and limits from VM instance type/preference
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/metrics.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
  tests/monitoring/metrics.go
  tools/doc-generator/doc-generator.go
Labels: kind/enhancement, size/L, release-note, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/scale, sig/observability, needs-approver-review

#13713 Pass shared filesystem paths to libvirt to avoid failing migration
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-launcher/virtwrap/util/libvirt_helper.go
  pkg/virt-launcher/virtwrap/util/libvirt_helper_test.go
Labels: size/L, area/launcher, area/controller, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#13769 Provide openshift.io/required-scc
  manifests/generated/operator-csv.yaml.in
  pkg/virt-operator/resource/generate/components/daemonsets.go
  pkg/virt-operator/resource/generate/components/deployments.go
Labels: size/S, release-note-none, area/operator, lgtm, approved, dco-signoff: yes

#13768 tests/operator: verifyVMIsEvicted: convert to a static func
  tests/operator/operator.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13766 Fix test "the VMs running in that node should be respawned"
  tests/vm_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/failing-test

#13774 docs(README.md): Update links to Ansible collection
  README.md
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/documentation

#13771 instancetype: VM controller implementation cleanups
  pkg/instancetype/controller/vm/controller.go
  pkg/instancetype/controller/vm/mock.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
Labels: size/S, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#13765 [virt-operator]: clean up unused returned values
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/apply/apps_test.go
  pkg/virt-operator/resource/apply/pdb_test.go
  pkg/virt-operator/resource/generate/components/daemonsets.go
  pkg/virt-operator/resource/generate/components/deployments.go
  pkg/virt-operator/resource/generate/csv/csv.go
  pkg/virt-operator/resource/generate/install/strategy.go
  tools/csv-generator/csv-generator.go
  tools/manifest-templator/manifest-templator.go
Labels: size/L, release-note-none, area/operator, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/scale

#13770 net, Multus: Unexport implementation details
  pkg/network/multus/annotation.go
  pkg/network/multus/annotation_test.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#13746 [Cleanup] Eliminate global vm variable from vmi_lifecycle_test.go
  tests/vmi_lifecycle_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13773 matcher: Introduce and use HaveRevisionNames
  tests/clone_test.go
  tests/framework/matcher/BUILD.bazel
  tests/framework/matcher/instancetype.go
  tests/instancetype/BUILD.bazel
  tests/instancetype/instancetype.go
  tests/instancetype/upgrade.go
  tests/libinstancetype/instancetype.go
  tests/storage/restore.go
Labels: size/L, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute, sig/testing

#13781 controller: Remove unused shouldExpandInstancetypeAndPreference
  pkg/virt-controller/watch/vm/vm.go
Labels: size/S, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute

#13675 Drop a redundant container test
  tests/vmi_lifecycle_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13789 e2e: Drop global err variable
  tests/vmi_lifecycle_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13736 [release-1.4] Set VM status indication if storage exceeds quota
  pkg/storage/types/dv.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
Labels: size/M, area/controller, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#13777 fix(virtctl): Support VMs/VMIs with dots in their name
  pkg/virtctl/portforward/portforward.go
  pkg/virtctl/portforward/portforward_test.go
  pkg/virtctl/scp/scp_test.go
  pkg/virtctl/ssh/ssh_test.go
Labels: kind/enhancement, size/M, area/virtctl, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#13779 instancetype: Extract revision store tests from `instancetype_test.go`
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
  pkg/instancetype/revision/BUILD.bazel
  pkg/instancetype/revision/revision_suite_test.go
  pkg/instancetype/revision/store_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute, sig/testing

#13700 instancetype, webhooks: Extract VirtualMachine webhook logic
  pkg/instancetype/conflict/BUILD.bazel
  pkg/instancetype/conflict/conflicts.go
  pkg/instancetype/preference/requirements/cpu.go
  pkg/instancetype/preference/validation/BUILD.bazel
  pkg/instancetype/preference/validation/cpu.go
  pkg/instancetype/webhooks/vm/BUILD.bazel
  pkg/instancetype/webhooks/vm/admitter.go
  pkg/instancetype/webhooks/vm/mock.go
  pkg/instancetype/webhooks/vm/mutator.go
  pkg/virt-api/webhooks/fuzz/BUILD.bazel
  pkg/virt-api/webhooks/fuzz/fuzz_test.go
  pkg/virt-api/webhooks/mutating-webhook/BUILD.bazel
  pkg/virt-api/webhooks/mutating-webhook/mutating-webhook.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute

#13797 [release-1.4] Collect resource requests and limits from VM instance type/preference
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/metrics.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
  pkg/virt-controller/watch/application.go
  tests/monitoring/metrics.go
  tools/doc-generator/doc-generator.go
Labels: kind/enhancement, size/L, release-note, lgtm, approved, dco-signoff: yes, area/instancetype, sig/scale, sig/observability

#13801 virtctl ssh: nativeSSH signature change for unsupported platforms
  pkg/virtctl/ssh/native_unsupported.go
Labels: area/virtctl, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13497 [vmim][rbac] Limit VMIMs to cluster admins
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/generate/rbac/cluster.go
  pkg/virt-operator/resource/generate/rbac/cluster_test.go
  tests/access_test.go
  tests/testsuite/serviceaccount.go
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes

#13670 Conformance lifecycle part 2
  pkg/libvmi/storage.go
  tests/replicaset_test.go
  tests/vmi_lifecycle_test.go
  tests/vmi_tpm_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13791 instancetype: Extract `inferFromVolume` unit tests from mutation webhook
  pkg/instancetype/infer/BUILD.bazel
  pkg/instancetype/infer/handler.go
  pkg/instancetype/infer/handler_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute

#13794 tests/infra/prometheus: use option slice for cleaner VMI initialization
  tests/infrastructure/prometheus.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13233 [UT]cover generateNameWithRandomSuffix in virt-controller clone/util.go
  pkg/virt-controller/watch/clone/clone_test.go
Labels: size/S, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing

#13412 Improve virt-launcher logging
  cmd/virt-launcher-monitor/virt-launcher-monitor.go
Labels: kind/enhancement, area/launcher, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13810 Fix compute periodic by excluding some sig-storage tests
  automation/test.sh
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing, sig/buildsystem

#13752 Memory Dump: move memory dump code to pkg/storage
  pkg/storage/memorydump/BUILD.bazel
  pkg/storage/memorydump/memorydump.go
  pkg/storage/memorydump/memorydump_suite_test.go
  pkg/storage/memorydump/memorydump_test.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
Labels: area/controller, sig/storage, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#13802 instancetype: Extract `SpecFinder` unit tests from `instancetype_test.go`
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/find/BUILD.bazel
  pkg/instancetype/find/find_suite_test.go
  pkg/instancetype/find/spec_test.go
  pkg/instancetype/instancetype_test.go
  pkg/instancetype/preference/find/BUILD.bazel
  pkg/instancetype/preference/find/find_suite_test.go
  pkg/instancetype/preference/find/spec_test.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute, sig/testing

#13756 Enable VMI live migration using virtiofs volumes
  pkg/virt-controller/services/virtiofs.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  tests/libstorage/pvc.go
  tests/migration/BUILD.bazel
  tests/migration/migration.go
Labels: size/L, area/controller, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#13817 config: Graduate AutoResourceLimits featuregate to GA
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/inactive.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  tests/decorators/decorators.go
  tests/testsuite/kubevirtresource.go
  tests/vmi_configuration_test.go
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes, kind/deprecation

#13819 [release-1.4]virt-controller: Increase virtqemud memory overhead to 40Mi
  pkg/virt-controller/services/renderresources_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  tests/vmi_configuration_test.go
Labels: size/M, area/controller, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#13208 VMI Reset Functionality
  api/openapi-spec/swagger.json
  cmd/virt-handler/virt-handler.go
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/handler-launcher-com/cmd/v1/generated_mock_cmd.go
  pkg/virt-api/api.go
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/generated_mock_client.go
  pkg/virt-handler/rest/lifecycle.go
  pkg/virt-launcher/virtwrap/cli/generated_mock_libvirt.go
  pkg/virt-launcher/virtwrap/cli/libvirt.go
  pkg/virt-launcher/virtwrap/cmd-server/server.go
  pkg/virt-launcher/virtwrap/cmd-server/server_test.go
  pkg/virt-launcher/virtwrap/generated_mock_manager.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-operator/resource/generate/rbac/cluster.go
  pkg/virt-operator/resource/generate/rbac/cluster_test.go
  pkg/virt-operator/resource/generate/rbac/controller.go
  pkg/virtctl/BUILD.bazel
  pkg/virtctl/reset/BUILD.bazel
  pkg/virtctl/reset/reset.go
  pkg/virtctl/reset/reset_suite_test.go
  pkg/virtctl/reset/reset_test.go
  pkg/virtctl/root.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/handler.go
  staging/src/kubevirt.io/client-go/kubecli/vmi_test.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachineinstance_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/virtualmachineinstance_expansion.go
  tests/access_test.go
  tests/compute/subresources/BUILD.bazel
  tests/compute/subresources/reset.go
Labels: area/launcher, area/handler, area/virtctl, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#13307 access-credentials: test: Fix race in unit test
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/failing-test

#13772 tests/infra/prometheus: adjust [test_id:4135] prometheus install namespace
  tests/flags/flags.go
  tests/infrastructure/prometheus.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/observability

#13784 virt-handler, vm ctrl: Extract networks filtering logic
  pkg/network/setup/BUILD.bazel
  pkg/network/setup/filters.go
  pkg/network/setup/filters_test.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm.go
Labels: size/L, sig/network, area/controller, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#13825 feat: move preference requirements unit tests to correct packages
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
  pkg/instancetype/preference/requirements/BUILD.bazel
  pkg/instancetype/preference/requirements/cpu_test.go
  pkg/instancetype/preference/requirements/memory_test.go
  pkg/instancetype/preference/requirements/requirements_suite_test.go
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#13463 Replace flaky e2e migration cancelation test with a paused workload with a unit test
  pkg/virt-launcher/virtwrap/manager_test.go
  tests/migration/paused.go
Labels: size/M, area/launcher, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing, kind/flake, needs-approver-review
