Repository kubevirt/kubevirt, pull requests merged in 2025-09, with the labels that each got.

#15289 tests: Convert VMI configuration tests from integration to end-to-end
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  tests/vmi_configuration_test.go
Labels: size/L, area/launcher, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, needs-approver-review

#14790 virt-handler: various cleanup
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cmd-client/BUILD.bazel
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/errors.go
  pkg/virt-handler/cmd-client/guest.go
  pkg/virt-handler/container-disk/mount.go
  pkg/virt-handler/container-disk/mount_test.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount_test.go
  pkg/virt-handler/isolation/detector.go
  pkg/virt-handler/isolation/detector_test.go
  pkg/virt-handler/isolation/generated_mock_detector.go
  pkg/virt-handler/selinux/BUILD.bazel
  pkg/virt-handler/selinux/labels.go
Labels: size/L, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#15557 Fix rest handler leak
  pkg/virt-handler/rest/lifecycle.go
Labels: size/S, area/handler, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#15560 net, pod, annotations: Decouple Generator from virt-config
  pkg/network/multus/BUILD.bazel
  pkg/network/multus/annotation.go
  pkg/network/multus/annotation_test.go
  pkg/network/netbinding/netbinding.go
  pkg/network/pod/annotations/BUILD.bazel
  pkg/network/pod/annotations/generator.go
  pkg/network/pod/annotations/generator_test.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, wg/code-quality

#15445 tests: Fix focus and skip support
  hack/functests.sh
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#15590 [release-1.4] Fix rest handler leak
  pkg/virt-handler/rest/lifecycle.go
Labels: size/S, area/handler, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#15568 [Release-1.5] Handle freeze on paused VMs during snapshot
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types.go
  tests/storage/snapshot.go
Labels: size/L, area/api-server, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#15562 tests: Refactor RegisterKubevirtConfigChange and remove patchWorkloadUpdateMethodAndRolloutRunStrategy
  tests/hotplug/BUILD.bazel
  tests/hotplug/cpu.go
  tests/hotplug/instancetype.go
  tests/hotplug/memory.go
  tests/hotplug/rolloutstrategy.go
  tests/libkubevirt/config/kvconfig.go
  tests/libkubevirt/config/netbinding.go
  tests/network/bindingplugin.go
  tests/network/bindingplugin_macvtap.go
  tests/network/bindingplugin_passt.go
  tests/network/bindingplugin_slirp.go
  tests/network/hotplug_bridge.go
  tests/network/hotplug_sriov.go
  tests/network/vmi_istio.go
  tests/storage/migration.go
Labels: size/L, sig/network, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, wg/code-quality

#14976 remove ppc64le architecture support
  api/openapi-spec/swagger.json
  docs/build-the-builder.md
  hack/builder/common.sh
  manifests/generated/kv-resource.yaml
  pkg/virt-api/webhooks/BUILD.bazel
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-api/webhooks/ppc64le.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/configuration.go
  pkg/virt-config/configuration_test.go
  pkg/virt-config/virt-config.go
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/rendercontainer_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/watch/topology/hinter_test.go
  pkg/virt-launcher/virtwrap/api/BUILD.bazel
  pkg/virt-launcher/virtwrap/api/arch-defaulter/BUILD.bazel
  pkg/virt-launcher/virtwrap/api/arch-defaulter/archdefaults.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/archdefaults_test.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/ppc64le.go
  pkg/virt-launcher/virtwrap/api/defaults_test.go
  pkg/virt-launcher/virtwrap/api/schema_test.go
  pkg/virt-launcher/virtwrap/api/testdata/domain_ppc64le.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/arch/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/arch/converter.go
  pkg/virt-launcher/virtwrap/converter/arch/converter_test.go
  pkg/virt-launcher/virtwrap/converter/arch/ppc64le.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/testdata/domain_ppc64le.xml.tmpl
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virt-operator/webhooks/kubevirt-update-admitter.go
  pkg/virt-operator/webhooks/kubevirt-update-admitter_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/security_features_test.go
  tests/virtctl/vnc.go
  tests/vmi_configuration_test.go
Labels: area/launcher, area/controller, area/api-server, area/virtctl, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem, needs-approver-review

#15584 net, multus: Remove networkAnnotationPool
  pkg/network/multus/annotation.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, wg/code-quality

#15618 virt-launcher, network setup: Minor cleanup
  pkg/network/dhcp/bridge.go
  pkg/network/dhcp/bridge_test.go
  pkg/network/dhcp/configurator.go
  pkg/network/dhcp/configurator_test.go
  pkg/network/setup/network_test.go
  pkg/network/setup/podnic.go
  pkg/network/setup/podnic_test.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, wg/code-quality

#15621 network bindings: Fix typo
  pkg/network/netbinding/netbinding.go
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#15630 Allow L3 network for decentralized migrations
  pkg/synchronization-controller/synchronization-controller.go
Labels: size/S, area/controller, release-note, lgtm, approved, dco-signoff: yes, approved-vep

#15628 e2e, sriov: Wait for infoSources
  tests/network/sriov.go
Labels: size/M, sig/network, area/handler, release-note-none, lgtm, approved, dco-signoff: yes

#15642 backend state migration: use same key in expect/observe
  pkg/virt-controller/watch/migration/migration.go
Labels: size/S, area/controller, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#15503 Make VM pool tests more realistic with enhanced fake client usage
  pkg/virt-controller/watch/pool/BUILD.bazel
  pkg/virt-controller/watch/pool/pool_test.go
Labels: area/controller, size/XL, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#15605 Allow decentralized migration cancellation
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/synchronization-controller/synchronization-controller.go
  pkg/synchronization-controller/synchronization-controller_test.go
  pkg/synchronizer-com/synchronization/v1/synchronization.pb.go
  pkg/synchronizer-com/synchronization/v1/synchronization.proto
  pkg/virt-controller/watch/migration/decentralized.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-operator/resource/generate/rbac/synchronizationcontroller.go
  pkg/virt-operator/resource/generate/rbac/synchronizationcontroller_test.go
  tests/migration/namespace.go
Labels: size/L, area/controller, release-note, lgtm, approved, dco-signoff: yes, sig/compute, approved-vep

#15520 monitoring: Remove unused params from collector
  cmd/virt-handler/virt-handler.go
  pkg/monitoring/metrics/virt-handler/domainstats/collector.go
  pkg/monitoring/metrics/virt-handler/metrics.go
  tests/libmonitoring/metrics.go
Labels: size/S, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, sig/compute, sig/observability

#15544 [release-1.5] vm-mutator: ensure default Firmware.Serial value on newly created vms
  pkg/virt-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  tests/clone_test.go
Labels: size/L, area/api-server, release-note, lgtm, approved, dco-signoff: yes

#15514 Add LowReadyVirtControllersCount e2e test
  docs/observability/metrics.md
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/virt-controller.go
  pkg/monitoring/rules/recordingrules/virt.go
  tests/monitoring/BUILD.bazel
  tests/monitoring/component_monitoring.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, sig/buildsystem, sig/observability

#15531 feat: bump prometheus-operator to v0.80.1
  go.mod
  go.sum
  go.work.sum
  pkg/virt-operator/resource/generate/components/prometheus.go
  staging/src/kubevirt.io/api/go.mod
  staging/src/kubevirt.io/api/go.sum
  staging/src/kubevirt.io/client-go/go.mod
  staging/src/kubevirt.io/client-go/go.sum
  staging/src/kubevirt.io/client-go/prometheusoperator/typed/monitoring/v1/BUILD.bazel
  staging/src/kubevirt.io/client-go/prometheusoperator/typed/monitoring/v1/alertmanager.go
  staging/src/kubevirt.io/client-go/prometheusoperator/typed/monitoring/v1/fake/BUILD.bazel
  staging/src/kubevirt.io/client-go/prometheusoperator/typed/monitoring/v1/fake/fake_alertmanager.go
  staging/src/kubevirt.io/client-go/prometheusoperator/typed/monitoring/v1/fake/fake_prometheus.go
  staging/src/kubevirt.io/client-go/prometheusoperator/typed/monitoring/v1/prometheus.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/LICENSE
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/register.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/BUILD.bazel
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/alertmanager_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/dns_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/podmonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/probe_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheus_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheusrule_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/servicemonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/thanos_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/zz_generated.deepcopy.go
  vendor/k8s.io/utils/clock/testing/fake_clock.go
  vendor/k8s.io/utils/lru/lru.go
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/typed.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/scalar.go
Labels: release-note, size/XXL, kind/api-change, lgtm, approved, dco-signoff: yes, area/monitoring, needs-approver-review

#15661 net, istio: Support Istio v1.25 and above
  pkg/network/istio/decorators.go
  pkg/network/pod/annotations/generator.go
  pkg/network/pod/annotations/generator_test.go
Labels: size/S, sig/network, release-note, lgtm, approved, dco-signoff: yes

#15673 Reapply "Remove GetRunningVMIDomainSpec from vm_test.go tests"
  tests/vm_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes

#15631 netconf: Remove configStateCache upgrade
  pkg/network/setup/BUILD.bazel
  pkg/network/setup/configstatecache.go
  pkg/network/setup/netconf.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes

#15601 [release-1.0] Fix rest handler leak
  pkg/virt-handler/rest/lifecycle.go
Labels: area/handler, release-note, size/XS, lgtm, approved, dco-signoff: yes

#15406 Add VMpool finalizer to ensure proper cleanup
  pkg/virt-controller/watch/pool/BUILD.bazel
  pkg/virt-controller/watch/pool/pool.go
  pkg/virt-controller/watch/pool/pool_test.go
  staging/src/kubevirt.io/api/pool/v1alpha1/types.go
Labels: size/L, area/controller, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, approved-vep

#15540 virt-handler: ensure the VM controller sees VMI deletions during migrations
  pkg/virt-handler/migration-source.go
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Labels: size/M, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#15613 chore: introduce INVOKE_FUNCTEST_ONCE
  automation/repeated_test.sh
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem, needs-approver-review

#15650 config: sort customizeComponents.flags in command
  pkg/virt-operator/resource/apply/patches.go
  pkg/virt-operator/resource/apply/patches_test.go
Labels: size/S, release-note-none, area/operator, lgtm, approved, dco-signoff: yes, needs-approver-review

#15734 tests: Increase VMI lifecycle startup timeout to help arm64 lanes
  tests/vmi_lifecycle_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/flake, wg/arch-arm

#15739 fixed typos in Debugging docs
  docs/debugging.md
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#15455 Improve migration controller sync time
  pkg/controller/virtinformers.go
  pkg/synchronization-controller/synchronization-controller.go
  pkg/synchronization-controller/synchronization-controller_test.go
  pkg/util/migrations/BUILD.bazel
  pkg/util/migrations/migrations.go
  pkg/virt-controller/watch/drain/evacuation/BUILD.bazel
  pkg/virt-controller/watch/drain/evacuation/evacuation.go
  pkg/virt-controller/watch/drain/evacuation/evacuation_test.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-controller/watch/workload-updater/workload-updater.go
  pkg/virt-controller/watch/workload-updater/workload-updater_test.go
Labels: size/L, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#15741 build: update container manifest push to handle new digest file
  BUILD.bazel
  cmd/pr-helper/BUILD.bazel
  hack/bazel-build-images.sh
  hack/bazel-push-images.sh
  hack/push-container-manifest.sh
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#15579 [release-1.5] Fix Volume Migration Tests
  tests/default-ceph-config.json
  tests/libstorage/config.go
  tests/libstorage/storageclass.go
  tests/storage/migration.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, needs-approver-review

#15771 Adapt synchronization-controller oci_image name
  BUILD.bazel
  cmd/synchronization-controller/BUILD.bazel
  hack/bazel-build-images.sh
Labels: area/controller, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#15600 [release-1.5] Adjust go version staging
  staging/src/kubevirt.io/api/go.mod
  staging/src/kubevirt.io/client-go/go.mod
  vendor/modules.txt
Labels: size/S, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, needs-approver-review

#15689 tests/taints-and-tolerations: add RequiresDedicatedWorkerNodes decorator
  tests/decorators/decorators.go
  tests/infrastructure/taints-and-tolerations.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#15766 target migration monitor: improve logic, timeouts and tests
  go.work.sum
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-launcher/virtwrap/live-migration-target_test.go
Labels: size/M, area/launcher, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#15388 defaults: Attempt to find the architecture of a VM from any referenced DataSources
  api/openapi-spec/swagger.json
  go.mod
  go.sum
  go.work.sum
  pkg/defaults/BUILD.bazel
  pkg/defaults/defaults.go
  pkg/defaults/defaults_suite_test.go
  pkg/defaults/defaults_test.go
  pkg/libdv/dv.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/go.mod
  staging/src/kubevirt.io/api/go.sum
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  staging/src/kubevirt.io/client-go/go.mod
  staging/src/kubevirt.io/client-go/go.sum
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/authorize_utils.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types_swagger_generated.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: area/controller, sig/storage, size/XXL, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, needs-approver-review
