Repository kubevirt/kubevirt, pull requests merged in 2025-02, with the labels that each got.

#13823 feat: move instance types annotations unit tests to correct packages
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/annotations/BUILD.bazel
  pkg/instancetype/annotations/annotations_suite_test.go
  pkg/instancetype/annotations/annotations_test.go
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
  pkg/instancetype/preference/annotations/BUILD.bazel
  pkg/instancetype/preference/annotations/annotations_suite_test.go
  pkg/instancetype/preference/annotations/annotations_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/buildsystem

#13828 e2e: fix flaky vmi reset test
  tests/compute/subresources/reset.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13788 pkg/util: move a few functions next to their users
  pkg/util/util.go
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/watch/topology/BUILD.bazel
  pkg/virt-controller/watch/topology/tsc.go
  pkg/virt-launcher/virtwrap/converter/converter.go
Labels: size/L, area/launcher, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#13836 code clean: remove redundant types in composite literals, redundant type conversions
  pkg/virt-handler/cache/cache_test.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/client_test.go
  pkg/virt-handler/device-manager/usb_device_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Labels: size/M, area/launcher, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#13717 vol-mig: invalidate destination DVs with no csi storageclass
  pkg/libdv/dv.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/volume-migration/BUILD.bazel
  pkg/virt-controller/watch/volume-migration/volume-migration.go
  pkg/virt-controller/watch/volume-migration/volume-migration_test.go
  tests/storage/migration.go
Labels: size/L, area/controller, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#13842 virt-handler: Remove unused copy function
  cmd/virt-handler/virt-handler.go
Labels: size/S, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#13775 rpm: Update passt to 0^20250121.g4f2c8e7-3.el9
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Labels: size/M, sig/network, release-note, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#12624 Check that only Secret is supported for SLIC table
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Labels: size/L, area/launcher, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#13855 [release-1.4] backport some RPM mirroring
  WORKSPACE
Labels: size/L, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#13785 Replace skips with failures for missing CDI
  tests/instancetype/instancetype.go
  tests/migration/migration.go
  tests/operator/operator.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute, sig/testing

#13843 e2e, vmi_lifecycle: Remove unused addBootOrderToDisk function
  tests/vmi_lifecycle_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13642 feat(vmpool): Append index to ConfigMap or Secret refs
  api/openapi-spec/swagger.json
  pkg/virt-controller/watch/pool/pool.go
  pkg/virt-controller/watch/pool/pool_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/pool/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/pool/v1alpha1/types.go
  staging/src/kubevirt.io/api/pool/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/pool_test.go
Labels: kind/enhancement, size/L, area/controller, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, needs-approver-review

#13856 revert: Quarantine of e2e usbredir tests
  tests/usbredir_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13854 rpm: Update virtualization packages
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#13869 net, istio: Add linter coverage
  hack/lint-paths.txt
  pkg/network/istio/ports.go
  pkg/network/istio/proxy.go
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/buildsystem

#13795 cleanup(virt-api,subresource): Use extracted instancetype logic
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/instancetype.go
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/expand.go
  pkg/virt-api/rest/expand_test.go
  pkg/virt-api/rest/subresource.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, needs-approver-review

#13885 tests/libstorage: Add owners file
  tests/libstorage/OWNERS
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13610 Add kubevirt_vm/i_vnic_info metrics
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
  tests/monitoring/metrics.go
Labels: kind/enhancement, size/L, sig/network, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#13844 net, controllers, VM: Refactor NIC hotplug / hotunplug tests
  pkg/network/controllers/hotplug_test.go
  pkg/network/controllers/vm_test.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13851 [Tests]instance_type.go: Reduces API calls
  tests/instancetype/instancetype.go
  tests/instancetype/reference_policy.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute, sig/testing

#13804 [release-1.4] fix(virtctl): Support VMs/VMIs with dots in their name
  pkg/virtctl/portforward/BUILD.bazel
  pkg/virtctl/portforward/portforward.go
  pkg/virtctl/portforward/portforward_test.go
  pkg/virtctl/scp/BUILD.bazel
  pkg/virtctl/scp/native.go
  pkg/virtctl/scp/scp.go
  pkg/virtctl/scp/scp_test.go
  pkg/virtctl/scp/wrapped.go
  pkg/virtctl/scp/wrapped_test.go
  pkg/virtctl/ssh/BUILD.bazel
  pkg/virtctl/ssh/ssh.go
  pkg/virtctl/ssh/ssh_test.go
  pkg/virtctl/templates/BUILD.bazel
  pkg/virtctl/templates/target.go
  pkg/virtctl/templates/target_test.go
Labels: kind/enhancement, area/virtctl, size/XL, release-note, lgtm, approved, dco-signoff: yes, sig/compute, needs-approver-review

#13874 snapshot tests: use alpine instead of fedora for non-guest-agent tests
  tests/storage/snapshot.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13883 e2e,compute: Quarantine flaky subresource access test
  tests/infrastructure/cluster-profiler.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing, kind/flake

#13866 Make dev directory dynamic for the pr-helper container
  pkg/virt-operator/resource/generate/components/daemonsets.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#13889 instancetype: Move upgrade tests to fakeclients
  pkg/instancetype/upgrade/BUILD.bazel
  pkg/instancetype/upgrade/upgrade_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute, sig/testing

#13301 vol-mig: improve error report when the destination is too small
  pkg/virt-launcher/virtwrap/live-migration-source.go
Labels: kind/enhancement, area/launcher, sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13635 tests/scale/virt-api: replace e2e test with unit test
  hack/lint-paths.txt
  pkg/virt-operator/BUILD.bazel
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/apply/apps_test.go
  tests/BUILD.bazel
  tests/scale/BUILD.bazel
  tests/scale/virt-api.go
  tests/tests_suite_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#13900 [release-1.4] snapshot tests: use alpine instead of fedora for non-guest-agent tests
  tests/storage/snapshot.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13803 VMSnapshot: wait for volumes to be bound instead of skip
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
  pkg/storage/snapshot/util.go
  tests/libstorage/virtualmachinesnapshot.go
  tests/storage/snapshot.go
Labels: sig/storage, area/virtctl, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#13850 api, net: Manage Link State for vNICs
  api/openapi-spec/swagger.json
  pkg/network/admitter/BUILD.bazel
  pkg/network/admitter/admit.go
  pkg/network/admitter/admit_test.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/network.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/network/BUILD.bazel
  tests/network/link_state.go
Labels: size/L, sig/network, area/launcher, area/handler, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#13907 e2e, skips: Remove unused SkipIfNoRhelImage
  tests/framework/checks/skips.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13792 Drop SoftwareEmulation decorator
  automation/test.sh
  tests/BUILD.bazel
  tests/decorators/decorators.go
  tests/vmi_lifecycle_test.go
Labels: size/M, area/launcher, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, sig/testing, sig/buildsystem

#13864 Reject VMClone creation when source uses backend storage PVC
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter_test.go
Labels: size/S, area/api-server, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#13880 Document descheduler integration
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#13891 instancetype: Extract VirtualMachine controller tests
  pkg/instancetype/controller/vm/BUILD.bazel
  pkg/instancetype/controller/vm/controller_test.go
  pkg/instancetype/controller/vm/vm_suite_test.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm_test.go
Labels: area/controller, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute, sig/testing

#13908 net, e2e: Remove deprecated SkipIfOpenShift functions
  pkg/util/cluster/BUILD.bazel
  pkg/util/cluster/cluster.go
  tests/framework/checks/skips.go
  tests/network/vmi_multus.go
  tests/network/vmi_networking.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13857 VMSnapshot: allow creating snapshot when source doesnt exist yet
  pkg/storage/admitters/vmsnapshot.go
  pkg/storage/admitters/vmsnapshot_test.go
  tests/storage/snapshot.go
Labels: size/M, sig/storage, area/virtctl, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#13838 Add the KeepValueUpdated() method to time-defined cache
  cmd/virt-launcher/virt-launcher.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
  tools/cache/BUILD.bazel
  tools/cache/time-defined-cache.go
  tools/cache/time-defined-cache_test.go
Labels: kind/enhancement, size/L, area/launcher, release-note, lgtm, approved, dco-signoff: yes, sig/compute, sig/scale

#13909 e2e, security features: Remove runOnAllSchedulableNodes
  tests/BUILD.bazel
  tests/security_features_test.go
Labels: size/S, sig/security, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13767 Update backup and restore docs with info about backend PVC
  docs/backup-restore-integration.md
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/documentation

#13853 godoc: fixes for decorators.go
  tests/decorators/decorators.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, wg/code-quality

#13904 tests/operator.go improvements
  tests/operator/BUILD.bazel
  tests/operator/operator.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13918 feat(virtctl): Deprecate optional type in port-forward/ssh/scp
  pkg/virtctl/portforward/portforward.go
  pkg/virtctl/scp/scp.go
  pkg/virtctl/ssh/native.go
  pkg/virtctl/ssh/ssh.go
  tests/virtctl/scp.go
  tests/virtctl/ssh.go
Labels: size/M, area/virtctl, release-note, lgtm, approved, dco-signoff: yes, kind/deprecation, sig/compute

#11964 VMClone: Remove webhook that checks VM Source
  pkg/controller/virtinformers.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter_test.go
  pkg/virt-controller/watch/clone/BUILD.bazel
  pkg/virt-controller/watch/clone/clone.go
  pkg/virt-controller/watch/clone/clone_base.go
  pkg/virt-controller/watch/clone/clone_test.go
  pkg/virt-controller/watch/clone/util.go
  tests/BUILD.bazel
  tests/clone_test.go
Labels: size/L, area/controller, sig/storage, release-note, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, sig/buildsystem

#13871 feat(virtctl): Deprecate --local-ssh flag and use local ssh by default
  pkg/virtctl/ssh/native.go
  pkg/virtctl/ssh/native_unsupported.go
  pkg/virtctl/ssh/ssh.go
  tests/virtctl/create_vm.go
  tests/virtctl/scp.go
  tests/virtctl/ssh.go
Labels: size/M, area/virtctl, release-note, lgtm, approved, dco-signoff: yes, kind/deprecation, sig/compute

#13805 Fetch non-cluster instance type and preferences with namespace key
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Labels: kind/enhancement, size/M, release-note, lgtm, approved, dco-signoff: yes, area/instancetype, sig/observability

#13629 open-api: update resource.Quantity type to support both string and integer
  api/openapi-spec/swagger.json
  pkg/util/openapi/openapi.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
Labels: size/M, area/api-server, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes

#13815 GA ClusterProfiler FG and add a config to enable it
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/monitoring/profiler/profile-manager_test.go
  pkg/virt-api/rest/profiler_test.go
  pkg/virt-api/webhooks/fuzz/fuzz_test.go
  pkg/virt-config/configuration_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/inactive.go
  pkg/virt-config/virt-config.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/infrastructure/cluster-profiler.go
Labels: size/L, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/observability

#13831 VMClone: Remove webhook that checks Snapshot Source
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter_test.go
  pkg/virt-controller/watch/clone/clone.go
  pkg/virt-controller/watch/clone/clone_base.go
  pkg/virt-controller/watch/clone/clone_test.go
  tests/clone_test.go
Labels: size/L, area/controller, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#13930 backend-storage: remove leftover docs about RWX FS requirement
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Labels: size/S, sig/storage, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/documentation

#13878 simplify vmUpdateHelperDefault
  pkg/virt-handler/vm.go
Labels: size/L, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#13609 Address issue: #12059 update ignition_test.go libvm
  pkg/ignition/BUILD.bazel
  pkg/ignition/ignition_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13916 instancetype: Sync runtime data into VirtualMachine Status
  api/openapi-spec/swagger.json
  pkg/instancetype/controller/vm/BUILD.bazel
  pkg/instancetype/controller/vm/controller.go
  pkg/instancetype/controller/vm/controller_test.go
  pkg/instancetype/expand/expand.go
  pkg/instancetype/find/BUILD.bazel
  pkg/instancetype/find/revision.go
  pkg/instancetype/find/spec.go
  pkg/instancetype/find/spec_test.go
  pkg/instancetype/preference/find/BUILD.bazel
  pkg/instancetype/preference/find/revision.go
  pkg/instancetype/preference/find/spec.go
  pkg/instancetype/preference/find/spec_test.go
  pkg/instancetype/revision/BUILD.bazel
  pkg/instancetype/revision/patch.go
  pkg/instancetype/revision/reference.go
  pkg/instancetype/revision/store.go
  pkg/instancetype/revision/store_test.go
  pkg/instancetype/upgrade/BUILD.bazel
  pkg/instancetype/upgrade/handler.go
  pkg/instancetype/upgrade/upgrade_test.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/clone_test.go
  tests/framework/matcher/instancetype.go
  tests/hotplug/instancetype.go
  tests/instancetype/BUILD.bazel
  tests/instancetype/instancetype.go
  tests/instancetype/reference_policy.go
  tests/instancetype/upgrade.go
  tests/storage/restore.go
  tests/vm_test.go
Labels: area/controller, sig/storage, release-note, size/XXL, kind/api-change, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#13940 VAP: return a consistent reason for failures
  pkg/virt-operator/resource/generate/components/validatingadmissionpolicy.go
  tests/validatingadmissionpolicy/BUILD.bazel
  tests/validatingadmissionpolicy/noderestrictions.go
Labels: release-note, size/XS, area/operator, lgtm, approved, dco-signoff: yes

#13901 net, controllers, VM: Refactor NIC hotplug / hotunplug tests - part 2
  pkg/network/controllers/hotplug_test.go
  pkg/network/controllers/vm_test.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13910 [release-1.3] Make dev directory dynamic for the pr-helper container
  pkg/virt-operator/resource/generate/components/daemonsets.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, needs-approver-review

#13690 bug-fix: add machine type to `NodeSelector` to prevent breaking changes on unsupported nodes
  cmd/virt-handler/virt-handler.go
  go.mod
  go.sum
  pkg/virt-controller/services/nodeselectorrenderer.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
  pkg/virt-launcher/virtwrap/libvirtxml/convert.go
  pkg/virt-launcher/virtwrap/libvirtxml/libvirtxml_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/libpod/query.go
  tests/migration/migration.go
  tests/vmi_lifecycle_test.go
  vendor/libvirt.org/go/libvirtxml/capabilities.go
  vendor/libvirt.org/go/libvirtxml/domain.go
  vendor/modules.txt
Labels: kind/bug, kind/enhancement, size/L, area/launcher, area/controller, area/handler, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#13938 cleanup(virtctl): Follow ups to deprecation of optional type in virtctl port-forward
  pkg/virtctl/portforward/portforward.go
  pkg/virtctl/scp/scp_test.go
  tests/virtctl/create_vm.go
Labels: size/S, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13943 test.sh: Remove leftover reference to cnao lanes
  automation/test.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/buildsystem

#13536 backend-storage: recover from an interrupted migration
  automation/repeated_test.sh
  automation/test.sh
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-launcher/qemu
  hack/functests.sh
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/storage/backend-storage/BUILD.bazel
  pkg/storage/backend-storage/backend-storage.go
  pkg/util/migrations/migrations.go
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-operator/resource/generate/rbac/controller.go
  tests/decorators/decorators.go
  tests/migration/BUILD.bazel
  tests/migration/recovery.go
Labels: kind/bug, area/launcher, area/controller, sig/storage, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem

#13964 net, e2e, vmi_multus: Minor cleanup
  tests/network/vmi_multus.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13840 Revert checksum workaround
  pkg/container-disk/container-disk.go
  pkg/container-disk/container-disk_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-handler/container-disk/BUILD.bazel
  pkg/virt-handler/container-disk/generated_mock_mount.go
  pkg/virt-handler/container-disk/mount.go
  pkg/virt-handler/container-disk/mount_test.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-operator/resource/generate/components/daemonsets.go
Labels: sig/storage, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#13807 Move disk info collection and verification from virt-handler to virt-launcher
  cmd/virt-chroot/main.go
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-launcher/virt-launcher.go
  pkg/cloud-init/cloud-init.go
  pkg/config/config.go
  pkg/container-disk/BUILD.bazel
  pkg/container-disk/container-disk.go
  pkg/container-disk/validation.go
  pkg/emptydisk/emptydisk.go
  pkg/ephemeral-disk/ephemeral-disk.go
  pkg/network/driver/virtchroot/tap.go
  pkg/os/disk/BUILD.bazel
  pkg/os/disk/disk.go
  pkg/os/disk/disk_suite_test.go
  pkg/os/disk/validation.go
  pkg/os/disk/validation_test.go
  pkg/virt-config/configuration.go
  pkg/virt-config/virt-config.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/container-disk/generated_mock_mount.go
  pkg/virt-handler/container-disk/mount.go
  pkg/virt-handler/isolation/BUILD.bazel
  pkg/virt-handler/isolation/validation.go
  pkg/virt-handler/options.go
  pkg/virt-handler/selinux/labels.go
  pkg/virt-handler/virt-chroot/virt-chroot.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
  pkg/virtctl/vnc/vnc.go
Labels: sig/network, area/launcher, area/handler, sig/storage, area/virtctl, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute, sig/buildsystem

#13950 virt-operator webhook test: Use fakeclient and cleanups
  pkg/virt-operator/webhooks/BUILD.bazel
  pkg/virt-operator/webhooks/webhook_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13968 tests/clone_tests: Refactor generateSnapshot to normal function
  tests/clone_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13969 e2e/clone_test: Move start/StopClone inline
  tests/clone_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#13990 Add RequiresSizeRoundUp decorator
  tests/decorators/decorators.go
  tests/storage/restore.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#14000 export tests: correct stdout/err printing syntax
  tests/storage/export.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13991 [release-1.3] Add kubevirt_vmi_migration_(start|end)_time_seconds metrics
  docs/metrics.md
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  tests/monitoring/metrics.go
Labels: kind/enhancement, size/L, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, sig/buildsystem, sig/observability

#13939 feat(virtctl): Change separators in virtctl port-forward syntax
  pkg/virtctl/portforward/portforward.go
  pkg/virtctl/portforward/portforward_test.go
  pkg/virtctl/scp/scp_test.go
  pkg/virtctl/scp/wrapped.go
  pkg/virtctl/scp/wrapped_test.go
  pkg/virtctl/ssh/ssh.go
  pkg/virtctl/ssh/ssh_test.go
  pkg/virtctl/ssh/wrapped.go
  pkg/virtctl/ssh/wrapped_test.go
Labels: kind/enhancement, size/L, area/virtctl, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#13753 feat: move instance types apply unit tests to correct package
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/apply/BUILD.bazel
  pkg/instancetype/apply/annotations_test.go
  pkg/instancetype/apply/apply_suite_test.go
  pkg/instancetype/apply/cpu_test.go
  pkg/instancetype/apply/gpu_test.go
  pkg/instancetype/apply/hostdevices_test.go
  pkg/instancetype/apply/iothreadpolicy_test.go
  pkg/instancetype/apply/launchsecurity_test.go
  pkg/instancetype/apply/memory_test.go
  pkg/instancetype/apply/nodeselector_test.go
  pkg/instancetype/apply/scheduler_test.go
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_suite_test.go
  pkg/instancetype/instancetype_test.go
  pkg/instancetype/preference/annotations/BUILD.bazel
  pkg/instancetype/preference/annotations/annotations_test.go
  pkg/instancetype/preference/apply/BUILD.bazel
  pkg/instancetype/preference/apply/apply_suite_test.go
  pkg/instancetype/preference/apply/clock_test.go
  pkg/instancetype/preference/apply/device_test.go
  pkg/instancetype/preference/apply/features_test.go
  pkg/instancetype/preference/apply/firmware_test.go
  pkg/instancetype/preference/apply/machine_test.go
  pkg/instancetype/preference/apply/subdomain_test.go
  pkg/instancetype/preference/apply/termination_test.go
Labels: sig/storage, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/buildsystem

#14012 instance types, upgrade tests: Don't use update
  tests/instancetype/upgrade.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/testing, kind/flake

#13906 Storage: add requiresWFFCStorageClass decorator and change skips to fail
  tests/clone_test.go
  tests/decorators/decorators.go
  tests/storage/hotplug.go
  tests/virtctl/imageupload.go
Labels: size/L, sig/storage, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, sig/testing

#14017 tests/clone_tests: Move createSnapshot to be inline
  tests/clone_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13888 [release-1.5] Add v1.5.0 perf and scale benchmarks data
  docs/perf-scale-benchmarks.md
  docs/perf-scale-graphs/vm/vm-avg-virt-api-cpu-usage.png
  docs/perf-scale-graphs/vm/vm-avg-virt-api-memory-usage.png
  docs/perf-scale-graphs/vm/vm-avg-virt-controller-cpu-usage.png
  docs/perf-scale-graphs/vm/vm-avg-virt-controller-memory-usage.png
  docs/perf-scale-graphs/vm/vm-avg-virt-handler-cpu-usage.png
  docs/perf-scale-graphs/vm/vm-avg-virt-handler-memory-usage.png
  docs/perf-scale-graphs/vm/vm-get-nodes-count.png
  docs/perf-scale-graphs/vm/vm-list-virtualmachineinstances-count.png
  docs/perf-scale-graphs/vm/vm-p50-Creation-to-Running.png
  docs/perf-scale-graphs/vm/vm-p95-Creation-to-Running.png
  docs/perf-scale-graphs/vm/vm-patch-nodes-count.png
  docs/perf-scale-graphs/vm/vm-patch-pods-count.png
  docs/perf-scale-graphs/vm/vm-patch-vmis-count.png
  docs/perf-scale-graphs/vm/vm-update-vmis-count.png
  docs/perf-scale-graphs/vm/vm-watch-virtualmachineinstances-count.png
  docs/perf-scale-graphs/vmi/vmi-avg-virt-api-cpu-usage.png
  docs/perf-scale-graphs/vmi/vmi-avg-virt-api-memory-usage.png
  docs/perf-scale-graphs/vmi/vmi-avg-virt-controller-cpu-usage.png
  docs/perf-scale-graphs/vmi/vmi-avg-virt-controller-memory-usage.png
  docs/perf-scale-graphs/vmi/vmi-avg-virt-handler-cpu-usage.png
  docs/perf-scale-graphs/vmi/vmi-avg-virt-handler-memory-usage.png
  docs/perf-scale-graphs/vmi/vmi-get-nodes-count.png
  docs/perf-scale-graphs/vmi/vmi-p50-Creation-to-Running.png
  docs/perf-scale-graphs/vmi/vmi-p95-Creation-to-Running.png
  docs/perf-scale-graphs/vmi/vmi-patch-nodes-count.png
  docs/perf-scale-graphs/vmi/vmi-patch-pods-count.png
  docs/perf-scale-graphs/vmi/vmi-patch-vmis-count.png
  docs/perf-scale-graphs/vmi/vmi-update-vmis-count.png
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes, sig/scale

#13905 [release-1.3] snapshot tests: use alpine instead of fedora for non-guest-agent tests
  tests/storage/snapshot.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, needs-approver-review

#14008 [release-1.4] Add RequiresSizeRoundUp decorator
  tests/decorators/decorators.go
  tests/storage/restore.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13067 [virt-api] Split subresouce.go file into dedicated files and refactoring
  pkg/libvmi/status/status.go
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/console_test.go
  pkg/virt-api/rest/dialers.go
  pkg/virt-api/rest/lifecycle.go
  pkg/virt-api/rest/memorydump.go
  pkg/virt-api/rest/memorydump_test.go
  pkg/virt-api/rest/portforward_test.go
  pkg/virt-api/rest/sev.go
  pkg/virt-api/rest/sev_test.go
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-api/rest/vnc_test.go
  pkg/virt-api/rest/volumes.go
  pkg/virt-api/rest/volumes_test.go
Labels: area/api-server, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes

#14018 tests/clone_tests: Move simple closures to funcs
  tests/clone_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13749 fix(virt-controller): prevent exec probes to be wrapped twice
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/rendercontainer_test.go
Labels: kind/bug, size/M, area/controller, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, needs-approver-review

#13816 Refactor Ghost records
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/cache/BUILD.bazel
  pkg/virt-handler/cache/cache.go
  pkg/virt-handler/cache/cache_test.go
  pkg/virt-handler/cache/domain-watcher.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Labels: size/L, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, needs-approver-review

#13924 tests,network: quarantine istio+passt tests
  tests/network/vmi_istio.go
Labels: size/S, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13948 Handler unit tests: Remove informer usage
  pkg/virt-handler/vm_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing

#9668 allow kubevirt VM work under container
  pkg/virt-handler/virt-chroot/virt-chroot.go
  tests/reporter/kubernetes.go
Labels: size/M, area/handler, release-note-none, lgtm, approved, ok-to-test, dco-signoff: yes, sig/compute

#13663 chore(docs): Remove kubevirt.io/os label dev doc
  docs/devel/guest-os-info.md
  tools/vms-generator/utils/utils.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/documentation, sig/scale, needs-approver-review

#13763 Refactor unit tests to use libvmi for resource creation in vmi-preset-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-preset-admitter_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, needs-approver-review

#14035 [release-1.4] tests/migration: manual backport of #13841
  tests/flags/flags.go
  tests/libmigration/migration.go
  tests/migration/migration.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#14041 fix(virtctl,console): Improve exit console help message
  pkg/virtctl/console/console.go
Labels: kind/enhancement, area/virtctl, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14020 [release-1.3] Collect resource requests and limits from VM instance type/preference
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/metrics.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
  pkg/virt-controller/watch/application.go
  tests/monitoring/metrics.go
  tools/doc-generator/doc-generator.go
Labels: kind/enhancement, size/L, release-note, lgtm, approved, dco-signoff: yes, area/instancetype, sig/buildsystem, sig/scale, sig/observability

#12725 one-off live migration to selected nodes
  api/openapi-spec/swagger.json
  pkg/virt-api/rest/lifecycle.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virtctl/vm/migrate.go
  pkg/virtctl/vm/migrate_test.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/decorators/decorators.go
  tests/migration/BUILD.bazel
  tests/migration/nodeselector.go
Labels: size/L, area/controller, area/api-server, area/virtctl, release-note, lifecycle/stale, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/api

#13839 chore: remove instancetypeMethods from virt-controller metrics package
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/instancetype.go
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/metrics.go
  pkg/monitoring/metrics/virt-controller/migrationstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
  tests/monitoring/metrics.go
  tools/doc-generator/doc-generator.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, kind/cleanup, area/instancetype, sig/compute, sig/scale, sig/observability

#14025 Add cssid, ssid and devno fields to Address struct for s390-ccw-virtio
  pkg/virt-launcher/virtwrap/api/schema.go
Labels: area/launcher, size/XS, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#14026 fix: replace to patchset
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-operator/resource/apply/apps_test.go
  pkg/virt-operator/resource/apply/scc_test.go
  pkg/virt-operator/resource/apply/ssc.go
Labels: size/M, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14039 cleanup(tests,operator): Keep calm and don't panic
  tests/operator/BUILD.bazel
  tests/operator/operator.go
Labels: size/XS, release-note-none, area/operator, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#14049 featuregates: Graduate InstancetypeReferencePolicy to Beta
  pkg/virt-config/featuregate/active.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute
