Repository kubevirt/kubevirt, pull requests merged in 2025-04, with the labels that each got.

#14281 VMRestore: Keep VM RunStrategy as before the restore
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
  tests/storage/restore.go
Labels: kind/bug, size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#14360 [release 1.2] pr: fix the access to multipath socket and config file
  cmd/pr-helper/entrypoint.sh
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/filewatcher/BUILD.bazel
  pkg/virt-handler/filewatcher/filewatcher.go
  pkg/virt-handler/filewatcher/filewatcher_suite_test.go
  pkg/virt-handler/filewatcher/filewatcher_test.go
  pkg/virt-handler/multipath-monitor/BUILD.bazel
  pkg/virt-handler/multipath-monitor/generated_mock_multipath_monitor.go
  pkg/virt-handler/multipath-monitor/multipath_monitor.go
  pkg/virt-handler/multipath-monitor/multipath_monitor_suite_test.go
  pkg/virt-handler/multipath-monitor/multipath_monitor_test.go
  pkg/virt-handler/vm.go
  pkg/virt-operator/resource/generate/components/daemonsets.go
  tests/storage/reservation.go
Labels: kind/bug, area/handler, sig/storage, size/XL, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem

#14349 Refactor: Use libvmi.New in tests
  pkg/network/admitter/BUILD.bazel
  pkg/network/admitter/admit_test.go
  pkg/network/admitter/binding_test.go
  pkg/network/domainspec/BUILD.bazel
  pkg/network/domainspec/domainspec_suite_test.go
  pkg/network/setup/BUILD.bazel
  pkg/network/setup/network_suite_test.go
  pkg/network/setup/network_test.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13759 vm: add unit test for virt-handler/vm functions and fix some small bugs - part 1
  pkg/libvmi/BUILD.bazel
  pkg/libvmi/vmi.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing

#14384 automation, tests: Enable e2e test randomization
  automation/test.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#13954 Tests: General improvements to make tests work with WFFC
  tests/decorators/decorators.go
  tests/storage/datavolume.go
  tests/storage/hotplug.go
  tests/storage/storage.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/failing-test

#14386 e2e, automation: consolidate e2e environment configuration in automation/test.sh
  automation/test.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#14145 handle nil pointer dereference and added a test
  pkg/virt-handler/options.go
  pkg/virt-handler/options_test.go
Labels: kind/bug, size/M, priority/critical-urgent, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#14391 [release-1.3] vmsnapshot: when checking if a VM is running, ignore runStrategy
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
  tests/storage/snapshot.go
Labels: size/M, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#14392 [release-1.2] vmsnapshot: when checking if a VM is running, ignore runStrategy
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
  tests/storage/snapshot.go
Labels: size/M, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#14405 Add supplementalPool to the description of the ioThreadsPolicy possible values
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Labels: size/S, area/api-server, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/api

#13932 refactor: replace guest agent commands
  hack/linter/lint-paths.txt
  pkg/virt-launcher/virtwrap/agent-poller/BUILD.bazel
  pkg/virt-launcher/virtwrap/agent-poller/agent_parser.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_parser_test.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller_test.go
  pkg/virt-launcher/virtwrap/cli/generated_mock_libvirt.go
  pkg/virt-launcher/virtwrap/cli/libvirt.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Labels: sig/network, area/launcher, size/XL, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, sig/buildsystem

#14333 storage: Move `Snapshot` and `VMExport` FGs to Beta in line with their associated APIGroups
  pkg/virt-config/featuregate/active.go
Labels: size/S, sig/storage, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, needs-approver-review

#14398 [release-1.5] virt handler dont expose lm internal qemu pause
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Labels: kind/bug, size/L, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#14414 Add Aussie Broadband as an end-user of KubeVirt
  ADOPTERS.md
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/documentation

#14182 Tests: Set DV size to volume snapshot restore size
  tests/storage/datavolume.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#14092 volume-migration: fix evaluation of RWX filesystem PVCs during the generation of the parameters for the migration
  pkg/libvmi/storage.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
Labels: kind/bug, size/M, area/launcher, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, needs-approver-review

#14157 Replace NewMinimalVMI with libvmi in migration-update-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-update-admitter_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, needs-approver-review

#13852 Simplify and improve multiarch unit-tests
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-api/webhooks/utils.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/virt-config.go
  pkg/virt-controller/services/template.go
Labels: size/L, area/launcher, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, needs-approver-review

#14248 Consider both deployments in product labels unit test
  pkg/virt-operator/kubevirt_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, needs-approver-review

#14434 nit: consistent `KubeVirt Authors` capitalization
  pkg/liveupdate/memory/memory_test.go
  pkg/monitoring/metrics/testing/metric_matcher.go
  tests/monitoring/metrics.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/observability

#14120 make use of context for vnc
  pkg/virtctl/vnc/vnc.go
Labels: kind/enhancement, size/M, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14390 tests, net, passt: Refactor tests and separate VM setup and test body for IP dual stack sceanrios
  tests/network/bindingplugin_passt.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#14170 refactor: Convert test VMI Creation to Use libvmi.New
  pkg/controller/BUILD.bazel
  pkg/controller/conditions_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13951 Truncate large volume names in export pod
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/storage/utils/BUILD.bazel
  pkg/storage/utils/volumes.go
  pkg/storage/utils/volumes_test.go
Labels: kind/bug, size/M, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#14415 Update vmi image to use Alpine instead of cirros to enable sig-operator tests on s390x.
  tests/operator/operator.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#14428 Bump kubevirtci, un-quarantine NFS tests and add missing NFS env var
  automation/repeated_test.sh
  automation/test.sh
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/cluster/ephemeral-provider-common.sh
  kubevirtci/cluster-up/cluster/k8s-provider-common.sh
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
  tests/migration/migration.go
  tests/migration/postcopy.go
  tests/vm_state_test.go
Labels: size/M, release-note, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#14455 e2e,migration: Remove quarantine from migration test checking for target pod failure
  tests/migration/migration.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#14422 add Swisscom as vendor to ADOPTERS.md
  ADOPTERS.md
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#13786 e2e, tests-suite: Controlled cleanup for Ordered tests
  tests/decorators/decorators.go
  tests/tests_suite_test.go
Labels: size/S, area/launcher, area/controller, area/handler, area/virtctl, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute, sig/testing, sig/buildsystem, sig/scale, sig/observability, needs-approver-review

#14446 Export tests: wait for test pod readiness before issuing commands
  tests/storage/export.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake, kind/failing-test

#14426 Fix kubevirt_vmi_migration_failed to not include VMIMs in 'unset'
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-controller/migrationstats_collector.go
  pkg/monitoring/metrics/virt-controller/migrationstats_collector_test.go
  tests/monitoring/metrics.go
  tests/monitoring/vm_monitoring.go
Labels: kind/enhancement, size/S, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#14277 Watchdog Diag288 support for s390x
  api/openapi-spec/swagger.json
  pkg/defaults/amd64.go
  pkg/defaults/s390x.go
  pkg/libvmi/vmi.go
  pkg/virt-launcher/virtwrap/converter/arch/amd64.go
  pkg/virt-launcher/virtwrap/converter/arch/arm64.go
  pkg/virt-launcher/virtwrap/converter/arch/converter.go
  pkg/virt-launcher/virtwrap/converter/arch/ppc64le.go
  pkg/virt-launcher/virtwrap/converter/arch/s390x.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/testdata/domain_arm64.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_ppc64le.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_s390x.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_x86_64.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_x86_64_root.xml.tmpl
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/defaults.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/api/core/v1/zz_generated.defaults.go
  staging/src/kubevirt.io/client-go/api/defaults_test.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/operator/operator.go
  tests/vmi_configuration_test.go
  tests/watchdog_test.go
Labels: sig/network, area/launcher, area/api-server, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#14460 net, e2e: Mark kubelet restart test as Disruptive
  tests/decorators/decorators.go
  tests/network/vmi_lifecycle.go
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#14461 fix: Release domain when define is executed
  pkg/virt-launcher/virtwrap/nichotplug.go
  pkg/virt-launcher/virtwrap/nichotplug_test.go
Labels: kind/bug, area/launcher, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14409 cleanup: Drop github.com/golang/glog dependency
  WORKSPACE
  cmd/fake-cmd-server/fake-cmd-server.go
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  cmd/virt-launcher-monitor/virt-launcher-monitor.go
  cmd/virt-launcher/virt-launcher.go
  cmd/virt-probe/virt-probe.go
  cmd/virt-tail/main.go
  go.mod
  pkg/controller/BUILD.bazel
  pkg/controller/expectations.go
  pkg/service/service.go
  pkg/util/openapi/BUILD.bazel
  pkg/util/openapi/openapi.go
  pkg/virt-operator/resource/generate/install/BUILD.bazel
  pkg/virt-operator/resource/generate/install/strategy.go
  pkg/virtctl/root.go
  staging/src/kubevirt.io/client-go/go.mod
  staging/src/kubevirt.io/client-go/go.sum
  staging/src/kubevirt.io/client-go/log/BUILD.bazel
  staging/src/kubevirt.io/client-go/log/log.go
  vendor/github.com/golang/glog/BUILD.bazel
  vendor/github.com/golang/glog/LICENSE
  vendor/github.com/golang/glog/README.md
  vendor/github.com/golang/glog/glog.go
  vendor/github.com/golang/glog/glog_file.go
  vendor/github.com/golang/glog/glog_file_linux.go
  vendor/github.com/golang/glog/glog_file_nonwindows.go
  vendor/github.com/golang/glog/glog_file_other.go
  vendor/github.com/golang/glog/glog_file_posix.go
  vendor/github.com/golang/glog/glog_file_windows.go
  vendor/github.com/golang/glog/glog_flags.go
  vendor/github.com/golang/glog/internal/logsink/BUILD.bazel
  vendor/github.com/golang/glog/internal/logsink/logsink.go
  vendor/github.com/golang/glog/internal/logsink/logsink_fatal.go
  vendor/github.com/golang/glog/internal/stackdump/BUILD.bazel
  vendor/github.com/golang/glog/internal/stackdump/stackdump.go
  vendor/modules.txt
Labels: area/launcher, area/handler, area/virtctl, size/XXL, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, kind/cleanup, sig/compute, sig/observability

#14456 virt-controller, vmi: clarify VM dvReadyCondition message
  pkg/virt-controller/watch/vmi/datavolumes.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
Labels: area/controller, size/XS, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#14268 e2e reporter: stop complaining about and marshalling diskless VMs
  tests/reporter/kubernetes.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, needs-approver-review

#14478 cleanup: Drop k8s.io/klog dependency
  go.mod
  tests/testsuite/BUILD.bazel
  tests/testsuite/namespace.go
Labels: size/XS, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes

#13911 Remove RESTErrorsHigh alerts
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/virt-api.go
  pkg/monitoring/rules/alerts/virt-controller.go
  pkg/monitoring/rules/alerts/virt-handler.go
  pkg/monitoring/rules/alerts/virt-operator.go
  tests/monitoring/component_monitoring.go
Labels: size/L, sig/network, area/launcher, area/controller, area/handler, sig/storage, area/virtctl, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, area/monitoring, area/instancetype, sig/compute, sig/buildsystem, sig/scale, sig/observability

#14437 virt-api: Improve machine type validation
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Labels: size/S, area/api-server, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#14487 schema: Fix typo
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
Labels: area/api-server, size/XS, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes

#14420 chore(tests,virtctl): Reuse VMI in ssh and scp tests
  tests/virtctl/scp.go
  tests/virtctl/ssh.go
Labels: size/L, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing

#14488 tests: CPU hotplug: give time for domxml to update
  pkg/virt-handler/cmd-client/client.go
  tests/hotplug/cpu.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing, kind/flake

#14033 Migration quota test: Wait for quota
  tests/migration/migration.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, needs-approver-review

#14400 tests, network: Reuse of VMs between the passt e2e tests
  tests/network/bindingplugin_passt.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#14443 persistent-reservation: fix permissions after virt-handler restarts
  pkg/virt-handler/device-manager/BUILD.bazel
  pkg/virt-handler/device-manager/device_controller.go
  pkg/virt-handler/device-manager/generated_mock_socket_device.go
  pkg/virt-handler/device-manager/socket_device.go
  pkg/virt-handler/device-manager/socket_device_test.go
  pkg/virt-handler/selinux/BUILD.bazel
  pkg/virt-handler/selinux/generated_mock_labels.go
  pkg/virt-handler/selinux/labels.go
  tests/storage/reservation.go
Labels: kind/bug, size/L, area/handler, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14463 e2e,compute: Remove from quarantine the test for force restart with termination grace period
  tests/compute/vm_lifecycle.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing

#14275 net, e2e: Prepare for Fedora version upgrade
  tests/network/bindingplugin_passt.go
  tests/network/hotplug_bridge.go
  tests/network/vmi_multus.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#14432 [release-1.5] volume-migration: fix several bugs: volume mode evaluation, hotplug paths and cgroup allow list generation
  pkg/virt-handler/cgroup/BUILD.bazel
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cgroup/util.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  tests/storage/migration.go
Labels: kind/bug, size/L, area/launcher, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, needs-approver-review

#14327 Handle lowercase instancetypes/preference keys in VM monitoring
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Labels: kind/enhancement, size/S, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, area/instancetype, sig/observability

#14338 defaults: Limit MaxSockets based on maximum of vcpus
  pkg/defaults/defaults.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
Labels: kind/bug, size/S, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#14484 make, lint: Limit use of OncePerOrderedCleanup
  Makefile
  hack/lint-test-cleanup-label.sh
Labels: size/M, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, kind/cleanup, sig/buildsystem

#14507 cleanup(libmonitoring): Get Prometheus URL with client-go
  tests/libmonitoring/BUILD.bazel
  tests/libmonitoring/prometheus.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#14417 e2e: Mv exec probe from SIG network to SIG compute
  tests/compute/BUILD.bazel
  tests/compute/guest_agent.go
  tests/network/probes.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing

#14509 Replace use of [Conformance] with the Conformance decorator
  docs/conformance.md
  tests/README.md
  tests/conformance/conformance.go
  tests/container_disk_test.go
  tests/network/networkpolicy.go
  tests/network/primary_pod_network.go
  tests/network/services.go
  tests/network/vmi_networking.go
Labels: size/S, sig/network, release-note, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#14503 e2e,prometheus: Quarantine flaky prometheus endpoint tests
  tests/infrastructure/prometheus.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, sig/testing, kind/flake, sig/observability

#14523 [release-0.58] Fix build functests dependency
  WORKSPACE
Labels: size/XS, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#14204 Fix getSizeFromDataVolumeTemplates
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
Labels: kind/bug, sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/observability

#14518 virt-handler/device-manager: Do not expose global handler variable
  pkg/virt-handler/device-manager/common.go
  pkg/virt-handler/device-manager/device_controller.go
  pkg/virt-handler/device-manager/device_controller_test.go
  pkg/virt-handler/device-manager/mediated_device.go
  pkg/virt-handler/device-manager/mediated_device_test.go
  pkg/virt-handler/device-manager/mediated_devices_types.go
  pkg/virt-handler/device-manager/mediated_devices_types_test.go
  pkg/virt-handler/device-manager/pci_device.go
  pkg/virt-handler/device-manager/pci_device_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, sig/testing, kind/flake

#14435 refactor: use libvirt api to set user password
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials.go
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
  pkg/virt-launcher/virtwrap/cli/generated_mock_libvirt.go
  pkg/virt-launcher/virtwrap/cli/libvirt.go
Labels: size/M, area/launcher, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14331 container-disk.go:Remove redundant GetDiskTargetPartFromLauncherView function
  pkg/container-disk/container-disk.go
  pkg/container-disk/container-disk_test.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#14537 [release-1.5] Handle lowercase instancetypes/preference keys in VM monitoring
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Labels: kind/enhancement, size/S, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#14477 fix: network: sort the map keys to make Interfaces deterministic
  pkg/network/downwardapi/networkinfo.go
  pkg/network/downwardapi/networkinfo_test.go
Labels: kind/enhancement, size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes

#14540 tests: CPU hotplug: flake: let GetRunningVMIDomainSpec retry on error
  tests/hotplug/cpu.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#14546 [release-1.4] Handle lowercase instancetypes/preference keys in VM monitoring
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Labels: kind/enhancement, size/S, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, area/instancetype, sig/observability

#14543 tests/migration: fix unschedulable migration check flake
  tests/migration/migration.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#13297 hotplug volume: Boot from hotpluggable disk
  pkg/libvmi/storage.go
  pkg/virt-controller/watch/vmi/datavolumes.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  tests/libstorage/datavolume.go
  tests/storage/hotplug.go
Labels: kind/enhancement, size/L, area/controller, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/compute, needs-approver-review

#14449 feat(virt-launcher): Allow to disable the 64-Bit PCI hole
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/arch/amd64.go
  pkg/virt-launcher/virtwrap/converter/arch/arm64.go
  pkg/virt-launcher/virtwrap/converter/arch/converter.go
  pkg/virt-launcher/virtwrap/converter/arch/ppc64le.go
  pkg/virt-launcher/virtwrap/converter/arch/s390x.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/compute/BUILD.bazel
  tests/compute/pcihole64.go
Labels: size/L, area/launcher, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#14555 cleanup(tests): Use clientcmd.GetK8sCmdClient where appropriate
  tests/reporter/kubernetes.go
  tests/virtctl/imageupload.go
Labels: size/S, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, sig/testing

#14541 Fix permission flake in export tests
  tests/storage/export.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#14560 e2e,network: Quarantine flaky single SRIOV network migration test
  tests/network/sriov.go
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#14547 virt-controller: Use lastSeenVM consistently within addRestartRequiredIfNeeded
  pkg/virt-controller/watch/vm/vm.go
Labels: size/S, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14558 Set ARCHITECTURES externally
  hack/builder/common.sh
Labels: size/XS, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#14562 bugFix: Reject named CPU models on Arm64
  pkg/virt-api/webhooks/arm64.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Labels: kind/bug, size/S, area/api-server, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14481 [release-1.4] VMRestore: Keep VM RunStrategy as before the restore
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
  tests/storage/restore.go
Labels: size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#14526 [release-1.4] VMSnapshot: add QuiesceFailed indication to snapshot if freeze failed
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types.go
  tests/storage/snapshot.go
Labels: size/L, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#14203 Trigger VMCannotBeEvicted only for running VMIs
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/vms.go
  tests/monitoring/vm_monitoring.go
Labels: size/S, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, sig/buildsystem, sig/observability

#14533 docs: adjust description of the fsFreezeStatus
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Labels: size/S, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/documentation

#14553 net, downwardapi: Refactor net-info annotation tests
  pkg/network/downwardapi/networkinfo_test.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#14557 fix(preference): Ensure memory requirements are respected when no memory is specified
  pkg/instancetype/preference/requirements/BUILD.bazel
  pkg/instancetype/preference/requirements/memory.go
  pkg/instancetype/preference/requirements/memory_test.go
  tests/instancetype/instancetype.go
Labels: kind/bug, size/M, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#14559 e2e,compute: Quarantine very flaky image pull error test
  tests/vm_test.go
Labels: priority/critical-urgent, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing, kind/flake

#14496 [release-1.5] Bump kubevirtci and add missing NFS env var
  automation/repeated_test.sh
  automation/test.sh
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/cluster/ephemeral-provider-common.sh
  kubevirtci/cluster-up/cluster/k8s-1.33/provider.sh
  kubevirtci/cluster-up/cluster/k8s-provider-common.sh
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/kubectl.sh
  kubevirtci/cluster-up/version.txt
Labels: size/M, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#14571 [release-1.5] Fix repeated pod patching when VM has multiple SR-IOV NICs
  pkg/network/downwardapi/networkinfo.go
  pkg/network/downwardapi/networkinfo_test.go
Labels: kind/bug, size/M, sig/network, area/controller, release-note, lgtm, approved, dco-signoff: yes

#14178 net, netstat: Process IPv4 & IPv6 addresses independently
  pkg/network/setup/BUILD.bazel
  pkg/network/setup/netstat.go
  pkg/network/setup/netstat_test.go
Labels: kind/bug, size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes

#14582 chore(api): Fix typo within tpm.Enabled description
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Labels: size/S, area/api-server, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/api

#14236 fixed lint issue in pkg/virtctl/adm
  hack/linter/lint-paths.txt
  pkg/virtctl/adm/adm.go
  pkg/virtctl/adm/logverbosity/logverbosity.go
  pkg/virtctl/adm/logverbosity/logverbosity_test.go
Labels: size/S, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem

#14569 Fix cpu counting for io threads count
  pkg/libvmi/cpu.go
  pkg/libvmi/storage.go
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/renderresources_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Labels: kind/bug, size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14506 cleanup(tests,storage): Use go client and drop redundant tests
  tests/storage/BUILD.bazel
  tests/storage/datavolume.go
Labels: size/L, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#14520 node-labeller: enable node-labeller for ARM64 clusters
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/node-labeller/amd64.go
  pkg/virt-handler/node-labeller/arch_labeller.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
  pkg/virt-handler/node-labeller/s390x.go
Labels: kind/enhancement, size/L, area/handler, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#14591 restore_test.go: Remove Invalid Unit Test for VM Name Patch
  pkg/storage/snapshot/restore_test.go
  staging/src/kubevirt.io/api/snapshot/v1alpha1/types.go
  staging/src/kubevirt.io/api/snapshot/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Labels: size/M, sig/storage, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/testing

#14542 Fix v1.Disk cache mode values in the description.
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Labels: size/M, area/api-server, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, sig/api

#14592 cleanup: virt-handler to handle unhandled errors
  pkg/virt-handler/heartbeat/heartbeat.go
  pkg/virt-handler/vm.go
Labels: size/S, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#14604 [release-1.5] node-labeller: enable node-labeller for ARM64 clusters
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/node-labeller/BUILD.bazel
  pkg/virt-handler/node-labeller/amd64.go
  pkg/virt-handler/node-labeller/arch_labeller.go
  pkg/virt-handler/node-labeller/arch_labeller_test.go
  pkg/virt-handler/node-labeller/arm64.go
  pkg/virt-handler/node-labeller/cpu_plugin.go
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
  pkg/virt-handler/node-labeller/s390x.go
Labels: kind/enhancement, size/L, area/handler, release-note, lgtm, approved, dco-signoff: yes, sig/compute
