Repository kubevirt/kubevirt, pull requests merged in 2025-05, with the labels that each got.

#14612 [release-1.4] Manual run of uploader to add missing mirror URLs
  WORKSPACE
Labels: size/L, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#14552 [release-1.4] migration controller: use a priority queue to unstarve active migrations
  go.mod
  go.sum
  pkg/testutils/BUILD.bazel
  pkg/testutils/mock_priorityqueue.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-controller/watch/migration/priorityqueue/BUILD.bazel
  pkg/virt-controller/watch/migration/priorityqueue/metrics.go
  pkg/virt-controller/watch/migration/priorityqueue/priorityqueue.go
  pkg/virt-controller/watch/migration/priorityqueue/workqueue.go
  vendor/github.com/google/btree/BUILD.bazel
  vendor/github.com/google/btree/LICENSE
  vendor/github.com/google/btree/README.md
  vendor/github.com/google/btree/btree.go
  vendor/github.com/google/btree/btree_generic.go
  vendor/modules.txt
Labels: kind/enhancement, area/controller, release-note, size/XXL, lgtm, approved, dco-signoff: yes, sig/compute

#14202 test: verify volume expansion after a volume migration
  tests/storage/migration.go
Labels: size/L, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#14603 Tools: fix unit-test and ensure execution
  hack/bazel-test.sh
  tools/util/marshaller_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem, sig/scale

#14381 Replace github.com/go-kit/kit/log with github.com/go-kit/log
  go.mod
  go.sum
  pkg/virt-launcher/virtwrap/util/BUILD.bazel
  pkg/virt-launcher/virtwrap/util/libvirt_helper_test.go
  staging/src/kubevirt.io/client-go/go.mod
  staging/src/kubevirt.io/client-go/go.sum
  staging/src/kubevirt.io/client-go/log/BUILD.bazel
  staging/src/kubevirt.io/client-go/log/log.go
  vendor/github.com/go-kit/kit/LICENSE
  vendor/github.com/go-kit/kit/log/BUILD.bazel
  vendor/github.com/go-kit/kit/log/README.md
  vendor/github.com/go-kit/kit/log/doc.go
  vendor/github.com/go-kit/kit/log/json_logger.go
  vendor/github.com/go-kit/kit/log/log.go
  vendor/github.com/go-kit/kit/log/logfmt_logger.go
  vendor/github.com/go-kit/kit/log/nop_logger.go
  vendor/github.com/go-kit/kit/log/stdlib.go
  vendor/github.com/go-kit/kit/log/sync.go
  vendor/github.com/go-kit/kit/log/value.go
  vendor/modules.txt
Labels: sig/network, area/launcher, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14491 virt-handler: emit VMI event on non-fatal hotplug failure
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/vm.go
Labels: kind/enhancement, size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14605 tests/virtctl: use a single VM for three tests
  tests/virtctl/vnc.go
Labels: area/virtctl, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, sig/testing

#14439 virt-api: Make machine type unit-test for unknown arch independent from host
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, needs-approver-review

#14639 tests: drop flags.KubeVirtOcPath
  hack/ci/entrypoint.sh
  hack/functests.sh
  hack/kwok-perftests.sh
  hack/perftests.sh
  hack/realtime-perftests.sh
  tests/clientcmd/command.go
  tests/flags/flags.go
  tests/kubectl_test.go
  tests/libmonitoring/prometheus.go
  tests/libnode/node.go
  tests/network/port_forward.go
  tests/operator/operator.go
  tests/replicaset_test.go
  tests/reporter/kubernetes.go
  tests/virtctl/imageupload.go
Labels: size/L, sig/network, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, sig/testing, sig/buildsystem, sig/observability

#14638 [release-1.2] Improve the TPM API by allowing users to explicitly disable the device from the VM/VMI
  api/openapi-spec/swagger.json
  pkg/instancetype/instancetype_test.go
  pkg/storage/backend-storage/BUILD.bazel
  pkg/storage/backend-storage/backend-storage.go
  pkg/tpm/BUILD.bazel
  pkg/tpm/tpm.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Labels: size/L, area/api-server, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/api, sig/buildsystem

#14643 Allow sig storage to approve storage related code
  pkg/virt-controller/watch/vmi/OWNERS
Labels: size/S, area/controller, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14539 cmd, sidecars, passt: Enable vhost-user
  cmd/sidecars/network-passt-binding/domain/configurator.go
  cmd/sidecars/network-passt-binding/domain/configurator_test.go
  tests/network/vmi_istio.go
Labels: size/L, sig/network, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#14554 tests: Convert remaining kubectl tests to unit tests and drop kubectl_test.go
  pkg/virt-operator/resource/generate/components/BUILD.bazel
  pkg/virt-operator/resource/generate/components/crds.go
  pkg/virt-operator/resource/generate/components/crds_test.go
  tests/BUILD.bazel
  tests/clientcmd/BUILD.bazel
  tests/clientcmd/command.go
  tests/kubectl_test.go
  tests/replicaset_test.go
  vendor/k8s.io/client-go/third_party/forked/golang/LICENSE
  vendor/k8s.io/client-go/third_party/forked/golang/PATENTS
  vendor/k8s.io/client-go/third_party/forked/golang/template/BUILD.bazel
  vendor/k8s.io/client-go/third_party/forked/golang/template/exec.go
  vendor/k8s.io/client-go/third_party/forked/golang/template/funcs.go
  vendor/k8s.io/client-go/util/jsonpath/BUILD.bazel
  vendor/k8s.io/client-go/util/jsonpath/doc.go
  vendor/k8s.io/client-go/util/jsonpath/jsonpath.go
  vendor/k8s.io/client-go/util/jsonpath/node.go
  vendor/k8s.io/client-go/util/jsonpath/parser.go
  vendor/modules.txt
Labels: size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#14650 chore: remove hack/ci
  hack/ci/Dockerfile.ci
  hack/ci/entrypoint.sh
  hack/ci/resources/docker-registry.yaml
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem, sig/ci

#14267 Use ImageVolume instead of the container disk workaround
  cmd/virt-launcher/virt-launcher.go
  pkg/libvmi/firmware.go
  pkg/util/util.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/rendervolumes_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-handler/container-disk/BUILD.bazel
  pkg/virt-handler/container-disk/mount.go
  pkg/virt-handler/container-disk/mount_test.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
  tests/BUILD.bazel
  tests/container_disk_test.go
  tools/analyzers/banncheck/banncheck.json
Labels: sig/network, area/launcher, area/controller, sig/storage, area/virtctl, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/buildsystem, sig/scale, sig/observability

#14602 vm ctrl: Allow live changes to network fields
  hack/linter/lint-paths.txt
  pkg/network/vmliveupdate/BUILD.bazel
  pkg/network/vmliveupdate/restart.go
  pkg/network/vmliveupdate/restart_test.go
  pkg/network/vmliveupdate/vmliveupdate_suite_test.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  tests/network/link_state.go
Labels: size/L, sig/network, area/controller, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem

#14440 add cloudcasa by catalogic to adopters
  ADOPTERS.md
Labels: release-note, size/XS, lgtm, approved, dco-signoff: yes, sig/documentation

#14637 Backend storage: Label backend PVC to support CDI WebhookPvcRendering
  pkg/storage/backend-storage/backend-storage.go
  pkg/storage/backend-storage/backend-storage_test.go
Labels: size/M, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#14646 tests/vmi_configurations: fix SMBIOS check quoting in test_id:2751
  tests/vmi_configuration_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#14654 automation: Allow test-subset to run
  automation/test.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#14656 [v1.6.0-alpha.0]: Fix test expected error in HCO smoke test
  tests/vmi_lifecycle_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/failing-test

#14662 Fix misspellings in tests and nested lib* folders under tests
  tests/README.md
  tests/clone_test.go
  tests/config_test.go
  tests/libmigration/migration.go
  tests/libnet/cloudinit/cloudinit.go
  tests/libnet/ping.go
  tests/libnode/node.go
  tests/mdev_configuration_allocation_test.go
  tests/replicaset_test.go
  tests/sysprep_test.go
  tests/tests_suite_test.go
  tests/vm_state_test.go
  tests/vm_test.go
  tests/vmi_configuration_test.go
  tests/vmi_lifecycle_test.go
  tests/vmi_vsock_test.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#14613 VMI: Sort network interfaces to avoid patch flood
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Labels: kind/bug, size/M, sig/network, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14617 feat(clones): support arbitrary patches on vmclones
  api/openapi-spec/swagger.json
  pkg/apimachinery/patch/patch.go
  pkg/apimachinery/patch/patch_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter_test.go
  pkg/virt-controller/watch/clone/clone_test.go
  pkg/virt-controller/watch/clone/vm-target.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/clone/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/api/clone/v1beta1/types.go
  staging/src/kubevirt.io/api/clone/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Labels: kind/enhancement, size/L, area/controller, area/api-server, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/api

#14657 tests: fix test for toggling PR feature gate
  tests/storage/BUILD.bazel
  tests/storage/reservation.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, kind/failing-test

#13806 Add dirty rate calculation via a `GetDomainDirtyRateStats()` gRPC method and a Promtehtus metric
  docs/observability/metrics.md
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/handler-launcher-com/cmd/v1/generated_mock_cmd.go
  pkg/monitoring/metrics/virt-handler/domainstats/BUILD.bazel
  pkg/monitoring/metrics/virt-handler/domainstats/collector.go
  pkg/monitoring/metrics/virt-handler/domainstats/collector_test.go
  pkg/monitoring/metrics/virt-handler/domainstats/dirty_rate_collector.go
  pkg/monitoring/metrics/virt-handler/domainstats/dirty_rate_metrics.go
  pkg/monitoring/metrics/virt-handler/domainstats/dirty_rate_metrics_test.go
  pkg/monitoring/metrics/virt-handler/domainstats/dirty_rate_scrapper.go
  pkg/monitoring/metrics/virt-handler/domainstats/scrapper.go
  pkg/monitoring/metrics/virt-handler/metrics.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/generated_mock_client.go
  pkg/virt-launcher/virtwrap/cli/generated_mock_libvirt.go
  pkg/virt-launcher/virtwrap/cli/libvirt.go
  pkg/virt-launcher/virtwrap/cmd-server/server.go
  pkg/virt-launcher/virtwrap/generated_mock_manager.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/stats/types.go
  pkg/virt-launcher/virtwrap/statsconv/converter.go
  pkg/virt-launcher/virtwrap/statsconv/converter_test.go
  pkg/virt-launcher/virtwrap/statsconv/util/domstats_utils.go
  tests/monitoring/BUILD.bazel
  tests/monitoring/metrics.go
  tests/monitoring/vm_monitoring.go
  tools/cache/time-defined-cache.go
  tools/cache/time-defined-cache_test.go
Labels: kind/enhancement, area/launcher, release-note, size/XXL, lgtm, approved, dco-signoff: yes, sig/compute, sig/scale, sig/observability

#14599 Watchdog validation based on watchdog device model for x86 and s390x architectures
  pkg/virt-api/webhooks/BUILD.bazel
  pkg/virt-api/webhooks/amd64.go
  pkg/virt-api/webhooks/s390x.go
  pkg/virt-api/webhooks/utils.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Labels: sig/network, area/controller, area/virtctl, size/XL, release-note, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem, sig/observability

#14070 [release-1.4] Provide graceful deletion for no ACPI guests
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Labels: size/S, area/launcher, area/handler, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#14664 build: update to build KubeVirt with go v1.23.9
  WORKSPACE
  hack/builder/Dockerfile
  hack/dockerized
Labels: release-note, size/XS, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#14640 Bug fix: Don't default hotplug on ARM
  pkg/defaults/defaults.go
Labels: kind/bug, priority/critical-urgent, release-note, size/XS, lgtm, approved, dco-signoff: yes, sig/compute

#14678 Add TerminationMessagePolicy to all containers
  manifests/generated/operator-csv.yaml.in
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/rendercontainer_test.go
  pkg/virt-operator/resource/generate/components/daemonsets.go
  pkg/virt-operator/resource/generate/components/deployments.go
Labels: size/M, area/controller, release-note-none, lgtm, approved, dco-signoff: yes

#14687 [release-1.5] VMI: Sort network interfaces to avoid patch flood
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Labels: size/M, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14620 tests: collect stderr from clientcmd.RunCommand()
  tests/libnode/node.go
  tests/operator/operator.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#14691 storage migration tests: fix inverse assertion
  tests/storage/migration.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, kind/flake, kind/failing-test

#14636 [release-1.5] Fix cpu counting for io threads count
  pkg/libvmi/cpu.go
  pkg/libvmi/storage.go
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/renderresources_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Labels: size/L, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14670 e2e, net, multus: Cleanup redundant tests
  tests/network/vmi_multus.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#14711 Remove domain XML validation from memory hotplug functests
  tests/hotplug/memory.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#13704 Convert more skips
  automation/test.sh
  tests/assert/BUILD.bazel
  tests/assert/xfail.go
  tests/decorators/decorators.go
  tests/infrastructure/node-labeller.go
  tests/infrastructure/taints-and-tolerations.go
  tests/infrastructure/tls-configuration.go
  tests/libstorage/storageclass.go
  tests/migration/migration.go
  tests/pool_test.go
  tests/swap_test.go
  tests/usb/usb.go
  tests/vm_test.go
  tests/vmi_ignition_test.go
  tests/vmi_vsock_test.go
Labels: size/L, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/buildsystem

#14682 instancetype: Only return revision of currently referenced object
  pkg/instancetype/find/revision.go
  pkg/instancetype/find/spec_test.go
  pkg/instancetype/preference/find/BUILD.bazel
  pkg/instancetype/preference/find/revision.go
  pkg/instancetype/preference/find/spec_test.go
  tests/hotplug/BUILD.bazel
  tests/hotplug/instancetype.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#14609 Update rpms
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Labels: size/XXL, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#14714 [release-1.5]Watchdog validation based on watchdog device model for x86 and s390x architectures.
  pkg/virt-api/webhooks/BUILD.bazel
  pkg/virt-api/webhooks/amd64.go
  pkg/virt-api/webhooks/s390x.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Labels: area/api-server, size/XL, release-note, lgtm, approved, dco-signoff: yes

#14668 [release-1.3] vm ctrl: Allow live changes to network fields
  Makefile
  pkg/network/vmliveupdate/BUILD.bazel
  pkg/network/vmliveupdate/restart.go
  pkg/network/vmliveupdate/restart_test.go
  pkg/network/vmliveupdate/vmliveupdate_suite_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/vm.go
Labels: kind/bug, size/L, sig/network, area/controller, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem

#14663 [release-1.5] vm ctrl: Allow live changes to network fields
  hack/lint-paths.txt
  pkg/network/vmliveupdate/BUILD.bazel
  pkg/network/vmliveupdate/restart.go
  pkg/network/vmliveupdate/restart_test.go
  pkg/network/vmliveupdate/vmliveupdate_suite_test.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  tests/network/link_state.go
Labels: size/L, sig/network, area/controller, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem

#14665 Memory hotplug: test actual guest memory
  tests/hotplug/memory.go
Labels: kind/enhancement, size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#14725 OWNERS: Move acardace to the emeritus approvers
  OWNERS_ALIASES
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#14130 bug-fix: persist VM firmware UUID Phase 1
  pkg/libvmi/firmware.go
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/firmware.go
  pkg/virt-controller/watch/vm/firmware_test.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  tests/clone_test.go
  tests/operator/operator.go
Labels: kind/bug, size/L, area/controller, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#14614 Watch VM resource for status change instead of polling in tests/vm_test.go
  tests/vm_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/failing-test

#14619 feat(virtctl): add support for user provided vnc type and path of vnc client
  pkg/virtctl/vnc/vnc.go
Labels: kind/enhancement, size/L, sig/storage, area/virtctl, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#14726 [release-1.5] instancetype: Only return revision of currently referenced object
  pkg/instancetype/find/revision.go
  pkg/instancetype/find/spec_test.go
  pkg/instancetype/preference/find/BUILD.bazel
  pkg/instancetype/preference/find/revision.go
  pkg/instancetype/preference/find/spec_test.go
  tests/hotplug/BUILD.bazel
  tests/hotplug/instancetype.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#14666 [release-1.4] vm ctrl: Allow live changes to network fields
  hack/lint-paths.txt
  pkg/network/vmliveupdate/BUILD.bazel
  pkg/network/vmliveupdate/restart.go
  pkg/network/vmliveupdate/restart_test.go
  pkg/network/vmliveupdate/vmliveupdate_suite_test.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
Labels: kind/bug, size/L, sig/network, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/buildsystem

#14690 [release-1.4] VMI: Sort network interfaces to avoid patch flood
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Labels: size/M, area/controller, release-note-none, lgtm, approved, dco-signoff: yes

#14704 [release-1.4] Replace use of [Conformance] with the Conformance decorator
  docs/conformance.md
  tests/README.md
  tests/conformance/conformance.go
  tests/container_disk_test.go
  tests/network/networkpolicy.go
  tests/network/primary_pod_network.go
  tests/network/services.go
  tests/network/vmi_networking.go
Labels: size/S, sig/network, release-note, lgtm, approved, dco-signoff: yes

#14717 virt_control_plane_test.go: fix typo in the test name
  tests/virt_control_plane_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes

#14739 virt-exportserver: replace gzip with pgzip
  go.mod
  go.sum
  pkg/storage/export/virt-exportserver/BUILD.bazel
  pkg/storage/export/virt-exportserver/exportserver.go
  vendor/github.com/klauspost/compress/LICENSE
  vendor/github.com/klauspost/compress/flate/BUILD.bazel
  vendor/github.com/klauspost/compress/flate/deflate.go
  vendor/github.com/klauspost/compress/flate/dict_decoder.go
  vendor/github.com/klauspost/compress/flate/fast_encoder.go
  vendor/github.com/klauspost/compress/flate/huffman_bit_writer.go
  vendor/github.com/klauspost/compress/flate/huffman_code.go
  vendor/github.com/klauspost/compress/flate/huffman_sortByFreq.go
  vendor/github.com/klauspost/compress/flate/huffman_sortByLiteral.go
  vendor/github.com/klauspost/compress/flate/inflate.go
  vendor/github.com/klauspost/compress/flate/inflate_gen.go
  vendor/github.com/klauspost/compress/flate/level1.go
  vendor/github.com/klauspost/compress/flate/level2.go
  vendor/github.com/klauspost/compress/flate/level3.go
  vendor/github.com/klauspost/compress/flate/level4.go
  vendor/github.com/klauspost/compress/flate/level5.go
  vendor/github.com/klauspost/compress/flate/level6.go
  vendor/github.com/klauspost/compress/flate/matchlen_amd64.go
  vendor/github.com/klauspost/compress/flate/matchlen_amd64.s
  vendor/github.com/klauspost/compress/flate/matchlen_generic.go
  vendor/github.com/klauspost/compress/flate/regmask_amd64.go
  vendor/github.com/klauspost/compress/flate/regmask_other.go
  vendor/github.com/klauspost/compress/flate/stateless.go
  vendor/github.com/klauspost/compress/flate/token.go
  vendor/github.com/klauspost/pgzip/.gitignore
  vendor/github.com/klauspost/pgzip/.travis.yml
  vendor/github.com/klauspost/pgzip/BUILD.bazel
  vendor/github.com/klauspost/pgzip/GO_LICENSE
  vendor/github.com/klauspost/pgzip/LICENSE
  vendor/github.com/klauspost/pgzip/README.md
  vendor/github.com/klauspost/pgzip/gunzip.go
  vendor/github.com/klauspost/pgzip/gzip.go
  vendor/modules.txt
Labels: sig/storage, area/virtctl, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14633 [release-1.3] CVE-2025-22869: Update replace directive to point to the patched openshift/golang-crypto version
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_x86.go
  vendor/golang.org/x/sys/unix/BUILD.bazel
  vendor/golang.org/x/sys/unix/auxv.go
  vendor/golang.org/x/sys/unix/auxv_unsupported.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsyscall_solaris_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_386.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_loong64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_s390x.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/dll_windows.go
  vendor/modules.txt
Labels: size/XL, priority/critical-urgent, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem, needs-approver-review

#14684 Wait for alerts to stop firing after restore scales in e2e tests
  tests/monitoring/vm_monitoring.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability, kind/failing-test

#14299 [release-1.4] chore(deps): update module github.com/opencontainers/runc to v1.1.14 [security]
  go.mod
  go.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/cpu.go
  vendor/github.com/opencontainers/runc/libcontainer/system/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/system/linux.go
  vendor/github.com/opencontainers/runc/libcontainer/system/proc.go
  vendor/github.com/opencontainers/runc/libcontainer/system/rlimit_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/system/rlimit_linux_go122.go
  vendor/github.com/opencontainers/runc/libcontainer/system/rlimit_stub.go
  vendor/github.com/opencontainers/runc/libcontainer/system/syscall_linux_32.go
  vendor/github.com/opencontainers/runc/libcontainer/system/syscall_linux_64.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Labels: sig/security, size/XL, release-note, lgtm, approved, kind/build-change, dco-signoff: yes, needs-approver-review

#14701 tests: verify handling of multipathd.socket
  tests/storage/reservation.go
Labels: size/S, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#14616 Add migration source/target state fields
  api/openapi-spec/swagger.json
  pkg/util/webhooks/webhooks.go
  pkg/virt-api/api.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/validating-webhook.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Labels: area/api-server, release-note, size/XXL, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, sig/api

#14712 [release-1.3] Replace use of [Conformance] with the Conformance decorator
  docs/conformance.md
  tests/README.md
  tests/conformance/conformance.go
  tests/container_disk_test.go
  tests/decorators/decorators.go
  tests/network/networkpolicy.go
  tests/network/primary_pod_network.go
  tests/network/services.go
  tests/network/vmi_networking.go
Labels: size/S, sig/network, release-note, lgtm, approved, dco-signoff: yes

#14731 Fix misspellings in tests/storage
  tests/storage/datavolume.go
  tests/storage/export.go
  tests/storage/hotplug.go
  tests/storage/migration.go
  tests/storage/reservation.go
  tests/storage/restore.go
  tests/storage/snapshot.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#14648 Update examples to include CPU and guest memory fields
  examples/vm-alpine-datavolume.yaml
  examples/vm-alpine-multipvc.yaml
  examples/vm-cirros-clarge-virtio.yaml
  examples/vm-cirros-clarge-windows.yaml
  examples/vm-cirros-clarge.yaml
  examples/vm-cirros-cluster-csmall.yaml
  examples/vm-cirros-csmall.yaml
  examples/vm-cirros-sata.yaml
  examples/vm-cirros-with-sidecar-hook-configmap.yaml
  examples/vm-cirros.yaml
  examples/vm-pool-cirros.yaml
  examples/vm-priorityclass.yaml
  examples/vm-windows-clarge-windows.yaml
  examples/vmi-alpine-efi.yaml
  examples/vmi-arm.yaml
  examples/vmi-ephemeral.yaml
  examples/vmi-fedora-isolated.yaml
  examples/vmi-fedora.yaml
  examples/vmi-gpu.yaml
  examples/vmi-host-disk.yaml
  examples/vmi-kernel-boot.yaml
  examples/vmi-masquerade.yaml
  examples/vmi-migratable.yaml
  examples/vmi-multus-multiple-net.yaml
  examples/vmi-multus-ptp.yaml
  examples/vmi-nocloud.yaml
  examples/vmi-preset-small.yaml
  examples/vmi-pvc.yaml
  examples/vmi-replicaset-cirros.yaml
  examples/vmi-sata.yaml
  examples/vmi-secureboot.yaml
  examples/vmi-sriov.yaml
  examples/vmi-usb.yaml
  examples/vmi-windows.yaml
  examples/vmi-with-sidecar-hook-configmap.yaml
  examples/vmi-with-sidecar-hook.yaml
  tools/vms-generator/utils/utils.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, sig/scale

#14728 Allow CPU hotplug with net multi-queue
  pkg/libvmi/network.go
  pkg/network/setup/netpod/BUILD.bazel
  pkg/network/setup/netpod/netpod.go
  pkg/network/setup/netpod/netpod_test.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  tests/hotplug/cpu.go
Labels: size/L, sig/network, area/controller, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#14688 Fix misspellings in tests network, performance, instancetype, reporte…
  tests/instancetype/instancetype.go
  tests/network/bindingplugin_passt.go
  tests/network/networkpolicy.go
  tests/performance/density-kwok.go
  tests/performance/density.go
  tests/performance/framework.go
  tests/reporter/kubernetes.go
  tests/testsuite/serviceaccount.go
Labels: size/S, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute, sig/scale

#14751 Fix misspellings in tests folders migration, operator
  tests/migration/host_model.go
  tests/migration/migration.go
  tests/operator/operator.go
Labels: size/M, release-note-none, area/operator, lgtm, approved, dco-signoff: yes, kind/cleanup

#14762 [release-1.5] Allow CPU hotplug with net multi-queue
  pkg/libvmi/network.go
  pkg/network/setup/netpod/BUILD.bazel
  pkg/network/setup/netpod/netpod.go
  pkg/network/setup/netpod/netpod_test.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  tests/hotplug/cpu.go
Labels: size/L, sig/network, area/controller, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#14419 net, ctrl, vm: Consolidate hotplug / hotunplug logic
  pkg/network/controllers/BUILD.bazel
  pkg/network/controllers/hotplug.go
  pkg/network/controllers/hotplug_test.go
  pkg/network/controllers/vm.go
  pkg/network/controllers/vm_test.go
Labels: size/L, sig/network, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#14761 e2e, SR-IOV: Rm env var assertions on virt-launcher
  tests/network/sriov.go
Labels: size/M, sig/network, area/launcher, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#14732 Add VEP approval label GitHub action workflow
  .github/workflows/label_approved_veps.yaml
  automation/label-approved-veps.py
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem

#14770 instancetype: Clean up license headers
  hack/license-header-check.sh
  pkg/instancetype/annotations/annotations_suite_test.go
  pkg/instancetype/annotations/annotations_test.go
  pkg/instancetype/apply/annotations_test.go
  pkg/instancetype/apply/apply_suite_test.go
  pkg/instancetype/apply/cpu_test.go
  pkg/instancetype/apply/gpu_test.go
  pkg/instancetype/apply/hostdevices_test.go
  pkg/instancetype/apply/iothreadpolicy_test.go
  pkg/instancetype/apply/launchsecurity_test.go
  pkg/instancetype/apply/memory_test.go
  pkg/instancetype/apply/nodeselector_test.go
  pkg/instancetype/apply/scheduler_test.go
  pkg/instancetype/controller/vm/controller_test.go
  pkg/instancetype/controller/vm/mock.go
  pkg/instancetype/controller/vm/vm_suite_test.go
  pkg/instancetype/find/find_suite_test.go
  pkg/instancetype/find/spec_test.go
  pkg/instancetype/infer/handler_test.go
  pkg/instancetype/infer/infer_suite_test.go
  pkg/instancetype/preference/annotations/annotations_suite_test.go
  pkg/instancetype/preference/annotations/annotations_test.go
  pkg/instancetype/preference/apply/apply_suite_test.go
  pkg/instancetype/preference/apply/clock_test.go
  pkg/instancetype/preference/apply/device_test.go
  pkg/instancetype/preference/apply/features_test.go
  pkg/instancetype/preference/apply/firmware_test.go
  pkg/instancetype/preference/apply/machine_test.go
  pkg/instancetype/preference/apply/subdomain_test.go
  pkg/instancetype/preference/apply/termination_test.go
  pkg/instancetype/preference/find/find_suite_test.go
  pkg/instancetype/preference/find/spec_test.go
  pkg/instancetype/preference/requirements/cpu_test.go
  pkg/instancetype/preference/requirements/memory_test.go
  pkg/instancetype/preference/requirements/requirements_suite_test.go
  pkg/instancetype/preference/webhooks/admitter.go
  pkg/instancetype/preference/webhooks/admitter_test.go
  pkg/instancetype/preference/webhooks/webhooks_suite_test.go
  pkg/instancetype/revision/revision_suite_test.go
  pkg/instancetype/revision/store_test.go
  pkg/instancetype/upgrade/upgrade_suite_test.go
  pkg/instancetype/webhooks/admitter.go
  pkg/instancetype/webhooks/admitter_test.go
  pkg/instancetype/webhooks/vm/mock.go
  pkg/instancetype/webhooks/vm/vm_suite_test.go
  pkg/instancetype/webhooks/webhooks_suite_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, area/instancetype, sig/compute, sig/buildsystem

#14733 VMRestore+VM admission webhook: fix check of update VM during restore
  pkg/storage/admitters/vm-storage-status.go
  tests/storage/restore.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#14783 Let the label_approved_veps github action to use a PAT
  .github/workflows/label_approved_veps.yaml
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#14737 virt-Freeze: skip freeze if domain is not in running state
  cmd/virt-freezer/BUILD.bazel
  cmd/virt-freezer/virt-freezer.go
  cmd/virt-freezer/virt-freezer_suite_test.go
  cmd/virt-freezer/virt-freezer_test.go
  tests/storage/BUILD.bazel
  tests/storage/snapshot.go
Labels: size/L, sig/storage, release-note, lgtm, approved, dco-signoff: yes

#14764 virt-launcher,sidecars: Fix gRPC socket Collect corner case
  pkg/hooks/manager.go
Labels: size/M, area/launcher, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14692 Add "model" label to kubevirt_vm/i_vnic_info metrics
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Labels: kind/enhancement, size/M, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#14738 virt-controller, network: Fix absent interfaces cleaning
  pkg/network/controllers/vm.go
  pkg/network/controllers/vm_test.go
Labels: size/M, sig/network, area/controller, release-note, lgtm, approved, dco-signoff: yes

#14695 Volume Expansion: Fix online expansion by requeuing VMIs on PVC size change
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/storage.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Labels: kind/bug, size/M, area/controller, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#14781 Improve the readability of test_id:4119 failures
  tests/vm_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#14787 [release-1.5] virt-Freeze: skip freeze if domain is not in running state
  cmd/virt-freezer/BUILD.bazel
  cmd/virt-freezer/virt-freezer.go
  cmd/virt-freezer/virt-freezer_suite_test.go
  cmd/virt-freezer/virt-freezer_test.go
  tests/storage/BUILD.bazel
  tests/storage/snapshot.go
Labels: size/L, sig/network, area/launcher, area/controller, area/handler, sig/storage, area/virtctl, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/buildsystem, sig/observability

#14677 volume migration: fix validation of the volumes when the destination pvc/dv doesn't exist
  pkg/libvmi/vm.go
  pkg/storage/types/dv.go
  pkg/storage/types/pvc.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/volume-migration/volume-migration.go
  tests/storage/migration.go
Labels: kind/bug, size/L, area/controller, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14183 Adding MaxUnavailable to VMPool to ensure smoother update
  api/openapi-spec/swagger.json
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmpool-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmpool-admitter_test.go
  pkg/virt-controller/watch/common/events.go
  pkg/virt-controller/watch/pool/BUILD.bazel
  pkg/virt-controller/watch/pool/pool.go
  pkg/virt-controller/watch/pool/pool_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/pool/v1alpha1/BUILD.bazel
  staging/src/kubevirt.io/api/pool/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/pool/v1alpha1/types.go
  staging/src/kubevirt.io/api/pool/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/BUILD.bazel
  tests/pool_test.go
Labels: area/controller, area/api-server, size/XL, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute, needs-approver-review

#14782 [release-1.4] VMRestore+VM admission webhook: fix check of update VM during restore
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  tests/storage/restore.go
Labels: size/M, area/api-server, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#14810 fix(quarantine,monitoring): kubevirt_vmi_info test
  tests/monitoring/vm_monitoring.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#14808 [release-1.5] Volume Expansion: Fix online expansion by requeuing VMIs on PVC size change
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Labels: size/M, area/controller, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#14789 [release-1.4] virt-Freeze: skip freeze if domain is not in running state
  cmd/virt-freezer/BUILD.bazel
  cmd/virt-freezer/virt-freezer.go
  cmd/virt-freezer/virt-freezer_suite_test.go
  cmd/virt-freezer/virt-freezer_test.go
  tests/storage/BUILD.bazel
  tests/storage/snapshot.go
Labels: size/L, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#14745 tests: add login into the VM after volume migration and some fixes/refactoring
  tests/storage/migration.go
Labels: size/L, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes

#14805 Replace metric labels' none values with empty values
  go.mod
  go.sum
  go.work.sum
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/collector.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatorrules/registry.go
  vendor/github.com/machadovilaca/operator-observability/pkg/testutil/BUILD.bazel
  vendor/github.com/machadovilaca/operator-observability/pkg/testutil/fetch_metrics.go
  vendor/modules.txt
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#14823 Add Isovalent to ADOPTERS.md
  ADOPTERS.md
Labels: release-note, size/XS, lgtm, approved, dco-signoff: yes

#14827 virt-handler, net setup: Account for emulation
  pkg/util/util.go
  pkg/virt-controller/services/renderresources.go
  pkg/virt-handler/non-root.go
Labels: size/S, area/handler, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#14795 expectations: set to 0 instead of lowering by 1 in "binary" use-cases
  pkg/controller/expectations.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-handler/vm.go
Labels: size/S, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#14828 [virtctl] Properly pick up cobra onfigured streams in ssh command
  pkg/virtctl/ssh/native.go
  pkg/virtctl/ssh/ssh.go
Labels: size/S, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14658 Backend storage: Update backend logic so it works with restored PVCs
  pkg/storage/backend-storage/backend-storage.go
  pkg/storage/utils/volumes_test.go
  pkg/virt-controller/watch/migration/migration.go
Labels: kind/bug, area/controller, sig/storage, release-note, size/XS, lgtm, approved, dco-signoff: yes, sig/compute
