Repository kubevirt/kubevirt, pull requests merged in 2025-03, with the labels that each got.

#14010 Refactored virtctl configuration and improved formatting
  pkg/virtctl/configuration/configuration.go
Labels: size/S, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#13967 tests/operator.go: Drop waitForKvWithTimeout
  tests/operator/operator.go
  tests/testsuite/fixture.go
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#14075 cleanup(test,virtiofs): Use libvmi functions in migrations tests
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing

#14103 automation: Remove the filter for kubernetes version lower than v1.30
  automation/test.sh
  tests/decorators/decorators.go
  tests/infrastructure/security.go
  tests/validatingadmissionpolicy/noderestrictions.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#13941 NIC hotunplug: Rm plumbing after detachment from domain
  pkg/network/setup/filters.go
  pkg/network/setup/filters_test.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes

#14066 cleanup(tests): Keep calm, don't panic and expect errors not to occur
  tests/BUILD.bazel
  tests/events/BUILD.bazel
  tests/events/events.go
  tests/framework/checks/BUILD.bazel
  tests/framework/checks/skips.go
  tests/libinfra/BUILD.bazel
  tests/libinfra/leader.go
  tests/libstorage/datavolume.go
  tests/libstorage/pvc.go
  tests/libstorage/storageclass.go
  tests/monitoring/BUILD.bazel
  tests/monitoring/component_monitoring.go
  tests/storage/BUILD.bazel
  tests/storage/storage.go
  tests/testsuite/fixture.go
  tests/testsuite/kubevirtresource.go
  tests/testsuite/manifest.go
  tests/testsuite/namespace.go
  tests/testsuite/serviceaccount.go
  tests/util/BUILD.bazel
  tests/util/util.go
  tests/vmi_configuration_test.go
Labels: size/L, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/observability

#14071 pr-helper: create entrypoint to generate symlink to multipath socket
  cmd/pr-helper/BUILD.bazel
  cmd/pr-helper/entrypoint.sh
  cmd/pr-helper/multipath.conf
  pkg/virt-operator/resource/generate/components/daemonsets.go
Labels: kind/enhancement, size/S, sig/storage, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem, sig/scale

#14116 e2e,compute: Unquarantine subresource access test
  tests/infrastructure/cluster-profiler.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#14119 e2e: set a http client timeout for github requests
  tests/operator/operator.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#14023 virtctl, guestfs: Add --vm cmd line arg to guestfs
  pkg/virtctl/guestfs/BUILD.bazel
  pkg/virtctl/guestfs/guestfs.go
  pkg/virtctl/guestfs/guestfs_test.go
Labels: kind/enhancement, size/L, sig/storage, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14059 Make VMI controller lighter by moving storage logic into own files.
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/datavolumes.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-controller/watch/vmi/volume-hotplug.go
Labels: area/controller, sig/storage, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14081 net, e2e, link_state: Apply linter
  tests/network/link_state.go
Labels: size/M, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#14102 Fix: Actually wait for session or key
  pkg/virt-handler/vm.go
Labels: kind/bug, size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14037 [release-1.3] cleanup(virtctl): More robust VM decoding and minor cleanups in create vm unit and func tests
  pkg/virtctl/create/vm/BUILD.bazel
  pkg/virtctl/create/vm/vm_test.go
  tests/virtctl/BUILD.bazel
  tests/virtctl/create_instancetype.go
  tests/virtctl/create_preference.go
  tests/virtctl/create_vm.go
Labels: size/L, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#13982 tests, utils: Move DomainXML functions to a new package
  Makefile
  hack/lint-paths.txt
  tests/BUILD.bazel
  tests/compute/BUILD.bazel
  tests/compute/vmidefaults.go
  tests/hotplug/BUILD.bazel
  tests/hotplug/cpu.go
  tests/hotplug/memory.go
  tests/hyperv_test.go
  tests/launchsecurity/BUILD.bazel
  tests/launchsecurity/sev.go
  tests/libdomain/BUILD.bazel
  tests/libdomain/domain.go
  tests/mdev_configuration_allocation_test.go
  tests/migration/BUILD.bazel
  tests/migration/migration.go
  tests/network/BUILD.bazel
  tests/network/sriov.go
  tests/numa/BUILD.bazel
  tests/numa/numa.go
  tests/realtime/BUILD.bazel
  tests/realtime/realtime.go
  tests/reporter/BUILD.bazel
  tests/reporter/kubernetes.go
  tests/security_features_test.go
  tests/usb/BUILD.bazel
  tests/usb/usb.go
  tests/vm_test.go
  tests/vmi_configuration_test.go
  tests/vmi_controller_test.go
  tests/vmi_hook_sidecar_test.go
  tests/vmi_iothreads_test.go
  tests/vmi_multiqueue_test.go
  tests/vmi_vsock_test.go
Labels: size/L, sig/network, area/launcher, area/controller, area/handler, sig/storage, area/virtctl, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, sig/testing, sig/buildsystem

#14097 Nominate orelmisan for sig-network approver
  OWNERS_ALIASES
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#14114 net, e2e, vmi_infosource: Apply linter
  tests/network/vmi_infosource.go
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#14131 tests: Add 486-v1-x86_64-cpu to cpuDenyList
  tests/libnode/node.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/failing-test

#14137 cleanup(tests): Remove KubevirtTestIo label where not needed
  tests/libstorage/BUILD.bazel
  tests/libstorage/pvc.go
  tests/testsuite/BUILD.bazel
  tests/testsuite/serviceaccount.go
  tests/util/BUILD.bazel
  tests/util/labels.go
Labels: size/M, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#14144 migration controller: code cleanup
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
Labels: size/M, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#14118 template: set fsGroup unconditionally
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Labels: kind/bug, sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#14143 pkg.util.cluster: drop unused const
  pkg/util/cluster/cluster.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#14058 tests/clone_test: use guestless VM in ControllerRevisions test
  tests/clone_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#14138 [release-1.5] net, e2e, link state: Add missing assertion
  tests/network/link_state.go
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing

#13960 operator label propagation: convert to unit test
  pkg/virt-operator/BUILD.bazel
  pkg/virt-operator/kubevirt_test.go
  tests/operator/operator.go
Labels: size/L, release-note-none, area/operator, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#14175 hyperv_test:Replace large condition fetch and verification lambda function and merge tests
  tests/hyperv_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/testing

#14087 tests, network, sriov: Rm programmatic skip
  automation/test.sh
  tests/network/hotplug_sriov.go
  tests/network/sriov.go
Labels: size/S, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#14104 pkg/virtctl/version: code cleanups and refactoring (#14085)
  pkg/virtctl/version/version.go
Labels: size/M, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14101 deps: Bump libvirt, qemu and passt to support vhost-user network interface and live migration
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Labels: release-note, size/XXL, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#13870 virt-controller/watch/vmi: Bug Fix: Ensure Stuck Finalized Launcher Pods Are Deleted in virt-controller
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  tests/compute/vm_lifecycle.go
Labels: kind/bug, size/M, area/launcher, area/controller, release-note, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing

#14057 virt-api: use patchset instead of json string
  pkg/virt-api/rest/lifecycle.go
  pkg/virt-api/rest/memorydump.go
  pkg/virt-api/rest/sev.go
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-api/rest/volumes.go
Labels: size/L, area/api-server, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, needs-approver-review

#14083 tests, network, istio: Remove programmatic skip
  automation/repeated_test.sh
  tests/network/vmi_istio.go
Labels: size/S, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#14206 Fix linting issues in pkg/virtctl/clientconfig by naming return values
  hack/linter/lint-paths.txt
  pkg/virtctl/clientconfig/clientconfig.go
Labels: area/virtctl, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem

#14213 virt-handler: Improve event messages for SSH key sync
  pkg/virt-handler/vm.go
Labels: size/S, area/handler, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14217 Update module github.com/opencontainers/runc to v1.1.14 [SECURITY]
  go.mod
  go.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/cpu.go
  vendor/github.com/opencontainers/runc/libcontainer/system/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/system/linux.go
  vendor/github.com/opencontainers/runc/libcontainer/system/proc.go
  vendor/github.com/opencontainers/runc/libcontainer/system/rlimit_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/system/rlimit_linux_go122.go
  vendor/github.com/opencontainers/runc/libcontainer/system/rlimit_stub.go
  vendor/github.com/opencontainers/runc/libcontainer/system/syscall_linux_32.go
  vendor/github.com/opencontainers/runc/libcontainer/system/syscall_linux_64.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Labels: size/XL, release-note, lgtm, approved, dco-signoff: yes, sig/buildsystem

#14218 Update module golang.org/x/crypto to v0.35.0 [SECURITY]
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_x86.go
  vendor/golang.org/x/sys/unix/BUILD.bazel
  vendor/golang.org/x/sys/unix/auxv.go
  vendor/golang.org/x/sys/unix/auxv_unsupported.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsyscall_solaris_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_386.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_loong64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_s390x.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/dll_windows.go
  vendor/modules.txt
Labels: size/XL, release-note, lgtm, approved, kind/build-change, dco-signoff: yes

#13931 volume-migration: fix several bugs: volume mode evaluation, hotplug paths and cgroup allow list generation
  pkg/os/disk/disk.go
  pkg/virt-handler/cgroup/BUILD.bazel
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cgroup/util.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  tests/storage/migration.go
Labels: kind/bug, size/L, area/launcher, sig/storage, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14226 tests,sriov: Add missing sig-network decorator
  tests/network/sriov.go
Labels: sig/network, size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#14237 release.sh: relabel the contents of the volumes with a private SELinu…
  hack/release.sh
Labels: size/XS, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#14230 testsuite: disable guest graphics by default
  pkg/libvmi/devices.go
  tests/compute/subresources/expandspec.go
  tests/mdev_configuration_allocation_test.go
  tests/testsuite/fixture.go
  tests/virt-handler_test.go
  tests/virtctl/vnc.go
  tests/vmi_configuration_test.go
  tests/vmi_headless_test.go
  tests/vmi_lifecycle_test.go
  tests/vnc_test.go
Labels: size/M, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing

#14174 Use Expect instead of Consistently
  pkg/virt-config/configuration_test.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute, sig/testing

#14250 Cleanup: Remove redundant size capacity, handle potential nil pointer dereference, replace an empty slice with nil
  pkg/virt-handler/cache/cache.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/device-manager/device_controller.go
  pkg/virt-handler/device-manager/usb_device.go
  pkg/virt-handler/device-manager/usb_device_test.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount_test.go
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/vm.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup, sig/compute

#14251 migration controller: re-add rate limit and delay to queue adds
  pkg/virt-controller/watch/migration/migration.go
Labels: kind/bug, area/controller, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14252 pkg/storage/snapshot: Remove illogical condition
  pkg/storage/snapshot/snapshot.go
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#14222 Update module golang.org/x/net to v0.36.0 [SECURITY]
  go.mod
  go.sum
  vendor/golang.org/x/net/context/BUILD.bazel
  vendor/golang.org/x/net/context/context.go
  vendor/golang.org/x/net/context/go17.go
  vendor/golang.org/x/net/context/go19.go
  vendor/golang.org/x/net/context/pre_go17.go
  vendor/golang.org/x/net/context/pre_go19.go
  vendor/golang.org/x/net/http2/BUILD.bazel
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/internal/httpcommon/BUILD.bazel
  vendor/golang.org/x/net/internal/httpcommon/ascii.go
  vendor/golang.org/x/net/internal/httpcommon/headermap.go
  vendor/golang.org/x/net/internal/httpcommon/request.go
  vendor/golang.org/x/net/proxy/per_host.go
  vendor/modules.txt
Labels: sig/security, release-note, size/XXL, lgtm, approved, dco-signoff: yes

#14256 feature gates: graduate VMPersistentState to Beta
  pkg/virt-config/featuregate/active.go
Labels: size/XS, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes

#14257 e2e: write file in tmpfs for reset test
  tests/compute/subresources/reset.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#14051 Decouple usbredir e2e test from pkg/virtctl/usbredir
  pkg/virtctl/usbredir/client.go
  pkg/virtctl/usbredir/usbredir.go
  pkg/virtctl/usbredir/usbredir_default.go
  tests/BUILD.bazel
  tests/compute/subresources/BUILD.bazel
  tests/compute/subresources/usbredir.go
  tests/usbredir_test.go
  tests/virtctl/BUILD.bazel
  tests/virtctl/usbredir.go
Labels: area/virtctl, size/XL, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing, sig/buildsystem

#14225 virtctl: Fix linting issues in pkg/virtctl/create/params
  hack/linter/lint-paths.txt
  pkg/virtctl/create/params/params.go
  pkg/virtctl/create/params/params_test.go
Labels: size/M, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem

#14191 linter: Add tests/conformance to lint paths
  hack/linter/lint-paths.txt
  tests/conformance/conformance.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#14068 VM Rollout Strategy: default to LiveUpdate
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/configuration_test.go
  pkg/virt-config/virt-config.go
  pkg/virt-controller/watch/vm/vm_test.go
  tests/hotplug/affinity.go
  tests/hotplug/tolerations.go
Labels: size/M, area/controller, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#14215 Update module golang.org/x/oauth2 to v0.27.0 [SECURITY]
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/modules.txt
Labels: size/M, release-note, lgtm, approved, kind/build-change, dco-signoff: yes

#14096 VMSnapshot: add QuiesceFailed indication to snapshot if freeze failed
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types.go
  tests/storage/snapshot.go
Labels: size/L, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes

#14278 Assign vladikr, enp0s3 and xpivarc as sig-compute approvers
  OWNERS_ALIASES
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14279 fix: dequarantine [test_id:1678]
  tests/vmi_configuration_test.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing

#14065 feature-gates: GA VMPersistentState
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/inactive.go
  tests/testsuite/kubevirtresource.go
Labels: size/M, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, sig/compute

#14297 [release-1.5] chore(deps): update module golang.org/x/crypto to v0.35.0 [security]
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_x86.go
  vendor/golang.org/x/sys/unix/BUILD.bazel
  vendor/golang.org/x/sys/unix/auxv.go
  vendor/golang.org/x/sys/unix/auxv_unsupported.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/zsyscall_solaris_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_386.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_arm64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_loong64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_s390x.go
  vendor/golang.org/x/sys/unix/zsysnum_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/dll_windows.go
  vendor/modules.txt
Labels: size/XL, release-note, lgtm, approved, kind/build-change, dco-signoff: yes

#14313 fix(reset): check boot time instead file
  tests/compute/subresources/BUILD.bazel
  tests/compute/subresources/reset.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake

#14290 tests: Fail if command is not found
  hack/ci/entrypoint.sh
  hack/functests.sh
  hack/kwok-perftests.sh
  hack/perftests.sh
  hack/realtime-perftests.sh
  tests/access_test.go
  tests/clientcmd/command.go
  tests/flags/flags.go
  tests/kubectl_test.go
  tests/replicaset_test.go
  tests/vm_test.go
  tests/vmi_hook_sidecar_test.go
Labels: size/M, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#14321 Reset subresource test: check that boot time string is not empty
  tests/compute/subresources/reset.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing

#14286 Register k8s client-go latency metrics on init
  pkg/monitoring/metrics/common/client/metrics.go
Labels: size/S, release-note, lgtm, approved, dco-signoff: yes, sig/observability

#14050 featuregates: Graduate InstancetypeReferencePolicy to GA
  pkg/instancetype/controller/vm/BUILD.bazel
  pkg/instancetype/controller/vm/controller_test.go
  pkg/virt-config/BUILD.bazel
  pkg/virt-config/configuration_test.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/inactive.go
  pkg/virt-config/virt-config.go
  tests/instancetype/BUILD.bazel
  tests/instancetype/reference_policy.go
Labels: size/L, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/api, needs-approver-review

#13977 ci: narrow down re-run tests to changed tests only
  automation/repeated_test.sh
Labels: size/L, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem, sig/ci

#14238 Split vmi controller into smaller, more maintainable parts
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/datavolumes.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/storage.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/volume-hotplug.go
  tests/storage/migration.go
Labels: area/controller, sig/storage, size/XXL, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14047 instancetype: Clean up and remove InstancetypeMethods
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/controller/vm/BUILD.bazel
  pkg/instancetype/controller/vm/controller_test.go
  pkg/instancetype/instancetype.go
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/testutils/BUILD.bazel
  pkg/testutils/mock_instancetype.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virtctl/create/preference/BUILD.bazel
  pkg/virtctl/create/preference/preference.go
  tests/instancetype/BUILD.bazel
  tests/instancetype/upgrade.go
Labels: size/L, area/controller, sig/storage, area/virtctl, release-note-none, kind/api-change, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute

#14108 Add interface name label to kubevirt_vmi_status_addresses
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
Labels: kind/enhancement, size/M, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, sig/observability

#14283 Nominate dasionov as a sig-compute reviewer
  OWNERS_ALIASES
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14328 Stop reading cpuset in unit tests
  cmd/virt-launcher/virt-launcher.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Labels: size/L, area/launcher, release-note, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing

#14316 Improve the TPM API by allowing users to explicitly disable the device from the VM/VMI
  api/openapi-spec/swagger.json
  pkg/instancetype/preference/apply/device_test.go
  pkg/storage/backend-storage/BUILD.bazel
  pkg/storage/backend-storage/backend-storage.go
  pkg/tpm/BUILD.bazel
  pkg/tpm/tpm.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Labels: size/L, area/launcher, sig/storage, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/api

#14048 virt-operator, instancetype: Stop serving v1alpha{1,2} versions
  pkg/virt-operator/resource/generate/components/crds.go
  tests/instancetype/instancetype.go
  tests/instancetype/upgrade.go
Labels: size/L, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, area/instancetype, kind/deprecation, sig/compute, sig/api, needs-approver-review

#14311 net, vm ctrl: Drop dependency on pod informer
  pkg/network/controllers/BUILD.bazel
  pkg/network/controllers/vm.go
  pkg/network/controllers/vm_test.go
  pkg/network/namescheme/networknamescheme.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
Labels: size/L, sig/network, area/controller, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute

#14325 fix the disk-images provider for s390x.
  images/disks-images-provider/BUILD.bazel
Labels: kind/bug, release-note, size/XS, lgtm, approved, dco-signoff: yes, sig/buildsystem

#14270 instancetype, webhooks: Extract admission tests
  pkg/instancetype/webhooks/vm/BUILD.bazel
  pkg/instancetype/webhooks/vm/admitter_test.go
  pkg/instancetype/webhooks/vm/vm_suite_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Labels: size/XL, release-note-none, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/testing

#14273 net, setup: Consolidate network filtering logic
  pkg/network/setup/filters.go
  pkg/network/setup/filters_test.go
  pkg/network/vmispec/BUILD.bazel
  pkg/network/vmispec/hotplug.go
  pkg/network/vmispec/hotplug_test.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#14293 VMLiveUpdateFeaturesGate: Correct GA version
  pkg/virt-config/featuregate/inactive.go
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes

#14309 pr: fix the access to multipath socket and config file
  cmd/pr-helper/entrypoint.sh
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/filewatcher/BUILD.bazel
  pkg/virt-handler/filewatcher/filewatcher.go
  pkg/virt-handler/filewatcher/filewatcher_suite_test.go
  pkg/virt-handler/filewatcher/filewatcher_test.go
  pkg/virt-handler/multipath-monitor/BUILD.bazel
  pkg/virt-handler/multipath-monitor/generated_mock_multipath_monitor.go
  pkg/virt-handler/multipath-monitor/multipath_monitor.go
  pkg/virt-handler/multipath-monitor/multipath_monitor_suite_test.go
  pkg/virt-handler/multipath-monitor/multipath_monitor_test.go
  pkg/virt-handler/vm.go
  pkg/virt-operator/resource/generate/components/daemonsets.go
  tests/storage/reservation.go
Labels: kind/bug, area/handler, sig/storage, size/XL, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#14337 net, admitter: Remove SLIRP validation
  pkg/network/admitter/admit_suite_test.go
  pkg/network/admitter/slirp.go
  pkg/network/admitter/slirp_test.go
  pkg/network/admitter/validator.go
  pkg/virt-config/configuration_test.go
  pkg/virt-config/virt-config.go
Labels: size/L, sig/network, release-note-none, lgtm, approved, dco-signoff: yes, kind/cleanup

#14288 Don't expose as VMI status the implicit qemu domain pause at the end of live migration
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Labels: size/L, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#14350 [release 1.4] pr: fix the access to multipath socket and config file
  cmd/pr-helper/entrypoint.sh
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/filewatcher/BUILD.bazel
  pkg/virt-handler/filewatcher/filewatcher.go
  pkg/virt-handler/filewatcher/filewatcher_suite_test.go
  pkg/virt-handler/filewatcher/filewatcher_test.go
  pkg/virt-handler/multipath-monitor/BUILD.bazel
  pkg/virt-handler/multipath-monitor/generated_mock_multipath_monitor.go
  pkg/virt-handler/multipath-monitor/multipath_monitor.go
  pkg/virt-handler/multipath-monitor/multipath_monitor_suite_test.go
  pkg/virt-handler/multipath-monitor/multipath_monitor_test.go
  pkg/virt-handler/vm.go
  pkg/virt-operator/resource/generate/components/daemonsets.go
  tests/storage/reservation.go
Labels: kind/bug, sig/storage, size/XL, release-note, lgtm, approved, dco-signoff: yes, sig/compute

#13993 Enable buildifier prebuilt for s390x
  BUILD.bazel
  WORKSPACE
  bazel/toolchain/aarch64-none-linux-gnu/BUILD
  bazel/toolchain/s390x-none-linux-gnu/BUILD
  bazel/toolchain/x86_64-none-linux-gnu/BUILD
  cmd/sidecars/BUILD.bazel
  cmd/sidecars/cloudinit/BUILD.bazel
  cmd/sidecars/disk-mutation/BUILD.bazel
  cmd/sidecars/network-passt-binding/BUILD.bazel
  cmd/sidecars/network-slirp-binding/BUILD.bazel
  cmd/sidecars/smbios/BUILD.bazel
  cmd/virt-api/BUILD.bazel
  cmd/virt-controller/BUILD.bazel
  cmd/virt-exportproxy/BUILD.bazel
  cmd/virt-exportserver/BUILD.bazel
  cmd/virt-handler/BUILD.bazel
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-operator/BUILD.bazel
  cmd/virtctl/BUILD.bazel
  hack/bootstrap.sh
  images/winrmcli/BUILD.bazel
  pkg/handler-launcher-com/cmd/info/BUILD.bazel
  pkg/handler-launcher-com/cmd/v1/BUILD.bazel
  pkg/handler-launcher-com/notify/info/BUILD.bazel
  pkg/handler-launcher-com/notify/v1/BUILD.bazel
  pkg/hooks/info/BUILD.bazel
  pkg/hooks/v1alpha1/BUILD.bazel
  pkg/hooks/v1alpha2/BUILD.bazel
  pkg/hooks/v1alpha3/BUILD.bazel
  pkg/vsock/system/v1/BUILD.bazel
  rpm/BUILD.bazel
  tests/BUILD.bazel
  tests/conformance/BUILD.bazel
Labels: size/L, sig/network, area/launcher, area/handler, sig/storage, area/virtctl, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/compute, sig/buildsystem, needs-approver-review

#14352 [release 1.3] pr: fix the access to multipath socket and config file
  cmd/pr-helper/entrypoint.sh
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/filewatcher/BUILD.bazel
  pkg/virt-handler/filewatcher/filewatcher.go
  pkg/virt-handler/filewatcher/filewatcher_suite_test.go
  pkg/virt-handler/filewatcher/filewatcher_test.go
  pkg/virt-handler/multipath-monitor/BUILD.bazel
  pkg/virt-handler/multipath-monitor/generated_mock_multipath_monitor.go
  pkg/virt-handler/multipath-monitor/multipath_monitor.go
  pkg/virt-handler/multipath-monitor/multipath_monitor_suite_test.go
  pkg/virt-handler/multipath-monitor/multipath_monitor_test.go
  pkg/virt-handler/vm.go
  pkg/virt-operator/resource/generate/components/daemonsets.go
  tests/storage/reservation.go
Labels: kind/bug, sig/storage, size/XL, release-note, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem

#14207 chore(linter): Fix linting errors and warnings within the config
  hack/linter/.golangci.yml
Labels: size/S, release-note-none, lgtm, approved, kind/build-change, dco-signoff: yes, sig/buildsystem

#14355 Escape arg passed to ginkgo --focus in flake lane
  automation/repeated_test.sh
Labels: sig/storage, size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, kind/flake, sig/buildsystem

#14219 instancetype: Stop rejecting vm if not found by webhooks
  pkg/instancetype/controller/vm/controller.go
  pkg/instancetype/controller/vm/controller_test.go
  pkg/instancetype/webhooks/vm/admitter.go
  pkg/instancetype/webhooks/vm/admitter_test.go
  tests/framework/matcher/conditions.go
  tests/framework/matcher/conditions_test.go
  tests/instancetype/instancetype.go
Labels: size/L, release-note, kind/api-change, lgtm, approved, dco-signoff: yes, area/instancetype, sig/compute, sig/api

#14354 e2e,compute-migration: Reduce the number of parallel tests run in compute-migrations test lane
  automation/test.sh
Labels: size/XS, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing, kind/flake, sig/buildsystem

#14362 Revert "W/A NFS server becoming unreachable mid run"
  hack/cluster-deploy.sh
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/buildsystem

#14369 fix(check flakes): improve regex escaping
  automation/repeated_test.sh
Labels: kind/bug, size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/testing, sig/buildsystem

#14346 migrations,e2e: Quarantine flaky compute-migrations tests
  tests/migration/migration.go
  tests/migration/postcopy.go
  tests/vm_state_test.go
Labels: size/S, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/testing, kind/flake

#14069 [release-1.2] Collect resource requests and limits from VM instance type/preference
  pkg/instancetype/instancetype.go
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/metrics.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
  pkg/testutils/mock_instancetype.go
  pkg/virt-controller/watch/application.go
  tools/doc-generator/doc-generator.go
Labels: kind/enhancement, size/L, release-note, lgtm, approved, dco-signoff: yes, area/monitoring, area/instancetype, sig/compute, sig/buildsystem, sig/scale, sig/observability

#14274 Chore/14198/resolve lint warnings in create-vm logic
  hack/linter/lint-paths.txt
  pkg/virtctl/create/vm/params.go
  pkg/virtctl/create/vm/vm.go
  pkg/virtctl/create/vm/vm_test.go
Labels: size/L, area/virtctl, release-note-none, lgtm, approved, dco-signoff: yes, sig/compute, sig/buildsystem
